<div class="modal-content">

    <style>
    .text-nowrap.btn-group { white-space: nowrap; }
    .text-nowrap.btn-group > .btn {
        float: none;
        display: inline-block;
    }
    </style>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeThisDialog()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">
            Actions - {{commitDialogCtrl.user.firstName}} {{commitDialogCtrl.user.lastName}}
        </h3>
        {{commitDialogCtrl.user.email}}
    </div>

    <div class="modal-body">

        <!-- ROLES -->

        <table class="table">


            <tr ng-if="!commitDialogCtrl.user.userID">
                <td colspan="3">
                    <b>User to be created:</b>
                </td>
            </tr>

            <tr ng-if="!commitDialogCtrl.user.userID" ng-class="{ success : commitDialogCtrl.user.success, danger : commitDialogCtrl.user.error }">
                <td style="vertical-align:middle;width:2em">
                    <i class="fa fa-fw" ng-class="{ 'fa-cog' : commitDialogCtrl.user.loading, 'fa-spin' : commitDialogCtrl.user.loading, 'fa-check' : commitDialogCtrl.user.success, 'fa-plus-circle' : !(commitDialogCtrl.user.loading||commitDialogCtrl.user.success) }" style="font-size:150%"></i>
                </td>
                <td style="width:90%">
                        {{commitDialogCtrl.user.firstName}} {{commitDialogCtrl.user.lastName}} ({{commitDialogCtrl.user.email}})<br>
                        {{commitDialogCtrl.user.organization}}
                    </i>
                </td>
                <td style="width:5%">
                    {{commitDialogCtrl.user.error}}
                </td>
            </tr>

            <tr ng-if="commitDialogCtrl.rolesToGrant.length">
                <td colspan="3">
                    <b>Role(s) to be granted:</b>
                </td>
            </tr>

            <tr ng-repeat="role in commitDialogCtrl.rolesToGrant" ng-class="{ success : role.success, danger : role.error }">
                <td style="vertical-align:middle;width:2em">
                    <i class="fa fa-fw" ng-class="{ 'fa-cog' : role.loading, 'fa-spin' : role.loading, 'fa-check' : role.success, 'fa-plus-circle' : !(role.loading||role.success) }" style="font-size:150%"></i>
                </td>
                <td style="width:90%">
                    <i>{{commitDialogCtrl.roles[role.roleId].name}}</i>
                </td>
                <td style="width:5%">
                    {{role.error}}
                </td>
            </tr>

            <tr ng-if="commitDialogCtrl.rolesToRevoke.length">
                <td colspan="3">
                    <b>Role(s) to be revoked:</b>
                </td>
            </tr>

            <tr ng-repeat="role in commitDialogCtrl.rolesToRevoke" ng-class="{ success : role.success, danger : role.error }">
                <td style="vertical-align:middle;width:2em">
                    <i class="fa fa-fw" ng-class="{ 'fa-cog' : role.loading, 'fa-spin' : role.loading, 'fa-check' : role.success, 'fa-minus-circle' : !(role.loading||role.success) }" style="font-size:150%"></i>
                </td>
                <td style="width:90%">
                    <i>{{commitDialogCtrl.roles[role.roleId].name}}</i>
                </td>
                <td style="width:5%">
                    {{role.error}}
                </td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" aria-label="Close" ng-click="closeThisDialog()">Cancel</button>
        <button type="button" class="btn btn-primary" aria-label="Save" ng-click="commitDialogCtrl.save()" ng-disabled="commitDialogCtrl.loading">Proceed with nomination »</button>
    </div>
</div>
