<div class="viewForm">

	<legend>General information</legend>

	<h2>{{document.title | lstring:locale}}</h2>

	<div ng-show="document.projectNumber">
		<label>Project number or identifier</label>
		<div class="km-value km-pre">{{document.projectNumber | lstring:locale}}</div>
	</div>
	<div ng-show="document.projectDocument">
		<label>Project document or document describing the initiative</label>
		<div class="km-value" ng-repeat="item in document.projectDocument">
			<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
			<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
		</div>
	</div>

	<div ng-show="document.contacts">
		<label>Contact person(s)</label>
		<div class="km-value" ng-repeat="contact in document.contacts">
			<div view-contact-reference ng-model="contact" locale="locale"></div>
		</div>
	</div>
	<div ng-show="geographicScope">
		<label>Geographic Scope</label>
		<span class="km-value" ng-bind="geographicScope | term:locale"></span><span ng-show="customValue">(<span ng-bind="customValue | lstring:locale"></span>)</span>
	</div>

	<!--showing combine both-->
	<div ng-show="document.countryRegions">
		<label>Geographical or political/economic group(s) and/or country(ies)</label>
		<div class="km-value">
			<ul  class="list">
				<li ng-repeat="val in document.countryRegions" ng-bind="val | term:locale"></li>
			</ul>
		</div>
	</div>

	<div ng-show="document.status">
		<label>Status of the document</label>
		<span class="km-value">{{document.status | term:locale}} </span>
	</div>
	<div ng-show="(document.startDate && document.endDate) || document.durationPeriod || document.durationText">
		<div class="row" ng-show="document.startDate && document.endDate">
			<div class="col-md-6">
				<label>Start date</label>
				<div class="km-value km-pre">{{document.startDate | date : 'longDate'}}</div>
			</div>
			<div class="col-md-6">
				<label>End date</label>
				<div class="km-value km-pre">{{document.endDate | date : 'longDate'}}</div>
			</div>
		</div>

		<div ng-show="document.durationPeriod || document.durationText">
			<label>Duration</label>
			<div class="km-value km-pre">{{document.durationPeriod}} {{document.durationText | lstring:locale}} </div>
		</div>
	</div>

	<div ng-show="document.activityScope">
		<label>Type of capacity development initiative</label>
		<ul class="km-value">
			<li ng-repeat="term in document.activityScope">{{term | term:locale}}</li>
		</ul>
	</div>

	<div ng-show="document.capacityBuildingType.isProjectProgramme">
		<label>Is this part of a larger project or programme?</label>
		<div class="km-value km-pre" ng-if="document.capacityBuildingType.isProjectProgramme">Yes</div>
		<div class="km-value km-pre" ng-if="!document.capacityBuildingType.isProjectProgramme">No</div>
	</div>

	<div ng-show="document.projectProgrammeName">
		<label>Please specify the name of project or programme.</label>
		<div class="km-value km-pre">{{document.projectProgrammeName | lstring:locale}}</div>
	</div>

	<div>
		<div ng-if="document.capacityBuildingType.broaderProjects">
			<label>Broader projects</label>
			<div class="km-value">
				<ul class="list">
					<li ng-repeat="item in document.capacityBuildingType.broaderProjects">
						<div view-default-reference ng-model="item.identifier" locale="locale"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div ng-show="document.isImplementedByAgencies || document.isExecutededByAgencies || document.isCollaboratededByPartners">

		<div ng-show="document.isImplementedByAgencies && document.implementingAgencies">
		  	<label>Implementing agency(ies) or organization(s)</label>

			<div class="km-value" ng-repeat="org in implementingOrganizations">
				<strong>{{org.name | lstring:locale}} <i ng-show="org.acronym">({{org.acronym | lstring:locale}})</i></strong>
				<div>{{org.organizationType | term:locale}}</div>
			</div>
		</div>

		<div ng-show="document.isExecutededByAgencies && document.executingAgencies">
		  	<label>Executing agency(ies) or organization(s)</label>

			<div class="km-value" ng-repeat="org in executingOrganizations">
				<strong>{{org.name | lstring:locale}} <i ng-show="org.acronym">({{org.acronym | lstring:locale}})</i></strong>
				<div>{{org.organizationType | term:locale}}</div>
			</div>
		</div>

		<div ng-show="document.collaboratingPartners && document.collaboratingPartners">
			<label>Collaborating partner(s)</label>

			<div class="km-value" ng-repeat="org in collaboratingOrganizations">
				<strong>{{org.name | lstring:locale}} <i ng-show="org.acronym">({{org.acronym | lstring:locale}})</i></strong>
				<div>{{org.organizationType | term:locale}}</div>
			</div>
		</div>

	</div>

	<legend>Detailed information</legend>

	<div ng-show="document.description">
		<label>Short description of the initiative, including its goals and objectives (max 150 words)</label>
		<div class="km-value km-pre">{{document.description | lstring:locale}}</div>
	</div>

	<div ng-show="document.categories">
		<label>Category(ies) of capacity development activities</label>
		<ul class="km-value">
			<li ng-repeat="term in document.categories">{{term | term:locale}}</li>
		</ul>
	</div>

	<div ng-show="document.targetGroups">
		<label>Target group(s)/beneficiaries</label>
		<ul class="km-value">
			<li ng-repeat="term in document.targetGroups">{{term | term:locale}}</li>
		</ul>
	</div>

	<legend>Information on thematic coverage of the initiative</legend>
		<div ng-show="document.cbdSubjects">
			<div ng-show="document.cbdSubjects">
				<label>Related subject area(s)</label>
				<ul class="km-value">
					<li ng-repeat="term in document.cbdSubjects">{{term | term:locale}}</li>
				</ul>
			</div>
		</div>
		<div ng-show="document.cpbThematicAreas">

			<legend>Cartagena Protocol on Biosafety</legend>

			<div ng-show="document.cpbThematicAreas">
				<label>Thematic areas(s)</label>
				<ul class="km-value">
					<li ng-repeat="term in document.cpbThematicAreas">{{term | term:locale}}</li>
				</ul>
			</div>
		</div>

	<div ng-show="document.absKeyAreas || document.aichiTargets">

		<div ng-show="document.absKeyAreas">
			<legend>Access and Benefit Sharing Clearing-House (ABS-CH)</legend>

			<label>Key areas and strategic measures for capacity-building and development</label>
			<ul class="km-value">
				<li ng-repeat="term in document.absKeyAreas">{{term | term:locale}}</li>
			</ul>

		</div>
		
		<div ng-show="document.aichiTargets">
			<div ng-show="document.aichiTargets">
				<label>Related Aichi Biodiversity Target(s)</label>
				<ul class="km-value">
					<li ng-repeat="term in document.aichiTargets">{{term | term:locale}}</li>
				</ul>
			</div>
		</div>
	</div>



	<legend>Information on funding</legend>

	<div ng-show="document.fundingSourceTypes">
		<label>Type(s) of funding source</label>
		<ul class="km-value">
			<li ng-repeat="term in document.fundingSourceTypes">{{term | term:locale}}</li>
		</ul>
	</div>

	<div ng-show="document.coreFundingSources">
		<label>Core funding-source(s)</label>

		<div class="km-value" ng-repeat="org in coreFundingOrganizations">
			<strong>{{org.name | lstring:locale}} <i ng-show="org.acronym">({{org.acronym | lstring:locale}})</i></strong>
			<div>{{org.organizationType | term:locale}}</div>
		</div>

	</div>

	<div xng-show="document.coFinancingSources">
		<label>Co-financing source(s)</label>

		<div class="km-value" ng-repeat="org in coFinancingOrganizations">
			<strong>{{org.name | lstring:locale}} <i ng-show="org.acronym">({{org.acronym | lstring:locale}})</i></strong>
			<div>{{org.organizationType | term:locale}}</div>
		</div>
	</div>

	<div ng-show="document.totalBudget">
		<label>Total budget (amount, in US dollars)</label>
		<div class="km-value km-pre">{{document.totalBudget | currency:"USD$"}}</div>
	</div>

	<div ng-show="document.resultsAchievements || document.resultsOutputs || document.bestPractices">
		<legend>Capacity-building outcomes</legend>

		<div ng-show="document.resultsAchievements">
			<label>Results</label>
			<div class="km-value km-pre">{{document.resultsAchievements | lstring:locale}}</div>
		</div>

		<div ng-show="document.resultsOutputs">
			<label>Main outputs</label>
			<div class="km-value" ng-repeat="item in document.resultsOutputs">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
			</div>
		</div>

		<div ng-show="document.bestPractices">
			<label>Best practices and lessons learned</label>
			<div class="km-value km-pre">{{document.bestPractices | lstring:locale}}</div>
		</div>
	</div>


	<div ng-show="document.relevantInformation||document.relevantDocuments">
		<legend>Additional Information</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>Other relevant website address or attached documents</label>
			<div class="km-value" ng-repeat="item in document.relevantDocuments">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
			</div>
		</div>
	</div>
</div>
