<div class="viewForm">



	<h2>{{document.title | lstring:locale}}</h2>

	<!--<div class="row" ng-show="document.startDate || document.endDate">

		<div class="col-md-3 col-sm-4" ng-show="document.startDate">
			<label>Time period from</label>
			<div class="km-value km-pre">{{document.startDate}}</div>
		</div>

		<div class="col-md-3 col-sm-4" ng-show="document.endDate">
			<label>Time period to</label>
			<div class="km-value km-pre">{{document.endDate}}</div>
		</div>

	</div>

	<div ng-show="document.websites">
		<label>Web Sites</label>
		<ul class="km-value">
			<li ng-repeat="item in document.websites">
				<a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="document.homepage">({{item.url}})</i>
			</li>
		</ul>
	</div>


		<div ng-show="document.profileLink">
			<label>Organization’s profile</label>
			<ul class="km-value">
				<li ng-repeat="item in document.logo">
					<a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
					<i ng-show="item.name">({{item.url}})</i>
				</li>
			</ul>
		</div> -->


</div>
