<div id="printContentHeader" style="border-bottom:1px solid #ddd">
    <div class="row" style="padding-bottom:30px;">
        <div class="col-xs-1">
        </div>

        <div class="col-xs-3" style="text-align:center;">
            <img style="width:60px;" src="https://absch.cbd.int/app/img/UNEP_logo.svg" />
        </div>
        <div class="col-xs-4" style="text-align:center;padding-top:5px;">
            <img src="https://absch.cbd.int/app/img/cbd-logo-print-black-en.png" style="max-width:160px;"/>
        </div>
        <div class="col-xs-3" style="text-align:center;">
            <img style="width:70px;padding-top:5px;" src="https://absch.cbd.int/app/img/Emblem_of_the_United_Nations.svg" />
        </div>
    </div>
    <div class="color-grey" ng-class="{'arabic-chm-text' : locale=='ar'}"
        style="text-transform:uppercase;font-size:20px;text-align:center;">
        The Clearing-House Mechanism of the Convention on Biological Diversity
    </div>
</div>
