<div class="viewForm">

	<h2>{{document.title | lstring:locale}}</h2>

	<div ng-show="document.resourceTypes">
		<label>Type of resource</label>

		<ul class="km-value">
			<li ng-repeat="resourceType in document.resourceTypes">{{resourceType | term:locale}}</li>
		</ul>
	</div>
	<div ng-show="document.authors">
		<label>Author name(s)</label>
		<div class="km-value km-pre">{{document.authors | lstring:locale}}</div>
	</div>
	<div ng-show="organizations && organizations.length > 0">
		<label>Reference to the authoring organisation(s)</label>
		<div class="km-value km-pre" ng-repeat="item in organizations">
			<b>{{item.document.name|lstring:locale}} ({{item.document.acronym|lstring:locale}})</b>
		</div>
	</div>
	<div ng-show="document.publisher">
		<label>Publisher</label>
		<div class="km-value km-pre">{{document.publisher | lstring:locale}}</div>
	</div>
	<div ng-show="document.publicationDate">
		<label>Publication date</label>
		<div class="km-value">{{document.publicationDate}}</div>
	</div>
	
	<div ng-show="document.source">
		<label>Source</label>
		<div class="km-value km-pre">{{document.source | lstring:locale}}</div>
	</div>

	<div ng-show="document.rights">
		<label>Rights</label>
		<div class="km-value km-pre">{{document.rights | lstring:locale}}</div>
	</div>

	<div ng-show="document.resourceLinks || document.covers">
		<legend>Access to the resource(s)</legend>

		<div ng-show="document.resourceLinks">
			<label>Link to the resource(s)</label>
			<div class="km-value" ng-repeat="item in document.resourceLinks">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
			</div>
		</div>
		<div ng-show="document.covers">
			<label >Cover image(s)</label>
			<div class="km-value">
				<a translation-url ng-repeat="link in document.covers" ng-href="{{link.url}}" target="{{target}}">
					<img class="img-polaroid" ng-src="{{link.url}}" alt="{{link.name}}" style="max-height: 150px; max-width: 150px" />
				</a>
			</div>
		</div>
	</div>
	<div ng-show="document.summary || document.regions">
		<legend>Information on the content of resource</legend>
		<div ng-show="document.summary">
			<label>Summary</label>
			<div class="km-value km-pre">{{document.summary | lstring:locale}}</div>
		</div>

		<div ng-show="document.regions">
			<legend>Resource references</legend>

			<label>Country(ies), Regional or Economic group(s) related to the resource</label>
			<ul class="km-value">
				<li ng-repeat="term in document.regions | orderBy:name">{{term | term:locale}}</li>
			</ul>
		</div>
	</div>

	
	<div ng-show="document.cbdSubjects">
		<legend>Keywords for facilitating searching for information in the clearing-houses</legend>

		<legend>Clearing-House Mechanism (CHM)</legend>

		<div ng-show="document.cbdSubjects">
			<label>Related CBD Subject area(s)</label>
			<ul class="km-value">
				<li ng-repeat="term in document.cbdSubjects">{{term | term:locale}}</li>
			</ul>
		</div>
	</div>

	<div ng-show="document.targetGroups">
		<label>Target group(s)/beneficiary(ies)</label>

		<ul class="km-value">
			<li ng-repeat="group in document.targetGroups">{{group | term:locale}}</li>
		</ul>
	</div>
	<div ng-show="document.expertiseLevel">
		<label>Level of the content or   level of knowledge/expertise of the audience for which the resource is intended</label>

		<div class="km-value km-pre">{{document.expertiseLevel | term:locale}}</div>
	</div>

	<div ng-show="document.nagoya.subjects || document.nagoya.keyAreas">
		<legend>Access and Benefit Sharing Clearing-House (ABS-CH)</legend>

		<div ng-show="document.nagoya.subjects">

			<label>ABS thematic areas(s)</label>
			<ul class="km-value">
				<li ng-repeat="term in document.nagoya.subjects">{{term | term:locale}}</li>
			</ul>
		</div>

		<div ng-show="document.nagoya.keyAreas">

			<label>Key areas and strategic measures for capacity-building and development</label>
			<ul class="km-value">
				<li ng-repeat="term in document.nagoya.keyAreas">{{term | term:locale}}</li>
			</ul>
		</div>
	</div>

	<div ng-show="document.biosafety.subjects">

		<legend>Keywords related to Biosafety</legend>

		<div ng-show="document.biosafety.subjects">
			<label>Biosafety thematic areas(s)</label>
			<ul class="km-value">
				<li ng-repeat="term in document.biosafety.subjects">{{term | term:locale}}</li>
			</ul>
		</div>

	</div>

	<div ng-show="document.gbfTargets || document.aichiTargets">

		<legend>Keywords</legend>

		<div ng-show="document.gbfTargets">
			<label>Related Kunming-Montreal Global Biodiversity Framework Target(s)</label>
			<ul class="km-value">
				<li ng-repeat="term in document.gbfTargets">{{term | term:locale}}</li>
			</ul>
		</div>

		<div ng-show="document.aichiTargets">
			<label>Related Aichi target(s)</label>
			<ul class="km-value">
				<li ng-repeat="term in document.aichiTargets">{{term | term:locale}}</li>
			</ul>
		</div>

	</div>


	<div ng-show="document.relevantInformation||document.relevantDocuments">
		<legend>Additional Information</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value km-pre" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>Other relevant website address or attached documents</label>
			<div class="km-value" ng-repeat="item in document.relevantDocuments">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
			</div>
		</div>
	</div>

</div>
