form label.required:after,
form label[required]:after
{
	color: #e32;
	content: ' * ';
	display:inline;
	font-size: 18px;
}

div.km-pre
{ 
	word-break: break-all; word-wrap: break-word; white-space: pre-wrap; 
}

div.km-value, 
ul.km-value > li,
ol.km-value > li
{
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

ul.km-value,
ol.km-value
{
	padding-left: 0px;

}

ul.km-value
{
	list-style:none;
}