
@import url("../libs/bootstrap/dist/css/bootstrap.min.css");
@import url("../libs/font-awesome/css/font-awesome.css");
/*@import url("cbdMenu.css");
@import url("register.css");*/
@import url("chm_new.css");
@import url("colors.css");
/*@import url("km.css");
@import url("bootstrap.css");*/
@import url("../libs/leaflet/dist/leaflet.css");
@import url("../libs/bootstrap-datepicker/css/datepicker3.css");
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

a:hover {text-decoration:none;}


#submit .label{font-size: 96%;}
#submit .box{
    padding:10px;
    margin-top:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

#submit .disabled  *{
    color:#bbb!important;
}
.v-center {
display: table-cell!important;
vertical-align:middle;
float:none;
}

.filterx li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
