
@import url("../libs/bootstrap/bootstrap.css");
@import url("../libs/font-awesome/font-awesome.css");
/*@import url("cbdMenu.css");
@import url("register.css");*/
@import url("chm_new.css");
@import url("colors.css");
@import url("material.css");
/*@import url("km.css");
@import url("bootstrap.css");*/
@import url("../libs/leaflet/leaflet.css");
@import url("../libs/bootstrap-datepicker/datepicker3.css");
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

a:hover {text-decoration:none;}


#submit .label{font-size: 96%;}
#submit .box{
    padding:10px;
    margin-top:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

#submit .disabled  *{
    color:#bbb!important;
}

#submit .date{
    text-transform:uppercase;
    font-size:11px;
}


.v-center {
display: table-cell!important;
vertical-align:middle;
float:none;
}

.filterx li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.km-value{
    background-color:white;
    border:1px solid #ddd;
    padding:5px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius: 3px;}

label{
    margin-top:10px;
}
legend{
    margin-top:30px;
    padding:5px;
    background-color:#ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius: 3px;

}

    .km-value li{
        margin-left:20px;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color:#888;
    }
