a[href]:after {
    content: '' !important;
}
#schemaView {
    /* background-color: #fff!important; */
}
#schemaView h1{
    margin-top: 20px!important;
    padding-top: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}
.container{
    margin-top:0px
}
.md-whiteframe-z1.bg-grey{
    padding:0px!important;
    /* background: #fff!important; */
    box-shadow:none!important;
}
.portal-header, .footer, .control-buttons, 
.slaask-alert-overlay, .slaask-alert, .lang-alert, .slaask-button{
    display: none!important;
}
/*.section .section-header {    
    background-color: #fff!important;
} */
.h1, .h2, .h3, h1, h2, h3{
    margin-top: 10px!important;
}
h1 {
    font-size:25px!important;
}
h2 {
    font-size:20px!important;
}

h3 {
    font-size:14px!important;
}
b, strong {
    font-weight: bolder!important;
}

@media print{
    #schemaView h1{
        margin-top: 5px!important;
        padding-top: 5px;
        border-bottom: 0px;
    }
}

@media print {
    .unep-logo {
        height: 60px;
    }
    .cbd-logo {
        height: 50px;
    }
    .un-logo {
        height: 60px;
    }
}


#schemaView {
  display: block !important;
}
@page {
    @bottom-right { 
        content: counter(page);
    }
}
.col-xs-12, .col-md-12 {
    float: none!important;
}
.km-value{
    text-align: justify;
}
