<div id="submit" >

<style>
md-button .md-btn-small {
    font-size:12px!important;
    padding: 3px!important;
}
.badge{
    position:relative!important;;
    top:-2px!important;}

md-select-label{
        padding:0 0 0 5px!important;
        margin:0!important;
        font-weight:bold;
        background-color: #eee;
    }


    .bg-a{
    background-color: #1074BC;
    padding:0 1px 0 1px;
    }
    .bg-b{
    background-color: #109E49;
    padding:0 1px 0 1px;
    }
    .bg-c{
    background-color: #FEC210;
    padding:0 1px 0 1px;
    }
    .bg-d{
    background-color: #EE1D23;
    padding:0 1px 0 1px;
    }
    .bg-e{
    background-color: #6C1C67;
    padding:0 1px 0 1px;
    }

    th{font-size:140%;}

</style>


    <div class="container" >



            <h3 class="color-grey">
                Online Reporting: Progress in Achieving Targets</h3>


        <div class="row">

            <table class="table table-striped" style="width:100%">
                <tr>
                    <th  colspan="2" style="width:40%;text-align:left;">Target</th>
                    <th style="width:30%;text-align:left;">Indicators</th>
                    <th style="width:30%;text-align:left;">Assessment</th>
                </tr>
                <tr ng-repeat="record in records">

                    <td style="width:2px;padding:0;margin:0;"><i class="fa fa-caret-square-o-down" ></i></td>


                    <td style="font-weight:bold;" >
                        <span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span>
                        {{record.title_s}}
                    </td>
                    <td>


                        <md-select ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;padding-bottom:0;margin-bottom:0;">
                          <md-select-label>Add</md-select-label>
                          <md-option ng-value="user1" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 1</md-option>
                          <md-option ng-value="user2" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 2</md-option>
                          <md-option ng-value="user3" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 3</md-option>
                          <md-option ng-value="user1" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 1</md-option>
                          <md-option ng-value="user2" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 2</md-option>
                          <md-option ng-value="user3" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 3</md-option>
                          <md-option ng-value="user1" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 1</md-option>
                          <md-option ng-value="user2" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 2</md-option>
                          <md-option ng-value="user3" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 3</md-option>
                          <md-option ng-value="user1" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 1</md-option>
                          <md-option ng-value="user2" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 2</md-option>
                          <md-option ng-value="user3" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 3</md-option>
                          <md-option ng-value="user1" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 1</md-option>
                          <md-option ng-value="user2" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 2</md-option>
                          <md-option ng-value="user3" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 3</md-option>
                          <md-option ng-value="user1" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 1</md-option>
                          <md-option ng-value="user2" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 2</md-option>
                          <md-option ng-value="user3" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> indicator 3</md-option>
                          <md-option ng-value="new" >
                              <md-button class="md-raised md-primary" ng-href="/submit/online-reporting/nationalIndicator/new">New Indicator</md-button>
                          </md-option>
                        </md-select>

                      <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                          <span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> Indicator 1
                        </div>
                      </md-list-item>

                      <md-divider ></md-divider>
                      <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> Indicator 2
                        </div>
                      </md-list-item>
                    </md-list>



                    </td>


                    <td>



                        <md-select ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;padding-bottom:0;margin-bottom:0;">
                          <md-select-label>Add</md-select-label>
                          <md-option ng-value="user1" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> 2009 - 2010 <i class=" bg-a fa fa-line-chart"></i> </md-option>
                          <md-option ng-value="user2" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> 2009 - 2010 <i class=" bg-b fa fa-line-chart"></i> </md-option>
                          <md-option ng-value="user3" ><span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> 2009 - 2010 <i class=" bg-c fa fa-line-chart"></i> </md-option>

                          <md-option ng-value="new" >
                              <md-button class="md-raised md-primary" ng-href="/submit/online-reporting/nationalIndicator/new">New Assessment</md-button>
                          </md-option>
                        </md-select>

                      <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                          <span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> 2009 - 2010  <i class=" bg-a fa fa-line-chart"></i>
                        </div>
                      </md-list-item>

                      <md-divider ></md-divider>
                      <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <span ng-class="{'bg-published': record._state_s == 'public', 'bg-draft': record._state_s == 'draft' }" style="font-size:10px;" class="badge">&nbsp;</span> 2010 - 2011 <i class=" bg-b fa fa-line-chart"></i>
                        </div>
                      </md-list-item>
                    </md-list>




                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-button class="md-raised md-primary" ng-href="/submit/online-reporting/nationalTarget/new">Add New National Target</md-button>
                        <md-button class="md-raised md-primary" ng-href="/submit/online-reporting/nationalTarget/new">Add Aichi Target</md-button>
                    </td>
                    <td>
                        <md-button  class="md-raised">List Indicators</md-button>
                    </td>
                    <td>
                        <md-button  class="md-raised">List Assessments</md-button>
                    </td>
                </tr>
            </table>


        </div>
    </div>


</div>
