<div id="submit">


    <link href="/app/libs/jqvmap/jqvmap/jqvmap.css" rel="stylesheet">

            <div class="container" style="padding:20px 0 20px 0;" >

                <h3 style="padding-bottom:30px;"><i class="fa fa-search"></i> Online Reporting Search   <i ng-show="loading==true" class="fa fa-spinner fa-spin"></i></h3>

                <div class="row">
                    <div class="col-sm-12">
                        <div id="vmap" style="width: 100%; min-height:400px;background-color:#EEE!important;"></div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-md-4">
                        <div km-select required name="government" multiple ng-model="government" placeholder="Select a country" watch-items items="options.countries"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- <div km-select required name="schema" multiple ng-model="schema" placeholder="Select record type" watch-items items="nationalRecords"></div> -->
                    </div>
                    <div class="col-md-2">
                        <!-- <input type="text" class="form-control" name="keyword" ng-model="keyword" placeholder="keywords"> -->
                    </div>
                    <div class="col-md-1">
                        <!-- <a type="button" href="" class="btn btn-primary" ng-click="loadMap();" >Search</a> -->
                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <strong>Country(s): <span class="color-grey">{{records.length}}</span></strong>
                </div>
            </div>
{{government}}

    <div ng-repeat="group in records">
        <div>
            <h3 class="container-fluid color-medgrey" style="border-top:1px solid #DDD;padding-top:0;margin-top:3px;"><i class="fa fa-chevron-circle-down"></i> {{group.doclist.docs[0].government_EN_t}} </h3>
            <div class="container">
                <div class="row" >

                    <div ng-repeat="doc in group.doclist.docs | filter:{'schema_s':'nationalReport'} | orderBy:'startDate_s':'asc'">
                        <h4 ng-show="$index===0" class="bg-litegrey" style="padding:3px;margin-top:10px;" >National Reports and NBSAPs</h4>
                        <i class="fa fa-file-o"></i> {{doc.schema_EN_t}} - <a href="{{doc.url_ss[0]}}" target="_new">{{doc.title_t}}</a>
                    </div>

                    <div ng-repeat="doc in group.doclist.docs | filter:{'schema_s':'nationalTarget'} | orderBy:'startDate_s':'asc'">
                        <h4 ng-show="$index===0" class="bg-litegrey" style="padding:3px;margin-top:30px;" >National Target</h4>
                        <i class="fa fa-file-o"></i> {{doc.schema_EN_t}} - <a href="{{doc.url_ss[0]}}" target="_new">{{doc.title_t}}</a>
                    </div>

                    <div ng-repeat="doc in group.doclist.docs | filter:{'schema_s':'nationalIndicator'} | orderBy:'startDate_s':'asc'">
                    `    <h4 ng-show="$index===0" class="bg-litegrey" style="padding:3px;margin-top:30px;" >National Indicator</h4>
                        <i class="fa fa-file-o"></i> {{doc.schema_EN_t}} - <a href="{{doc.url_ss[0]}}" target="_new">{{doc.title_t}}</a>
                    </div>

                    <div ng-repeat="doc in group.doclist.docs | filter:{'schema_s':'progressAssessment'} | orderBy:'startDate_s':'asc'">
                        <h4 ng-show="$index===0" class="bg-litegrey" style="padding:3px;margin-top:30px;" >Progress Assessment</h4>
                        <i class="fa fa-file-o"></i> {{doc.schema_EN_t}} - <a href="{{doc.url_ss[0]}}" target="_new">{{doc.title_t}}</a>
                    </div>

                    <div ng-repeat="doc in group.doclist.docs | filter:{'schema_s':'nationalSupportTool'} | orderBy:'startDate_s':'asc'">
                        <h4 ng-show="$index===0" class="bg-litegrey" style="padding:3px;margin-top:30px;" >Guidance and Support Tools</h4>
                        <i class="fa fa-file-o"></i> {{doc.schema_EN_t}} - <a href="{{doc.url_ss[0]}}" target="_new">{{doc.title_t}}</a>
                    </div>

                    <div ng-repeat="doc in group.doclist.docs | filter:{'schema_s':'implementationActivity'} | orderBy:'startDate_s':'asc'">
                        <h4 ng-show="$index===0" class="bg-litegrey" style="padding:3px;margin-top:30px;" >Implementation Activity</h4>
                        <i class="fa fa-file-o"></i> {{doc.schema_EN_t}} - <a href="{{doc.url_ss[0]}}" target="_new">{{doc.title_t}}</a>
                    </div>

                    <br><br>
                </div>
            </div>
        </div>
    </div>



</div>
