<div>
	<style>
	.bs-filter {
		position: relative;
		margin: 15px 0;
		padding: 39px 19px 14px;
		*padding-top: 19px;
		background-color: #fff;
		border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
		      border-radius: 4px;
	}
	.bs-filter:after {
		content: "Filters";
		position: absolute;
		top: -1px;
		left: -1px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		color: #9da0a4;
		-webkit-border-radius: 4px 0 4px 0;
		 -moz-border-radius: 4px 0 4px 0;
		      border-radius: 4px 0 4px 0;
	}
	.bs-filter + .prettyprint {
		margin-top: -20px;
		padding-top: 15px;
	}
	</style>

	<div class="alert alert-danger" ng-show="__error">
		<strong>Error: </strong>{{__error}}
	</div>


	<div class="filters">
		<form ng-submit="signIn()">
			<div class="row">
				<div class="col-xs-1 color-grey" style="font-weight:bold;font-size:12px;" >FILTERS</div>
				<div class="col-xs-5">
					<div class="form-group" km-select multiple name="schemasList" ng-model="selectedSchemasList" watch-items items="schemasList" placeholer="Choose a document type" binding-type="string"></div>
				</div>
				<div class="col-xs-6">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
						<input type="text" class="form-control" ng-model="freetext" placeholder="keyword">
					</div>
				</div>
			</div>
		</form>
	</div>




	<ul class="pagination pull-right" style="margin:0">
		<li ng-class="{disabled: currentPage == 0}">
			<a href ng-click="actionSetPage(currentPage-1)">« Prev</a>
		</li>
        <li ng-repeat="n in pages" ng-class="{active: n == currentPage}" ng-click="actionSetPage(n)">
			<a href>{{n+1}}</a>
		</li>
		<li ng-class="{disabled: currentPage >= pageCount - 1}">
			<a href ng-click="actionSetPage(currentPage+1)">Next »</a>
		</li>
	</ul>
	<table class="table table-condensed table-striped" ng-hide="__error">
		<tbody>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Status</th>
				<th>Last edited by/on</th>
				<th style="width:100px">&nbsp;</th>
			</tr>

			<tr ng-repeat="document in documents">
				<td>
					<a ng-href="/database/record?documentID={{document.documentID}}">{{document.documentID}}</a>
				</td>
				<td>
					<div ng-switch="document.type" >
						<strong ng-switch-when="focalPoint">National Focal Point</strong>
						<strong ng-switch-when="authority">Competent National Authority</strong>
						<strong ng-switch-when="caseStudy">Case Study</strong>
						<strong ng-switch-when="contact">Contact</strong>
						<strong ng-switch-when="database">National Database</strong>
						<strong ng-switch-when="resource">Virtual Library Resource</strong>
						<strong ng-switch-when="capacityBuildingInitiative">Capacity-building Initiative</strong>
						<strong ng-switch-when="organization">Organization</strong>
						<strong ng-switch-when="measure">National Regulation</strong>
						<strong ng-switch-when="marineEbsa">Ecologically or Biologically Significant Areas (EBSAs)</strong>
						<strong ng-switch-when="aichiTarget">Aichi Target</strong>
						<strong ng-switch-when="strategicPlanIndicator">Strategic Plan Indicator</strong>
						<strong ng-switch-when="nationalIndicator">National Indicator</strong>
						<strong ng-switch-when="nationalTarget">National Target</strong>
						<strong ng-switch-when="nationalAssessment">Progress Assessment</strong>
						<strong ng-switch-when="nationalReport">National Report</strong>
						<strong ng-switch-when="implementationActivity">Implementation Activity</strong>
						<strong ng-switch-when="nationalSupportTool">Guidance and Support Tools</strong>
						<strong ng-switch-when="resourceMobilisation">Resource Mobilisation</strong>
						<strong ng-switch-when="absCheckpoint">Checkpoint</strong>
						<strong ng-switch-when="absCheckpointCommunique">Checkpoint Communiqué</strong>
						<strong ng-switch-when="absPermit">Permit</strong>
						<strong ng-switch-default>{{document.type}}*</strong>
					</div>
					<div>{{document.title | lstring:'en'}}</div>
				</td>
				<td ng-switch="document.workingDocumentUpdatedOn" style="white-space:nowrap">
					<div ng-switch-when="null" class="color-published">
						<i class="fa fa-check"></i>
						<b>Published</b>
					</div>
					<div ng-switch-default>
						<div ng-switch="document.workingDocumentLock">
							<div ng-switch-when="null">
								<div>
									<i class="fa fa-edit"></i>
									<b>Under Editing</b>
								</div>
								<div>by <em>{{document.workingDocumentUpdatedBy.email}}</em></div>
							</div>

							<div ng-switch-default>
								<div>
									<i class="fa fa-lock"></i>
									<b>Locked</b>
								</div>
								<div>by <em>{{document.workingDocumentLock.lockedBy.email}}</em></div>
							</div>
						</div>
					</div>
				</td>
				<td>
					<em>{{document.updatedBy.email}}</em>
					<div>{{document.updatedOn | date:'yyyy-MM-dd HH:mm'}}</div>
				</td>
				<td style="text-align:end;width:100px">
					<div class="btn-group">
						<button class="btn btn-default"  ng-click="edit(document);"  type="button" title="Edit"   ng-disabled="document.workingDocumentLock"><i class="fa fa-edit"></i></button>
						<button class="btn btn-default"  ng-click="erase(document);" type="button" title="Delete" ng-disabled="document.workingDocumentLock || document.workingDocumentCreatedOn"><i class="fa fa-trash-o"></i></button>
					</div>
				</td>
			</tr>
	</table>

	<div ng-show="documents.length==0">
		No record found
	</div>
	<div ng-show="__loading">
		Loading...
	</div>
</div>
