<div>
	<div class="alert alert-danger" ng-show="__error">
		<strong>Error: </strong>{{__error}}
	</div>

	<table class="table table-hover" ng-hide="__error">
		<thead>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Status</th>
				<th>Desired Action</th>
				<th>Assigned to</th>
			</tr>
		</thead>

		<tbody ng-repeat="workflow in workflows">

			<tr ng-repeat="activity in workflow.activities" ng-init="activityOrWorkflow = (activity || workflow)">

				<td colspan="workflow.activities.length||1" ng-show="$first">
					<a style="text-transform:uppercase" ng-href="/management/tasks/{{workflow._id}}"  type="button">{{workflow._id}}</a>
					<div ng-switch="workflow.type.name">
						<em ng-switch-when="publishNationalRecord">Publish a national record</em>
						<em ng-switch-when="publishReferenceRecord">Publish a reference record</em>
						<em ng-switch-default>*{{workflow.type.name|uppercase}}</em>
					</div>
				</td>

				<td colspan="workflow.activities.length||1" ng-show="$first">
					<div ng-switch="workflow.data.metadata.schema">
						<strong ng-switch-when="focalPoint">National Focal Point</strong>
						<strong ng-switch-when="authority">Competent National Authority</strong>
						<strong ng-switch-when="caseStudy">Case Study</strong>
						<strong ng-switch-when="contact">Contact</strong>
						<strong ng-switch-when="database">National Database</strong>
						<strong ng-switch-when="resource">Virtual Library Resource</strong>
						<strong ng-switch-when="organization">Organization</strong>
						<strong ng-switch-when="measure">National Regulation</strong>
						<strong ng-switch-when="marineEbsa">Ecologically or Biologically Significant Areas (EBSAs)</strong>
						<strong ng-switch-when="aichiTarget">Aichi Target</strong>
						<strong ng-switch-when="strategicPlanIndicator">Strategic Plan Indicator</strong>
						<strong ng-switch-when="nationalIndicator">National Indicator</strong>
						<strong ng-switch-when="nationalTarget">National Target</strong>
						<strong ng-switch-when="progressAssessment">Progress Assessment</strong>
						<strong ng-switch-when="nationalReport">National Report</strong>
						<strong ng-switch-when="implementationActivity">Implementation Activity</strong>
						<strong ng-switch-when="nationalSupportTool">Guidance and Support Tools</strong>
						<strong ng-switch-when="resourceMobilisation">Resource Mobilisation</strong>
						<strong ng-switch-when="absCheckpoint">Checkpoint</strong>
						<strong ng-switch-when="absCheckpointCommunique">Checkpoint Communiqué</strong>
						<strong ng-switch-when="absPermit">Permit</strong>
						<strong ng-switch-default>{{document.type}}*</strong>

						<span ng-show="workflow.data.documentID">(<a ng-href="/database/record?documentID={{workflow.data.documentID}}">{{workflow.data.documentID}}</a>)</span>
						<span ng-hide="workflow.data.documentID">(new record)</span>

					</div>
					<div>{{workflow.data.title | lstring}}</div>
				</td>
				
				<td colspan="workflow.activities.length" ng-show="$first">
					<span ng-show="(workflow.activities|filter:isOpen).length"><i class="glyphicon glyphicon-time"></i> Wait for user action</span>
					<span ng-hide="(workflow.activities|filter:isOpen).length"><i class="glyphicon glyphicon-cog"></i> Processing</span>
				</td>

				<td>
					<div ng-hide="activity">
						<em>No user action required for the moment</em>
					</div>
					<div ng-show="activity" ng-switch="activity.name">
						<span ng-switch-when="publishRecord">Approve or Reject record publication</span>
						<span ng-switch-default>*{{activity.name|uppercase}}</span>
					</div>
				</td>

				<td>
					<div ng-show="activity && !activity.closedOn">
						<span ng-repeat="user in activity.assignedTo_info">{{user.firstName}} {{user.lastName}}<span ng-hide="$last">, </span><span>
					</div>
					<div ng-hide="activity || activityOrWorkflow.closedOn">
						<em>Not Assigned</em>
					</div>

					<div ng-show="activityOrWorkflow.completedOn">

						<span ng-show="activity" ng-switch="activity.result.action">
							<span ng-switch-when="approve"><i class="glyphicon glyphicon-ok"></i> Approved</span>
							<span ng-switch-when="reject"><i class="glyphicon glyphicon-remove"></i> Rejected</span>
						</span>

						<span ng-hide="activity"><i class="glyphicon glyphicon-ok"></i> Completed</span>

						on {{activityOrWorkflow.completedOn|date:'short'}} by {{activityOrWorkflow.completedBy_info.firstName}} {{activityOrWorkflow.completedBy_info.lastName}}
					</div>

					<div ng-show="activityOrWorkflow.canceledOn">
						Canceled on {{activityOrWorkflow.canceledOn|date:'short'}} by {{activityOrWorkflow.canceledBy_info.firstName}} {{activityOrWorkflow.canceledBy_info.lastName}}
					</div>

					<div ng-show="activityOrWorkflow.failedOn">
						Failed on {{activityOrWorkflow.failedOn|date:'short'}}
					</div>
							
				</td>
			</tr>

		</tbody>
	</table>

	<div ng-show="workflows.length==0">
		No record found
	</div>
</div>
