<div>
	<div class="alert alert-danger" ng-show="__error">
		<strong>Error: </strong>{{__error}}
	</div>

	<table class="table table-condensed table-striped" ng-hide="__error">
		<tbody>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Status</th>
				<th>by/on</th>
				<th>&nbsp;</th>
			</tr>

			<tr ng-repeat="workflow in workflows" >
				<td>
					{{workflow._id}}
				</td>
				<td>
					<div ng-switch="workflow.data.metadata.schema">
						<strong ng-switch-when="focalPoint">National Focal Point</strong>
						<strong ng-switch-when="authority">Competent National Authority</strong>
						<strong ng-switch-when="caseStudy">Case Study</strong>
						<strong ng-switch-when="contact">Contact</strong>
						<strong ng-switch-when="database">National Database</strong>
						<strong ng-switch-when="resource">Virtual Library Resource</strong>
						<strong ng-switch-when="organization">Organization</strong>
						<strong ng-switch-when="measure">National Regulation</strong>
						<strong ng-switch-when="marineEbsa">Ecologically or Biologically Significant Areas (EBSAs)</strong>
						<strong ng-switch-when="aichiTarget">Aichi Target</strong>
						<strong ng-switch-when="strategicPlanIndicator">Strategic Plan Indicator</strong>
						<strong ng-switch-when="nationalIndicator">National Indicator</strong>
						<strong ng-switch-when="nationalTarget">National Target</strong>
						<strong ng-switch-when="progressAssessment">Progress Assessment</strong>
						<strong ng-switch-when="nationalReport">National Report</strong>
						<strong ng-switch-when="implementationActivity">Implementation Activity</strong>
						<strong ng-switch-when="nationalSupportTool">Guidance and Support Tools</strong>
						<strong ng-switch-when="resourceMobilisation">Resource Mobilisation</strong>
						<strong ng-switch-when="absCheckpoint">Checkpoint</strong>
						<strong ng-switch-when="absCheckpointCommunique">Checkpoint Communiqué</strong>
						<strong ng-switch-when="absPermit">Permit</strong>
						<strong ng-switch-default>{{document.type}}*</strong>
					</div>
					<div>{{workflow.data.title | lstring}}</div>
				</td>
				<td>
					<span ng-switch="workflow.state">
						<span ng-switch-when="running">  <i class="icon-wrench"></i> <b>Processing...</b></span>
						<span ng-switch-when="completed"><i class="icon-ok">    </i> <b>Completed</b></span>
						<span ng-switch-default>TODO workflow.state: {{workflow.state}}</span>
					</span>

					<div ng-switch="workflow.type.name">
						
						<div ng-switch-when="publishNationalRecord">
							
							<div ng-repeat="activity in workflow.activities | limitTo:-1"> <!-- Last Activity -->
								{{activity.name}}
								<div ng-hide="activity.closedOn">Wait for user action</div>
								<div ng-show="activity.completedOn">
									<div ng-switch="activity.result.action">
										<span ng-switch-when="approve">Approved</span>
										<span ng-switch-when="approve">Rejected</span>
									</div>
								</div>
							</div>
									
						</div>
						<div ng-switch-default>TODO workflow.type.name: {{workflow.state}}</div>

					</div>

				</td>
				<td>
					<em>{{workflow.createdBy_info.email}}</em>
					<div>{{workflow.createdOn | date:'yyyy-MM-dd HH:mm'}}</div>
				</td>
				<td style="text-align:end">
					<a class="btn btn-info" ng-href="/management/tasks/{{workflow._id}}"  type="button"><i class="icon-edit icon-white"></i></button>
				</td>
			</tr>

		</tbody>
	</table>

	<div ng-show="workflows.length==0">
		No record found
	</div>
</div>
