<div>

	<table class="table table-striped">
	  <tr>
		  <th colspan="2">
		  	Request information and status
		  </th>	
	  </tr>	
	  <tr>
	  	<td style="width:40%">Request ID</td>
	  	<td>
	  		{{workflow._id}}
		</td>
	  </tr>
	  <tr>
	  	<td>Record ID</td>
	  	<td>
	  		<a    ng-show="documentInfo.documentID" ng-href="/database/record?documentID={{documentInfo.documentID}}">{{documentInfo.documentID}}</a>
	  		<span ng-hide="documentInfo.documentID">[new]</span>
		</td>
	  </tr>
	  <tr>
	  	<td>Summary</td>
	  	<td>
			<span ng-switch="workflow.data.metadata.schema">
				<span ng-switch-when="focalPoint">National Focal Point</span>
				<span ng-switch-when="authority">Competent National Authority</span>
				<span ng-switch-when="caseStudy">Case Study</span>
				<span ng-switch-when="contact">Contact</span>
				<span ng-switch-when="database">National Database</span>
				<span ng-switch-when="resource">Virtual Library Resource</span>
				<span ng-switch-when="organization">Organization</span>
				<span ng-switch-when="measure">National Regulation</span>
				<span ng-switch-when="marineEbsa">Ecologically or Biologically Significant Areas (EBSAs)</span>
				<span ng-switch-when="aichiTarget">Aichi Target</span>
				<span ng-switch-when="strategicPlanIndicator">Strategic Plan Indicator</span>
				<span ng-switch-when="nationalIndicator">National Indicator</span>
				<span ng-switch-when="nationalTarget">National Target</span>
				<span ng-switch-when="progressAssessment">Progress Assessment</span>
				<span ng-switch-when="nationalReport">National Report</span>
				<span ng-switch-when="implementationActivity">Implementation Activity</span>
				<span ng-switch-when="nationalSupportTool">Guidance and Support Tools</span>
				<span ng-switch-when="resourceMobilisation">Resource Mobilisation</span>
				<span ng-switch-when="absCheckpoint">Checkpoint</span>
				<span ng-switch-when="absCheckpointCommunique">Checkpoint Communiqué</span>
				<span ng-switch-when="absPermit">Permit</span>
				<span ng-switch-default>{{document.type}}*</span>
			</span>
			<span>{{workflow.data.title | lstring}}</span>

		</td>
	  </tr>
	  <tr>
	  	<td>Requested action</td>
	  	<td>
	  		<div ng-switch="workflow.type.name">
				<span ng-switch-when="publishNationalRecord">Publish a national record</span>
				<span ng-switch-when="publishReferenceRecord">Publish a reference record</span>
				<span ng-switch-default>*{{workflow.type.name|uppercase}}</span>
			</div>
		</td>
	  </tr>
	  <tr>
	  	<td>Overall status</td>
	  	<td>
	  		<span ng-switch="workflow.state">
	  			<span ng-switch-when="running">
					<span ng-show="hasOpenActivities(workflow.activities)"><i class="glyphicon glyphicon-time"></i> Waiting for user action</span>	  				
					<span ng-hide="hasOpenActivities(workflow.activities)"><i class="glyphicon glyphicon-cog"></i> Processing</span>	  				
	  			</span>
	  			<span ng-switch-when="completed">Completed on {{workflow.closedOn|date:'yyyy-MM-dd HH:mm:ss'}}</span>
	  			<span ng-switch-when="canceled"><i class="glyphicon glyphicon-remove-circle"></i> Canceled on {{workflow.closedOn|date:'yyyy-MM-dd HH:mm:ss'}}</span>
	  			<span ng-switch-when=""><i class="glyphicon glyphicon-exclamation-sign"></i> Failed on {{workflow.closedOn|date:'yyyy-MM-dd HH:mm:ss'}}</span>
	  			<span ng-switch-default>*{{workflow.state|uppercase}}</span>
		</td>
	  </tr>
	  <tr>
	  	<th>User activity(ies)</th>
	  	<th>Status / Result</th>
	  </tr>

	  <tr ng-show="workflow.createdOn">
	  	<td>Created</td>
	  	<td>{{workflow.createdOn|date:'short'}} by {{workflow.createdBy_info.firstName}} {{workflow.createdBy_info.lastName}}</td>
	  </tr>

	  <tr ng-repeat="activity in workflow.activities">
	  	<td>
			<div ng-show="activity" ng-switch="activity.name">
				<span ng-switch-when="publishRecord">Approve or Reject record publication</span>
				<span ng-switch-default>*{{activity.name|uppercase}}</span>
			</div>
	  	</td>
	  	<td>
			<div ng-hide="activity.closedOn" ng-switch="activity.name">
				<div ng-switch-when="publishRecord">

					<span ng-hide="activity.closedOn">
						<button ng-disabled="activity.closedOn || !isAssignedToMe(activity)" ng-repeat="action in activity.input.actions" type="button" class="btn btn-default" ng-click="updateActivity(activity.name, { action : action })">{{action|uppercase}}</button>
						<span ng-hide="isAssignedToMe(activity)">This actitivity is not assigned to you &#9785;</span>
					</span>
					
				</div>
			</div>

			<div ng-show="activity.completedOn">

				<span ng-show="activity" ng-switch="activity.result.action">
					<span ng-switch-when="approve"><i class="glyphicon glyphicon-ok"></i> Approved</span>
					<span ng-switch-when="reject"><i class="glyphicon glyphicon-remove"></i> Rejected</span>
				</span>

				<span ng-hide="activity"><i class="glyphicon glyphicon-ok"></i> Completed</span>

				on {{activity.completedOn|date:'short'}} by {{activity.completedBy_info.firstName}} {{activity.completedBy_info.lastName}}
			</div>

			<div ng-show="activity.canceledOn">
				Canceled on {{activity.canceledOn|date:'short'}} by {{activity.canceledBy_info.firstName}} {{activity.canceledBy_info.lastName}}
			</div>

			<div ng-show="activity.failedOn">
				Failed on {{activity.failedOn|date:'short'}}
			</div>


	  	</td>
	  </tr>

	  
	</table>


	<div ng-show="document" class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Document to approve</h3>
	  </div>
	  <div class="panel-body">
		<div class="cbd-View-Form-Loader" document="document" hide-buttons="true" link-target="_self"></div>
	  </div>
	</div>	

  	

</div>
