<div>

	<h1>Implementation Activity</h1>

	<div class="alert alert-danger" ng-show="hasError()">
		<strong>Error as occured...</strong>
		<div>{{error}}</div>
	</div>

	<div class="row" ng-show="status=='loading'">Loading...</div>
	
	<div class="row" ng-hide="status=='hidden'||status=='loading'">

		<div style="position: relative">

			<div style="position: absolute; top: 0px; right: 0px">
				<span km-form-languages ng-model="document.header.languages"></span>
				<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
			</div>

			<div>

				<ul class="pagination">
				  <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
				  <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
				  <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
				  <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>

				<form name="editForm">

					<div km-tab="general">

						<legend>General Information</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="government" caption="Country">
									<div km-select ng-disabled="!!defaultGovernment()" required name="government" ng-model="document.government" placeholder="Please select country" watch-items items="options.countries"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="title" caption="Name of the Activity">
									<div class="help-block">Please use the official title, if available.</div>
									<div km-textbox-ml required name="title" ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="description" caption="Description of the activity">
									<div km-textbox-ml required name="description" ng-model="document.description" rows="5" locales="document.header.languages" placeholder=""></div>
								</div>
							</div>
						</div>

						<div class="row bottom-spacing">
							<div class="col-md-11 ">
								<div class="km-control-group" required name="status" caption="Status">
									<div km-select name="jurisdiction" ng-model="document.status" placeholder="Select the status..." watch-items items="options.statuses"></div>
								</div>
							</div>
							</div>

							<div class="row bottom-spacing">
							<div class="col-md-11 ">
								<div class="km-control-group" required name="jurisdiction" caption="Level of implementation">
								<span class="help-block">Please specify if the activity was carried out at the national or subnational level</span>
									<div km-select name="jurisdiction" ng-model="document.jurisdiction" placeholder="Select level of application" watch-items items="options.jurisdictions"></div>
								</div>
							</div>
							<div class="span10" ng-show="isJurisdictionSubNational()">
								<div class="km-control-group" required name="jurisdictionInfo" caption="Please provide additional details on the specific level of implementation">
									<div km-textbox-ml name="jurisdictionInfo" ng-model="document.jurisdictionInfo" rows="3" locales="document.header.languages" placeholder=""></div>
								</div>
							</div>
						</div>

						<legend>Target and indicators</legend>

						<div class="row bottom-spacing">
							<div class="col-md-12">
								<div class="km-control-group" name="nationalIndicators" caption="Link to National Indicators">
									<div km-select name="nationalIndicators" multiple ng-model="document.nationalIndicators" placeholder="" watch-items items="options.nationalIndicators"></div>
								</div>
							</div>
						</div>

						<div class="row bottom-spacing">
							<div class="col-md-12">
								<div class="km-control-group" name="nationalTargets" caption="Link to Relevant National Targets ">
									<div km-select name="nationalTargets" multiple ng-model="document.nationalTargets" placeholder="" watch-items items="options.nationalTargets"></div>
								</div>
							</div>
						</div>

						<div class="row bottom-spacing">
							<div class="col-md-12">
								<div class="km-control-group" required name="aichiTargets" caption="Link to Aichi Targets">
									<div km-select required displaycount="1" name="aichiTargets" multiple ng-model="document.aichiTargets" placeholder="Please select Aichi Target" watch-items items="options.aichiTargets"></div>
								</div>
							</div>
						</div>

						<legend>Partners</legend>

						<div class="row  bottom-spacing">
							<div class="col-md-12">
								<div class="km-control-group" name="partners" caption="Link to Relevant Partners">
									<div km-reference name="partners" multiple ng-model="document.partners" loader="loadRecords(identifier, 'organization')" order-by="sortContacts(reference)">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<legend>Main relevant documents and information</legend>

						<div class="row  bottom-spacing">
							<div class="col-md-12">
								<div class="km-control-group" name="documentText" caption="Relevant information">
									<div km-textbox-ml name="documentText" ng-model="document.documentText" rows="5" locales="document.header.languages" placeholder=""></div>
								</div>
							</div>
						</div>
						<div class="row  bottom-spacing">
							<div class="col-md-12">
								<div class="km-control-group" name="documentLinks" caption="Relevant websites, links, and files">
									<div km-link name="documents" ng-model="document.documentLinks" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

						<legend>Other Relevant Information</legend>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="relevantInformation" caption="Additional Information">
									<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
									<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="relevantDocuments" caption="Other relevant website address or attached documents">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

						<legend>Notes (private) </legend>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="notes" caption="Notes">
									<div km-notes name="notes" ng-model="document.notes"></div>
								</div>
							</div>
						</div>

					</div>
                </form>
					
				<div km-tab="review">

					<div km-document-validation ng-model="validationReport"></div>

					<div class="btn-group" ng-show="document.header.languages.length>1">
						<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
					</div>

					<div class="viewImplementationActivity" ng-model="document" locale="review.locale"></div>

				</div>

					
				<ul class="pagination">
				  <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
				  <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
				  <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
				  <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>

            </div>
        </div>
    </div>
</div>
