<div>
	<h1>Case Study</h1>

	<div class="alert alert-danger" ng-cloak ng-show="error">
		<strong>Error as occured...</strong>
		<div>{{error}}</div>
	</div>

	<div ng-show="status=='loading'"><em>Loading...</em></div>
	
	<div ng-hide="status=='hidden'||status=='loading'">

		<div style="position:relative">
			
			<div class="row">

				<div class="col-xs-12 visible-xs">
					<div class="">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>

				<div class="col-sm-8 col-xs-12">
					<ul class="pagination">
					  <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
					  <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
					  <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
					  <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
					</ul>
				</div>

				<div class="col-sm-4 hidden-xs" style="text-align:right">
					<div class="pagination">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>
			</div>


			<div>

				<form name="editForm">
				<div km-tab="general">

						<legend>General information</legend>
						<div  class="row">
							<div class="col-md-12"> 
								<div class="km-control-group" required name="title" caption="Title">
									<div km-textbox-ml name="title" ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="subjects" caption="Related CBD Subject area(s)">
									<div km-select required multiple name="subjects" ng-model="document.subjects" watch-items items="options.subjects" binding-type="term[]"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="aichiTargets" caption="Main related Aichi Targets">
									<div km-select required displaycount="1" name="aichiTargets" multiple ng-model="document.aichiTargets" placeholder="Please select Aichi Target" watch-items items="options.aichiTargets"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-12"> 
								<div class="km-control-group" required name="regions" caption="Related Country(ies) / Region(s) / Economic group(s)">
									<div km-select name="regions" multiple ng-model="document.regions" placeholder="" watch-items items="options.regions"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="languages" caption="Language(s)">
									<div km-select name="languages" multiple ng-model="document.languages" placeholder="" watch-items items="options.docLanguages"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<div class="km-control-group" required name="startDate" caption="Time period from">
									<div km-date style="width:200px" required name="startDate" ng-model="document.startDate"></div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="km-control-group" required name="endDate" caption="Time period to">
									<div km-date style="width:200px" required name="endDate" ng-model="document.endDate"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-12"> 
								<div class="km-control-group" required name="source" caption="Source">
									<div km-textbox-ml rows=6 name="source" ng-model="document.source" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="organizations" caption="Organization(s) involved">
									<div km-reference multiple name="organizations" ng-model="document.organizations" loader="loadRecords(identifier, 'organization')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="contact" required caption="Contact person"></div>
								<div km-reference name="contact" ng-model="document.contact" loader="loadRecords(identifier, 'contact')">
									<div>
										<div><strong>{{reference.title | lstring}}</strong></div>
										<div>{{reference.summary | lstring}}</div>
									</div>
								</div>
							</div>
						</div>

						<legend>Case Study Details</legend>
						<div  class="row">
							<div class="col-md-12"> 
								<div class="km-control-group" required name="summary" caption="Summary, abstract or table of contents">
									<div km-textbox-ml rows=6 name="summary" ng-model="document.summary" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-12"> 
								<div class="km-control-group" name="description" caption="Case Study Description">
									<span class="help-block">E.g. Background/Problem; Methodology/ Implementation; Results/Impact; Lessons learned.</span>
									<div km-textbox-ml rows=6 name="description" ng-model="document.description" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="scale" caption="Scale">
									<div km-select name="scale" ng-model="document.scale" watch-items items="options.scales"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="status" caption="Status">
									<div km-select multple name="status" ng-model="document.status" watch-items items="options.statuses"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="resources" caption="Resources">
									<div km-reference multiple name="resources" ng-model="document.resources" loader="loadRecords(identifier, 'resource')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="images" caption="Images for showcase">
									<div km-link name="images" ng-model="document.images" allow-file="true" allow-link="false" mime-types="image/jpeg;image/png" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

						<legend>Additional Information</legend>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="relevantInformation" caption="Additional Information">
									<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
									<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="relevantDocuments" caption="Other relevant website address or attached documents">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="notes" caption="Notes">
									<textarea class="form-control" rows="4" name="notes" ng-model="document.notes" ></textarea>
								</div>
							</div>
						</div>
				</div>
				</form>

				<div km-tab="review">

					<div km-document-validation ng-model="validationReport"></div>

					<div class="btn-group" ng-show="document.header.languages.length>1">
					  <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}"/>
					</div>

					<div class="view-case-study" ng-model="reviewDocument" locale="review.locale" allow-drafts="true" link-target="_blank"></div>

				</div>

				<div class="row">

					<div class="col-sm-9 col-xs-12">
						<ul class="pagination">
						  <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
						  <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
						  <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
						  <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
						</ul>
					</div>

					<div class="col-sm-3 hidden-xs" style="text-align:right">
						<div class="pagination">
							<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>

					<div class="col-xs-12 visible-xs">
						<div class="">
							<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>