<div>
	<h1>Aichi Target - {{document.number}}</h1>

	<div ng-show="isLoading()">
		<div class="loadProgress" progress="1" timeout="1500"></div>
	</div>

	<div class="alert alert-error" ng-cloak ng-show="hasError()">
		<strong>Error as occured...</strong>
		<div>{{error}}</div>
	</div>

	<div ng-show="!isLoading()&&!isNew">

		<div style="position:relative">
			
			<div style="position:absolute;top:0px;right:0px">
				<div km-form-std-buttons ng-model="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></div>
			</div>

			<div>

				<ul class="pagination">
				  <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
				  <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
				  <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
				  <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>				

				<div ng-show="tab=='general'">
					<form name="editForm">

						<div  class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="title" caption="Full Title">
									<div km-textbox-ml name="title" ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="shortTitle" caption="Short title">
									<div km-textbox-ml name="shortTitle" ng-model="document.shortTitle" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="icons" caption="Target Icon">
									<div km-link name="icons" ng-model="document.icons" allow-file="true" allow-link="false" mimeTypes="image/jpeg;image/png" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="strategicGoal" caption="Strategic Goal">
									<div km-select required name="strategicGoal" ng-model="document.strategicGoal" items="options.strategicGoal()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="guide" caption="Quick Guide">
									<div km-textbox-ml name="guide" ng-model="document.guide" locales="document.header.languages" rows="8"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="relevantIndicators" caption="Most Relevant Global Indicator(s)">
									<div km-reference multiple name="relevantIndicators" ng-model="document.relevantIndicators" loader="loadRecords(identifier, 'resource')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="otherIndicators" caption="Other Relevant Global Indicator(s)">
									<div km-reference multiple name="otherIndicators" ng-model="document.otherIndicators" loader="loadRecords(identifier, 'resource')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="progress" caption="Status of progress">
									<div km-textbox-ml name="progress" ng-model="document.progress" locales="document.header.languages" rows="4"></div>
								</div>
							</div>
						</div>
						<div  class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="progressLinks" caption="Status of progress (attachement)">
									<div km-link name="progressLinks" ng-model="document.progressLinks" allow-file="true" allow-link="false" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

						<legend>Champions</legend>
						<table class="table table-hover">
							<tr ng-repeat="champion in document.champions">
								<td>
									<div class="row">
										<div class="col-md-11">
											<div class="km-control-group" name="targetChampionsDescription" caption="Description">
												<div km-textbox-ml name="targetChampionsDescription" ng-model="champion.description" locales="document.header.languages" rows="4"></div>
											</div>
										</div>
									</div>
									<div  class="row">
										<div class="col-md-11">
											<div class="km-control-group" name="targetChampionsRegions" caption="Target Champions (regions)">
												<div km-select multiple required name="targetChampionsRegions" ng-model="champion.countries" items="options.targetChampionsRegions()" placeholder="Please select a country..."></div>
											</div>
										</div>
									</div>
									<div  class="row">
										<div class="col-md-11">
											<div class="km-control-group" name="targetChampionsOrganizations" caption="Linked organizations">
												<div km-reference multiple name="targetChampionsOrganizations" ng-model="champion.organizations" loader="loadRecords(identifier, 'organization')">
													<div>
														<div><strong>{{reference.title | lstring}}</strong></div>
														<div>{{reference.summary | lstring}}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div  class="row">
										<div class="col-md-11">
											<div class="km-control-group" name="targetChampionsLink" caption="Target Champions (link)">
												<div km-link name="targetChampionsLink" ng-model="champion.links" allow-file="false" allow-link="true"></div>
											</div>
										</div>
									</div>
								</td>
								<td style="text-align:end">
									<a title="Remove" class="btn" ng-click="removeChampion(document.champions, champion)"><i class="icon-trash"></i></a>
								</td>
							</tr>
						</table>
						<a class="btn" ng-click="addNewChampion()"><i class="icon-file"></i> Add Champion</a>
						<br /><br />


						<legend>Resources</legend>
						<table class="table table-hover">
							<tr ng-repeat="resource in document.resources">
								<td>
									<div class="row">
										<div class="col-md-11">
											<div class="km-control-group" name="targetResourceDescription" caption="Description">
												<div km-textbox-ml name="targetResourceDescription" ng-model="resource.description" locales="document.header.languages" rows="4"></div>
											</div>
										</div>
									</div>
									<div  class="row">
										<div class="col-md-11">
											<div class="km-control-group" name="linkResourceReferences" caption="Linked references">
												<div km-reference multiple name="linkResourceReferences" ng-model="resource.references" loader="loadRecords(identifier, 'resource')">
													<div>
														<div><strong>{{reference.title | lstring}}</strong></div>
														<div>{{reference.summary | lstring}}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div  class="row">
										<div class="col-md-11">
											<div class="km-control-group" name="linkResourceLinks" caption="Link to resources (link)">
												<div km-link name="linkResourceLinks" ng-model="resource.links" allow-file="false" allow-link="true"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="span10">
											<div class="km-control-group" name="linkResourceCategory" caption="Link to resources (categories)">
												<div km-select required multiple name="linkResourceCategory" ng-model="resource.categories" items="options.linkResourcesCategories()" binding-type="term[]"></div>
											</div>
										</div>
									</div>
								</td>
								<td style="text-align:end">
									<a title="Remove" class="btn" ng-click="removeResource(document.resources, resource)"><i class="icon-trash"></i></a>
								</td>
							</tr>
						</table>
						<a class="btn" ng-click="addNewResource()"><i class="icon-file"></i> Add Resource</a>
						<br /><br />


						<div class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="relevantInformation" caption="Additional Information">
									<span class="help-block">
										Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.
									</span>
									<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation"  locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="relevantDocuments" caption="Other relevant website address or attached documents">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-11">
								<div class="km-control-group" name="notes" caption="Notes">
									<span class="help-block">
										The field “Notes” is for personal reference and can be seen only when the record is being edited.
									</span>
									<textarea style="width:100%" rows="4" name="notes" ng-model="document.notes" ></textarea>
								</div>
							</div>
						</div>

					</form>
				</div>

				<div ng-show="tab=='review'">

					<div km-document-validation ng-model="validationReport"></div>

					<div class="btn-group" ng-show="document.header.languages.length>1">
					  <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}"/>
					</div>

					<div class="view-aichi-target" ng-model="reviewDocument" locale="review.locale" link-target="_blank"></div>

				</div>

				<ul class="pagination">
				  <li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
				  <li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
				  <li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
				  <li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>				

			</div>
		</div>
	</div>
</div>