<div>
	<h1>Capacity-building Initiative <small>(Activity/Project/Programme)</small>   <i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i></h1>

	<div class="alert alert-danger" ng-show="hasError()">
		<strong>An error has occurred...</strong>
		<div>{{error}}</div>
	</div>

	<div class="row" ng-show="!isLoading()&&status!='hidden'">

		<div class="col-md-12" style="position: relative">

			<div class="row">
				<div class="col-xs-12 visible-xs">
					<div class="">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>

				<div class="col-sm-8 col-xs-12">
					<ul class="pagination">
						<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="prevTab()"											>&laquo;</a></li>
						<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'"										>General</a></li>
						<li ng-class="{ active  : tab=='chm'     }"><a translation-url href="" ng-click="tab='chm'"   									    >CBD</a></li>
						<li ng-class="{ active  : tab=='absch'   }"><a translation-url href="" ng-click="tab='absch'"    								    >ABS</a></li>
						<li ng-class="{ active  : tab=='bch'     }"><a translation-url href="" ng-click="tab='bch'"   									    >Biosafety</a></li>
						<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'"										>Review</a></li>
						<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="nextTab()"											>&raquo;</a></li>
					</ul>
				</div>

				<div class="col-sm-4 hidden-xs" style="text-align:right">
					<div class="pagination">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>
			</div>
			<div>

				<form name="editForm" style="margin-top:10px">

					<div km-tab="general">

						<legend>General information</legend>

						<div class="row">

							<div class="col-md-10">
								<div class="km-control-group" required name="title" caption="Title of the initiative">
									<div km-textbox-ml required ng-model="document.title" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="projectNumber" caption="Project number or identifier">
									<div class="help-block">Please provide any project number, identifier or reference number, if applicable.</div>
									<div km-textbox-ml name="projectNumber" ng-model="document.projectNumber" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" required name="projectDocument" caption="Website address(es)">
									<div class="help-block">Please provide the URL of the website (e.g. http://www.cbd.int) and the name of the website (e.g. 'Convention on Biological Diversity').</div>
									<div km-link name="projectDocument" required ng-model="document.projectDocument" allow-link="true" identifier="document.header.identifier"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" required name="contacts" caption="Contact person">
									<!-- contact is not loading , for testing resource is taken -->
									<div km-reference multiple name="contacts" ng-model="document.contacts" add-caption="Add an contacts..." loader="loadRecords(identifier, 'contact')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="geographicScope" caption="Geographic scope">
									<div km-select name="geographicScope" required ng-model="document.geographicScope"
											placeholder="Please select one option" items="options.geographicScope()"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="document.geographicScope && (isGlobalOrRegional() || isNational())">
							<div class="col-md-12">
								<div class="km-control-group"  required style="padding:10px;">
									<div class="row">
										<div class="col-md-3" ng-show="!isNational()">
						
											<div class="km-control-group" required name="geographicScope" caption="">
													<label name="countryRegions" class="control-label" for="geographicScope">Geographical or political/economic group(s)</label>
												<div km-select multiple required name="regions"
														ng-model="countryRegions.regions" placeholder="Please select option(s)"
														items="options.regions()"></div>
											</div>
										</div>
										<div class="col-md-1" ng-hide="!isGlobalOrRegional()">
											and/or
										</div>
										<div class="col-md-3">
											<div class="km-control-group" style="text-align: left;"  caption="">
												<label name="countryRegions" ng-required="isNational()" class="control-label" for="countryRegions">
													Country(ies)
												</label>
												<div km-select multiple required filter-type="startsWith" ng-model="countryRegions.countries" placeholder="Please select option(s)" items="options.countries()"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="row" ng-show="isSubnational()">
							<div class="col-md-10">
								<div class="km-control-group" required="isSubnational()" name="jurisdiction" caption="Jusrisdiction">
									<div km-textbox-ml required="isSubnational()" name="jurisdiction" ng-model="document.geographicScope.jurisdiction" placeholder="" locales="document.header.languages" ng-change="clearCommunity()"></div>
								</div>
							</div>
						</div> -->

						<div class="row" ng-if="document.geographicScope && isSubnational()">
							<div class="col-md-12">
								<div class="km-control-group"  name="countryRegions" caption="">
									<label name="countryRegions" required class="control-label" for="countryRegions">
										Country(ies)
									</label>
									<div km-select multiple required  ng-model="countryRegions.countries" placeholder="Please select option(s)" items="options.countries()"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="km-control-group"  name="geographicScope.customValue" caption="">
									<label name="geographicScope.customValue" required="isSubnational()" class="control-label" for="geographicScope.customValue">
										Name of the sub-national jurisdiction
									</label>
									<div km-textbox-ml required="isSubnational()"  ng-model="document.geographicScope.customValue" placeholder="Please select option(s)" locales="document.header.languages"></div>
								</div>
							</div>
						</div>


						<!-- <div class="row" ng-show="isCommunity()">
							<div class="col-md-10">
								<div class="km-control-group" required="isCommunity()" name="community" caption="Community">
									<div km-textbox-ml required="isCommunity()" name="community" ng-model="document.geographicScope.community" placeholder="" locales="document.header.languages" ng-change="clearJurisdiction()"></div>
								</div>
							</div>
						</div> -->
						<div class="row" ng-if="document.geographicScope && isCommunity()">
							<div class="col-md-12">
								<div class="km-control-group"  name="countries" caption="">
									<label name="countryRegions" required class="control-label" for="countryRegions">
										Country(ies)
									</label>
									<div km-select multiple required ng-model="countryRegions.countries" placeholder="Please select option(s)" items="options.countries()"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="km-control-group" name="geographicScope.customValue" caption="">
									<label name="geographicScope.customValue" required="isCommunity()" class="control-label" for="geographicScope.customValue">
										Community name
									</label>
									<div km-textbox-ml required="isCommunity()" ng-model="document.geographicScope.customValue" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="status" caption="Status">
									<div km-select name="status" required ng-model="document.status" id="documentStatus"
									placeholder="Please select one option" items="options.status()"  show-description="true"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="timeframe" required caption="6. Timeframe">
									<div class=" well well-sm">
										<div class="row">
											<div class="col-md-3">
												<div class="km-control-group" name="startDate" caption="Start date">
													<div km-date name="startDate" ng-model="document.startDate" ng-change="clearDuration()"></div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="km-control-group" name="endDate" caption="End date">
													<div km-date name="endDate" ng-model="document.endDate" ng-change="clearDuration()"></div>
												</div>
											</div>
											<div class="col-md-1 text-center" ng-show="!document.status || isProposedOrApproved()">
												<div class="km-control-group bold" name="enddate" style="margin-top:30px;" > OR </div>
											</div>
											<div class="col-md-5">
												<div class="km-control-group" name="duration" caption="Duration" ng-show="!document.status || isProposedOrApproved()">
													<label for="durationPeriod" style="width:0px;height:0px;display:inline">
														<span style="display:none">6. Please enter duration in number for eg. 24</span>
													</label>
													<label for="durationText" style="width:0px;height:0px;display:inline">
														<span style="display:none">6. Please identify whether the duration is expressed in years, months or days</span>
													</label>
													<input type="number" name="durationPeriod" ng-model="document.durationPeriod"
													minlength="1" placeholder="eg. 24" ng-change="clearDates()" class="form-control"
													style="display:inline-block;width:100px"/>
													<select name="durationText" ng-model="document.durationText"  class="form-control"
													style="display:inline-block;width:100px" placeholder="eg. Months">
														<option value=""></option>	
														<option value="days">Days</option>
														<option value="months">Months</option>
														<option value="years">Years</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="activityScope" caption="Type of capacity development initiative">
									<div km-term-check name="activityScope" required ng-model="document.activityScope" terms="options.activityScope()" binding-type="term"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
									<div class="km-control-group"  bold="true" required name="isProjectProgramme" caption="Is this part of a larger project or programme?">
										<div class="km-yes-no" required name="isProjectProgramme" ng-model="document.isProjectProgramme"></div>
										

										<div class="row" ng-show="document.isProjectProgramme">
											<div class="col-md-10">
												<div class="km-control-group" name="projectProgrammeName" caption="Please specify the name of project or programme.">
													<div km-textbox-ml  name="projectProgrammeName" ng-model="document.projectProgrammeName" placeholder="" locales="document.header.languages"></div>
												</div>
											</div>
										</div>

										<div class="km-control-group" name="broaderProjects" caption="Please link to a clearing-house record about this project or programme." ng-show="document.capacityBuildingType.isProjectProgramme">
											<div km-reference multiple name="broaderProjects" ng-model="document.broaderProjects"
											 add-caption="Add Broader Projects..." loader="loadRecords(identifier, 'capacityBuildingInitiative')">
												<div>
													<div><strong>{{reference.title | lstring}}</strong></div>
													<div>{{reference.summary | lstring}}</div>
												</div>
											</div>
										</div>
										
									</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" required name="organizations" caption="Agency(ies) or organisation(s) implementing and/or executing the initiative"></div>

								<div class="checkbox"><label><input type="checkbox" ng-model="document.isImplementedByAgencies">Implementing agency(ies) or organization(s)</label></div>
								<div class="km-control-group" ng-show="document.isImplementedByAgencies" required="document.isImplementedByAgencies" name="implementingAgencies" caption="Please select the implementing agency(ies) or organization(s)">
									<div km-reference multiple name="implementingAgencies" ng-model="document.implementingAgencies" add-caption="Add an organization..." loader="loadOrgs(identifier)">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>


								<div class="checkbox"><label><input type="checkbox" ng-model="document.isExecutededByAgencies">Executing agency(ies) or organization(s)</label></div>
								<div class="km-control-group" ng-show="document.isExecutededByAgencies" required="document.isExecutededByAgencies" name="executingAgencies" caption="Please select the executing agency(ies) or organization(s)">
									<div km-reference multiple name="executingAgencies" ng-model="document.executingAgencies" add-caption="Add an organization..." loader="loadOrgs(identifier)">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>

								<div class="checkbox"><label><input type="checkbox" ng-model="document.isCollaboratededByPartners">Collaborating partner(s)</label></div>
								<div class="km-control-group" ng-show="document.isCollaboratededByPartners" required="document.isCollaboratededByPartners" name="collaboratingPartners" caption="Please select the collaborating partner(s)">
									<div km-reference ng-show="document.isCollaboratededByPartners" multiple name="collaboratingPartners" ng-model="document.collaboratingPartners" add-caption="Add an organization..." loader="loadOrgs(identifier)">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<legend>Detailed information</legend>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" required name="description" caption="Short description of the initiative, including its goals and objectives (max 150 words)">
									<div km-textbox-ml required ng-model="document.description" rows="3" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" required name="categories" caption="Category(ies) of capacity development activities">
									<div km-term-check name="categories" required ng-model="document.categories" terms="options.categories()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="audience" caption="Main target group(s)/beneficiary(ies)">
									<div km-term-check name="audience" required ng-model="document.targetGroups" terms="options.targetGroups()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

						<legend>Information on funding</legend>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" required name="fundingSourceTypes" caption="Type(s) of funding source">
									<div km-term-check name="fundingSourceTypes" required ng-model="document.fundingSourceTypes" terms="options.fundingSources()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
						<div class="row" ng-show="isSelfFunding()">
							<div class="col-md-10">
								<div class="km-control-group" required="isSelfFunding()" name="selfFunding" caption="Please provide further information on funding">
									<div km-textbox-ml required="isSelfFunding()" rows="2" name="selfFunding" ng-model="document.selfFundingInfo" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="corefundingsources" caption="Core funding-source(s)">
									<div km-reference multiple name="corefundingsources" ng-model="document.coreFundingSources" add-caption="Add an organization..." loader="loadOrgs(identifier)">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="cofinancingsources" caption="Co-financing source(s)">
									<div km-reference multiple name="cofinancingsource" ng-model="document.coFinancingSources" add-caption="Add an organization..." loader="loadOrgs(identifier)">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="km-control-group" name="totalBudget" caption="Total budget (amount, in US dollars)">
									<!-- <div km-textbox-ml name="totalBudget" ng-model="document.totalBudget" rows="1" locales="document.header.languages"></div> -->
									<div class="input-group">
									  <span class="input-group-addon">USD$</span>
									  <input type="text" class="form-control" style="width:200px" required name="totalBudget" ng-model="document.totalBudget" />
									</div>
								</div>
							</div>
						</div>


						<legend>Capacity-building outcomes</legend>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="resultsAchievements" caption="Results">
									<span class="help-block">This information can be provided once there are some results (outputs, outcomes or impacts) or best practices and lessons learned from the ongoing or completed initiative.</span>
									<div km-textbox-ml name="resultsAchievements" ng-model="document.resultsAchievements" rows="4" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="resultsOutputs" caption="Main outputs">
									<span class="help-block">Please provide a web link to, or attach a copy of, the relevant products (e.g. tools and materials) developed by the initiative and/or reports.</span>
									<div km-link name="resultsOutputs" ng-model="document.resultsOutputs" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
								</div>
							</div>
						</div>
						<!-- ToDo need to verify -->
						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" required name="resultsReference" caption="Please select the virtual library record number containing relevant information.">
									<div km-reference multiple name="resultsReference" ng-model="document.resultsReference" loader="loadRecords(identifier, 'resource')">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="bestPractices" caption="Good practices and lessons learned">
									<span class="help-block">Please provide a short summary of the best practices and lessons learned (max 500 words). </span>
									<div km-textbox-ml name="bestPractices" ng-model="document.bestPractices" rows="4" locales="document.header.languages"></div>
								</div>
							</div>
						</div>
						<div class="row  bottom-spacing">
							<div class="col-md-10">
								<div class="km-control-group well well-sm" name="aichiTargets" caption="Aichi targets">
									<div km-term-check name="aichiTargets" ng-model="document.aichiTargets" placeholder="Please select related target..." terms="options.aichiTargets()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
						<a translation-url name="#AdditionalInformation"></a>
						<legend>Additional information</legend>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="address" caption="Any other relevant information">
									<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
									<div km-textbox-ml ng-model="document.relevantInformation" rows="4" placeholder="" locales="document.header.languages"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="relevantDocuments" caption="Any other relevant documents">
									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" allow-link="true" allow-file="true" identifier="document.header.identifier" ></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="notes">
									<legend>Notes</legend>
									<span class="help-block">
										The field “Notes” is for personal reference and can be seen only when the record is being edited.
									</span>
									<div km-notes name="notes" ng-model="document.notes"></div>
								</div>
							</div>
						</div>
					</div>

					<div km-tab="chm">
						<legend>Information on thematic coverage of the initiative</legend>	
						<!-- <legend>Subject/Topic/Issue</legend> -->

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group well well-sm" name="cbdSubjects" caption="Related CBD Subject area(s)">
									<div km-term-check name="cbdSubjects" ng-model="document.cbdSubjects" terms="options.cbdSubjects()" binding-type="term[]"></div>
								</div>
							</div>
						</div>

					</div>

					<div km-tab="absch">

						<legend>Information on thematic coverage of the initiative</legend>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="absKeyAreas" caption="Key areas and strategic measures for capacity-building and development">
									<div class="help-block">The key areas have been identified by the Strategic Framework for
										capacity-building and development to support the effective implementation of the Nagoya Protocol
										(decision NP-1/8).</div>
									<div km-term-check name="absKeyAreas" ng-model="document.absKeyAreas" terms="options.absKeyAreas()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
					</div>

					<div km-tab="bch">

						<legend>Information on thematic coverage of the initiative</legend>

						<div class="row">
							<div class="col-md-10">
								<div class="km-control-group" name="cpbThematicAreas" caption="Thematic areas">
									<div km-term-check name="cpbThematicAreas" ng-model="document.cpbThematicAreas" terms="options.bchSubjects()" binding-type="term[]"></div>
								</div>
							</div>
						</div>
					</div>
				</form>

				<div km-tab="review">
					<div km-document-validation ng-model="validationReport"></div>

					<div class="btn-group" ng-show="document.header.languages.length>1">
						<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
					</div>
					<view-capacity-building-initiative ng-model="document" locale="review.locale" link-target="_blank"></view-capacity-building-initiative>
				</div>

				<div class="row">

					<div class="col-sm-9 col-xs-12">
						<ul class="pagination">
							<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="prevTab()"											>&laquo;</a></li>
							<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'"										>General</a></li>
							<li ng-class="{ active  : tab=='chm'     }"><a translation-url href="" ng-click="tab='chm'"   									    >CBD</a></li>
							<li ng-class="{ active  : tab=='absch'   }"><a translation-url href="" ng-click="tab='absch'"    								    >ABS</a></li>
							<li ng-class="{ active  : tab=='bch'     }"><a translation-url href="" ng-click="tab='bch'"   									    >Biosafety</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'"										>Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="nextTab()"											>&raquo;</a></li>
						</ul>
					</div>

					<div class="col-sm-3 hidden-xs" style="text-align:right">
						<div class="pagination">
							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>

					<div class="col-xs-12 visible-xs">
						<div class="">
							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
