<div>
	<h1>Contact Details   <i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i></h1>

	<div class="alert alert-danger" ng-cloak ng-show="error">
		<strong>An error has occurred...</strong>
		<div>{{error}}</div>
	</div>

	<div ng-show="status=='loading'"><em>Loading...</em></div>

	<div ng-hide="status=='hidden'||status=='loading'">

		<div class="row">

			<div class="col-xs-12 visible-xs">
				<div class="">
					<span km-form-languages ng-model="document.header.languages"></span>
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>

			<div class="col-sm-8 col-xs-12">
				<ul class="pagination">
					<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
					<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">General</a></li>
					<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">Review</a></li>
					<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>
			</div>

			<div class="col-sm-4 hidden-xs" style="text-align:right">
				<div class="pagination">
					<span km-form-languages ng-model="document.header.languages"></span>
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>
		</div>


		<form name="editForm">
			<div km-tab="general">

				<legend>General Information</legend>

				<div class="row">
					<div class="col-xs-12">
						<div class="km-control-group" name="type" caption="Contact Type">												
							<label><input type="radio" ng-model="document.type" value="organization" name="editionContactType" /> Organization </label>
							<label><input type="radio"  ng-model="document.type" value="person" name="editionContactType" /> Person</label>
						</div>
					</div>
				</div>
				<div ng-if="document.type=='person'">
			
					<legend>Personal Information</legend>

					<div class="row">

						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							<div class="km-control-group" name="prefix" caption="Title">
								<div km-textbox-ml name="prefix" ng-model="document.prefix" locales="document.header.languages"></div>
							</div>
						</div>

						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="km-control-group" name="firstName" ng-required="!form.contact_firstNameX.$valid" caption="First name" required>
								<input type="text" class="form-control" name="firstNameX" ng-model="document.firstName" ng-required="document.type=='person'" />
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="km-control-group" name="middleName" caption="Middle name">
								<input type="text" class="form-control" name="middleName" ng-model="document.middleName" />
							</div>
						</div>

						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="km-control-group" name="lastName" ng-required="!form.contact_lastNameX.$valid" caption="Last name" required>
								<input type="text" class="form-control" name="lastNameX" ng-model="document.lastName" ng-required="document.type=='person'" />
							</div>
						</div>

					</div>
				
					<div class="row">
						<div class="col-md-10">
							<div class="km-control-group" name="contactOrganization" caption="Organization">
								<div km-reference multiple name="contactOrganization" ng-model="document.contactOrganization" loader="loadContactOrgs(identifier, 'organization')" order-by="sortContacts(reference)">
										<div>
											<div><strong>{{reference.title | lstring}}</strong></div>
											<div>{{reference.summary | lstring}}</div>
										</div>
								</div>
							</div>
						</div>
					</div>
					

					<div class="row">
						<div class="col-md-12">
							<div class="km-control-group" name="department" caption="Department / Division / Unit">
								<div km-textbox-ml name="department" ng-model="document.department" locales="document.header.languages"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="km-control-group" name="designation" caption="Job title">
								<div km-textbox-ml name="designation" ng-model="document.designation" locales="document.header.languages"></div>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="document.type=='organization'">
					<legend>Organization Information</legend>
					<div class="row">
						<div class="col-md-7 col-xs-12">
							<div class="km-control-group" name="organization" ng-required="!form.organization.$valid && document.type!='person'" caption="Organization">
								<div class="help-info">Full name without abbreviation</div>
								<div ng-if="document.header.schema=='organization'" km-textbox-ml name="organization" ng-model="document.name" required locales="document.header.languages"></div>
								<div ng-if="document.type=='organization' && document.header.schema=='contact'" km-textbox-ml name="organization" ng-model="document.organization" locales="document.header.languages"></div>
							</div>
						</div>

						<div class="col-md-5 col-xs-12">
							<div class="km-control-group" name="organizationAcronym" caption="Acronym">
								<div class="help-info">Abbreviation for long name</div>
								<div ng-if="document.header.schema=='organization'" km-textbox-ml name="organizationAcronym" ng-model="document.acronym" placeholder="example: SCBD" locales="document.header.languages"></div>
								<div ng-if="document.type=='organization'  && document.header.schema=='contact'" km-textbox-ml name="organizationAcronym" ng-model="document.organizationAcronym" placeholder="example: SCBD" locales="document.header.languages"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8">
							<div class="km-control-group" name="organizationType" caption="Type of organization">
								<div km-select name="organizationType" ng-model="document.organizationType" items="options.organizationTypes"></div>
							</div>
						</div>
						<div class="col-md-4" ng-show="document.organizationType.identifier=='5B6177DD-5E5E-434E-8CB7-D63D67D5EBED'">
							<div class="km-control-group" name="organizationTypeName" caption="Other organization type">
								<div km-textbox-ml name="organizationTypeName" ng-model="document.organizationType.customValue" placeholder="example: SCBD" locales="document.header.languages"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of if  -->




				<div>
					<legend>Address</legend>
					<div ng-show="document.contactOrganization">
						<div class="row">
							<div class="col-xs-12">
								<div class="km-control-group" name="addressType" caption="Address type">												
									<label class="radio-inline">
										<input type="radio" ng-model="document.addressType" value="organization" name="editionAddressType"/>Use organization address</label>
									<label class="radio-inline">
										<input type="radio" ng-model="document.addressType" value="person" name="editionAddressType"/>Add personal coordinates, if different from organization’s coordinates. </label>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="!document.contactOrganization || (document.contactOrganization && document.addressType=='person')">
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="address" caption="Street address">
									<div km-textbox-ml name="address" ng-model="document.address" rows="2" placeholder="example: 413 St-Jacques Ouest, Suite 800" locales="document.header.languages" ng-change="setAddressType()"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="km-control-group" name="city" caption="City" >
									<div km-textbox-ml name="city" ng-model="document.city" locales="document.header.languages" placeholder="example: Montreal" ng-change="setAddressType()"></div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="km-control-group" name="state" caption="State or Province">
									<div km-textbox-ml name="state" ng-model="document.state" locales="document.header.languages" placeholder="example: Quebec" ng-change="setAddressType()"></div>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-md-6">
								<div class="km-control-group" name="postalCode" caption="Postal Code or Zip">
									<div km-textbox-ml name="postalCode" ng-model="document.postalCode" locales="document.header.languages" placeholder="example: H2Y 1N9" ng-change="setAddressType()"></div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="km-control-group" name="country" required caption="Country of Contact">
									<div km-select name="country" ng-model="document.country" watch-items items="options.countries" required></div>
								</div>
							</div>
						</div>
					</div>
											
				</div>
				<!-- End of Address  -->


				<legend>Contact Information</legend>
			
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="phones" caption="Phone number(s)">
							<div class="help-info">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
							<div km-inputtext-list name="phones" ng-model="document.phones" placeholder="example: +1 514.288.2220"></div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="faxes" caption="Fax number(s)">
							<div class="help-info">Please use the following format: +[country code] [city code] [telephone number] [extension, if necessary].</div>
							<div km-inputtext-list name="faxes" ng-model="document.faxes" placeholder="example: +1 514.288.6588"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="emails" caption="Email(s)" required>
							<div km-inputtext-list name="emails" type="email" ng-model="document.emails" placeholder="example: secretariat@cbd.int"></div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="km-control-group" name="websites" caption="Website address(es)">
							<div km-inputtext-list name="websites" type="url" ng-model="formFields.websites" placeholder="example: http://www.cbd.int"></div>
						</div>
					</div>
				</div>

				

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="notes">
							<legend>Notes</legend>
							<span class="help-block">
								The field “Notes” is for personal reference and can be seen only when the record is being edited.
							</span>
							<textarea class="form-control" rows="4" name="notes" ng-model="document.notes" ></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div km-tab="review">

			<div km-document-validation ng-model="validationReport"></div>

			<div class="btn-group" ng-show="document.header.languages.length>1">
			  <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}"/>
			</div>

			<view-contact ng-model="reviewDocument" locale="review.locale" link-target="_blank"></view-contact>

		</div>


		<div class="row">

			<div class="col-sm-9 col-xs-12">
				<ul class="pagination">
					<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
					<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">General</a></li>
					<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">Review</a></li>
					<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>
			</div>

			<div class="col-sm-3 hidden-xs" style="text-align:right">
				<div class="pagination">
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>

			<div class="col-xs-12 visible-xs">
				<div class="">
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>
		</div>
	</div>
</div>
