<div>
	<h1>National Indicator</h1>

	<div class="alert alert-danger" ng-show="hasError()">
		<strong>Error as occured...</strong>
		<div>{{error}}</div>
	</div>

	<div ng-show="status=='loading'">Loading...</div>

	<div ng-hide="status=='hidden'||status=='loading'">

		<div class="row">
			<div class="col-xs-12 visible-xs">
				<div class="">
					<span km-form-languages ng-model="document.header.languages"></span>
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>

			<div class="col-sm-8 col-xs-12">
				<ul class="pagination">
					<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
					<li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
					<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
					<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>
			</div>

			<div class="col-sm-4 hidden-xs" style="text-align:right">
				<div class="pagination">
					<span km-form-languages ng-model="document.header.languages"></span>
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>
		</div>

		<form name="editForm">
			<div km-tab="general">

				<legend>General Information</legend>

				<div class="row bottom-spacing">
					<div class="col-md-6">
						<div class="km-control-group" required name="government" caption="Country">
							<div km-select ng-disabled="!!defaultGovernment()" required name="government" ng-model="document.government" placeholder="Please select country" watch-items items="options.countries"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" required name="title" caption="National Indicator Name">
							<div class="help-block">Please use the official title, if available.</div>
							<div km-textbox-ml required name="title" ng-model="document.title" locales="document.header.languages"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" required name="description" caption="Description of the National Indicator">
							<div km-textbox-ml required name="description" ng-model="document.description" rows="5" locales="document.header.languages" placeholder=""></div>
						</div>
					</div>
				</div>

				<div class="row bottom-spacing">
					<div class="col-md-12">
						<div class="km-control-group" name="strategicPlanIndicators" caption="Link to Relevant Strategic Plan Indicators">
							<div km-select name="strategicPlanIndicators" multiple ng-model="document.strategicPlanIndicators" placeholder="Please select the relevant indicators" watch-items items="options.strategicPlanIndicators"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="documents" caption="Main relevant document(s)">
							<div km-link name="documents" ng-model="document.documents" identifier="document.header.identifier"></div>
						</div>
					</div>
				</div>

				<legend>Other Relevant Information</legend>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="relevantInformation" caption="Additional Information">
							<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
							<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="relevantDocuments" caption="Other relevant website address or attached documents">
							<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="km-control-group" name="notes">
							<legend>Notes</legend>
							<span class="help-block">
								The field “Notes” is for personal reference and can be seen only when the record is being edited.
							</span>
							<div km-notes name="notes" ng-model="document.notes"></div>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div km-tab="review">

			<div km-document-validation ng-model="validationReport"></div>

			<div class="btn-group" ng-show="document.header.languages.length>1">
				<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
			</div>

			<view-national-indicator ng-model="reviewDocument" locale="review.locale" link-target="_blank"></view-national-indicator>
		</div>

		<div class="row">

			<div class="col-sm-9 col-xs-12">
				<ul class="pagination">
					<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
					<li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
					<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
					<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>
			</div>

			<div class="col-sm-3 hidden-xs" style="text-align:right">
				<div class="pagination">
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>

			<div class="col-xs-12 visible-xs">
				<div class="">
					<span km-form-std-buttons document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>
		</div>
	</div>
</div>
