<div layout="column" class="row md-whiteframe-z1">
  <div smooth-scroll duration="100" offset="200" ></div>
	<md-toolbar>
    <div class="md-toolbar-tools bg-darkgrey" >
      <h2 class="md-flex">Online Reporting: National Target <i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i></h2>
    </div>
  </md-toolbar>
  <md-content style="padding:20px;background-color:transparent;">
  <div smooth-scroll duration="100" offset="200" ></div>

	<div class="alert alert-danger" ng-show="hasError()">
		<strong>An error has occurred...</strong>
		<div>{{error}}</div>
	</div>

	<div class="row" ng-show="status=='loading'">Loading...</div>

	<div ng-hide="status=='hidden'||status=='loading'">

			<div class="row">
				<div class="col-xs-6">
					<span km-form-languages ng-model="document.header.languages"></span>
				</div>
		            <div class="col-xs-6 text-right">
		                <span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
		            </div>
		        </div>

		        <div class="row">
					<div class="col-xs-12">
						<ul class="pagination">
							<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
							<li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
						</ul>
					</div>
				</div>

				<form name="editForm">

					<div km-tab="general">

						<legend>General Information</legend>

						<div class="row bottom-spacing">
							<div class="col-md-12">
								<div class="km-control-group" required name="government" caption="Country">
									<div km-select ng-disabled="!!defaultGovernment()" required name="government" ng-model="document.government" placeholder="Please select country" watch-items items="options.countries"></div>
								</div>
							</div>
						</div>
                        <legend>National Target Type</legend>
                        <div class="row">
							<div class="col-md-12">
								<div class="km-control-group" required name="isAichiTarget" caption="Target Type">

                                    <h4> <input type="radio" name="type" ng-model="document.isAichiTarget" ng-value="false"/>
									<span ng-class="{'color-litegrey': document.isAichiTarget}"> Create a new National Target</span></h4>

									<h4> <input type="radio" name="type" ng-model="document.isAichiTarget" ng-value="true"/>
									<span ng-class="{'color-litegrey': !document.isAichiTarget}">Use an <a href="https://www.cbd.int/sp/targets/rationale/" target="_new" >Aichi Biodiversity Target</a> as your National Target</span></h4>

								</div>
							</div>
						</div>
                        <div ng-show="document.isAichiTarget">
    						<legend>Aichi Biodiversity Target</legend>

    						<div class="row bottom-spacing">
    							<div class="col-md-12">
    								<div class="km-control-group" required name="aichiTargets" caption="Aichi Biodiversity Target">
    									<div km-select required  name="aichiTargets" ng-model="selectedAichi.target" placeholder="Please select an Aichi Biodiversity Target" watch-items items="options.aichiTargetsFiltered"></div>
    								</div>
    							</div>

    							<div class="col-md-12">
    								<div class="km-control-group" name="otherAichiTargets" caption="Aichi Biodiversity Sub-targets">
    									<div km-select name="otherAichiTargets" multiple ng-model="document.otherAichiTargets" placeholder="Please select Aichi Biodiversity Sub-targets" watch-items items="options.aichiSubTargets"></div>
    								</div>
    							</div>
    						</div>
                        </div>

                        <div ng-show="!document.isAichiTarget">
    						<div class="row" >
    							<div class="col-md-12">
    								<div class="km-control-group" required name="title" caption="National Target">
    									<div class="help-block">Please use the official title, if available.</div>
    									<div km-textbox-ml required name="title" ng-model="document.title" locales="document.header.languages"></div>
    								</div>
    							</div>
    						</div>

    						<div class="row">
    							<div class="col-md-12">
    								<div class="km-control-group" required name="description" caption="Rationale for the National Target">
    									<div km-textbox-ml required name="description" ng-model="document.description" rows="5" locales="document.header.languages" placeholder=""></div>
    								</div>
    							</div>
    						</div>

    						<div class="row bottom-spacing">
    							<div class="col-md-11 ">


    								<div class="km-control-group" required name="jurisdiction" caption="Level of application">
    								<span class="help-block">Please specify if the target refers to the national or subnational level</span>
    									<div km-select name="jurisdiction" ng-model="document.jurisdiction" placeholder="Select level of application" watch-items items="options.jurisdictions"></div>
    								</div>
    							</div>
    							<div class="col-md-10" ng-show="isJurisdictionSubNational()">
    								<div class="km-control-group" required name="jurisdictionInfo" caption="Please provide additional details on the specific level of application">
    									<div km-textbox-ml name="jurisdictionInfo" ng-model="document.jurisdictionInfo" rows="3" locales="document.header.languages" placeholder=""></div>
    								</div>
    							</div>
    						</div>

    						<legend>Relevance of National Targets to Aichi Targets</legend>

    						<div class="row bottom-spacing">
    							<div class="col-md-12">

									<div class="help-block">Links between national targets and Aichi Biodiversity Targets (Note: There is no need to enter this information if your country reports against the Aichi Biodiversity Targets.)</div>

    								<div class="km-control-group" required name="aichiTargets" caption="Main related Aichi Biodiversity Targets">
    									<div km-select required displaycount="1" name="aichiTargets" multiple ng-model="document.aichiTargets" placeholder="Please select main Aichi Biodiversity Targets" watch-items items="options.aichiTargets"></div>
    								</div>
    							</div>

    							<div class="col-md-12">
    								<div class="km-control-group" name="otherAichiTargets" caption="Other related Aichi Biodiversity Targets">
    									<div km-select name="otherAichiTargets" multiple ng-model="document.otherAichiTargets" placeholder="Please select other related Aichi Biodiversity Targets" watch-items items="options.aichiTargets"></div>
    								</div>
    							</div>
    						</div>

    						<legend>Relevant Documents and Information</legend>
                            <div class="help-block">If possible, please attach relevant documents where such target is included and can be found.</div>

    						<div class="row">
    							<div class="col-md-12">
    								<div class="km-control-group" name="relevantInformation" caption="Relevant information">
    									<div class="help-block">Please use this field to provide any relevant information.</div>
    									<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
    								</div>
    							</div>
    						</div>

    						<div class="row">
    							<div class="col-md-12">
    								<div class="km-control-group" name="relevantDocuments" caption="Relevant websites, links, and files">
    									<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
    								</div>
    							</div>
    						</div>

                        </div>
						<div class="row">
							<div class="col-md-12">
								<div class="km-control-group" name="notes">
									<legend>Notes</legend>
									<span class="help-block">
										The field “Notes” is for personal reference and can be seen only when the record is being edited.
									</span>
									<div km-notes name="notes" ng-model="document.notes"></div>
								</div>
							</div>
						</div>
					</div>
					<!--end addtional info tab-->
				</form>
				<div km-tab="review">

					<div km-document-validation ng-model="validationReport"></div>

					<div class="btn-group" ng-show="document.header.languages.length>1">
						<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
					</div>

                    <view-national-target ng-model="document" locale="review.locale"></view-national-target>
				</div>




		<div class="row" style="padding-bottom:30px;">
			<div class="col-sm-9 col-xs-12">
				<ul class="pagination">
					<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
					<li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
					<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
					<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
				</ul>
			</div>


			<div class="col-xs-12 text-right">
				<div class="">
                    <span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
				</div>
			</div>
		</div>



	</div>
</md-content>
</div>
