<form name="editForm">

	<legend>General Information</legend>

	<div class="row bottom-spacing">
		<div class="col-md-6">
			<div class="km-control-group" required name="government" caption="Country">
				<div km-select ng-disabled="!!defaultGovernment()" required name="government" ng-model="document.government" placeholder="Please select country" watch-items items="options.countries"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="km-control-group" required name="title" caption="National Indicator Name">
				<div class="help-block">Please use the official title, if available.</div>
				<div km-textbox-ml required name="title" ng-model="document.title" locales="document.header.languages"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="km-control-group" required name="description" caption="Description of the National Indicator">
				<div km-textbox-ml required name="description" ng-model="document.description" rows="5" locales="document.header.languages" placeholder=""></div>
			</div>
		</div>
	</div>

	<div class="row bottom-spacing">
		<div class="col-md-12">
			<div class="km-control-group" name="strategicPlanIndicators" caption="Link to Relevant Strategic Plan Indicators">
				<div km-select name="strategicPlanIndicators" multiple ng-model="document.strategicPlanIndicators" placeholder="Please select the relevant indicators" watch-items items="options.strategicPlanIndicators"></div>
			</div>
		</div>
	</div>

	<legend>Documents and relevant information</legend>

	<div class="row">
		<div class="col-md-12">
			<div class="km-control-group" name="relevantDocuments" caption="Relevant website address or documents">
				<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="km-control-group" name="relevantInformation" caption="Additional Information">
				<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
				<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
			</div>
		</div>
	</div>

</form>
