<div>
	<h1>Strategic Plan Indicators   <i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i></h1>

	<div class="alert alert-danger" ng-cloak ng-show="hasError()">
		<strong>An error has occurred...</strong>
		<div>{{error}}</div>
	</div>

	<div ng-show="!isLoading()&&!isNew">

		<div style="position:relative">

			<div class="row">
				<div class="col-xs-12 visible-xs">
					<div class="">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>

				<div class="col-sm-8 col-xs-12">
					<ul class="pagination">
						<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
						<li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
						<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
						<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
					</ul>
				</div>

				<div class="col-sm-4 hidden-xs" style="text-align:right">
					<div class="pagination">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>
			</div>

			<div>
				<form name="editForm">
					<div km-tab="general">

							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="title" caption="Indicator Operational Text">
										<div km-textbox-ml name="title" ng-model="document.title" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="headline" caption="Indicator Headline Text">
										<div km-textbox-ml name="headline" ng-model="document.headline" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="icon" caption="Indicator Icon">
										<div km-link name="icon" ng-model="document.icon" allow-file="true" allow-link="false" mime-types="image/jpeg;image/png" identifier="document.header.identifier"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="subTopic" caption="Sub-topic Text">
										<div km-textbox-ml rows=6 name="subTopic" ng-model="document.subTopic" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="communicationQuestion" caption="Communication Question">
										<div km-textbox-ml rows=6 name="communicationQuestion" ng-model="document.communicationQuestion" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="operationalClassification" caption="Operational Classification">
										<div km-textbox-ml rows=6 name="operationalClassification" ng-model="document.operationalClassification" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="developmentStatus" caption="Status of development">
										<div km-textbox-ml rows=6 name="developmentStatus" ng-model="document.developmentStatus" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="sensitivity" caption="Sensitivity (can it be used to make assessment by 2015?)">
										<div km-select required name="sensitivity" ng-model="document.sensitivity" items="options.sensitivity()" binding-type="term[]"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="scales" caption="Scale">
										<div km-select multiple required name="scales" ng-model="document.scales" items="options.scales()" binding-type="term[]"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="scientificValidity" caption="Scientific Validity">
										<div km-select required name="scientificValidity" ng-model="document.scientificValidity" items="options.scientificValidity()" binding-type="term[]"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="communicationLevel" caption="How easy can it be communicated?">
										<div km-select required name="communicationLevel" ng-model="document.communicationLevel" items="options.easyCommunicated()" binding-type="term[]"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="dataSources" caption="Data Sources">
										<div km-textbox-ml rows=6 name="dataSources" ng-model="document.dataSources" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="dataRequirements" caption="Data Requirements">
										<div km-textbox-ml rows=6 name="dataRequirements" ng-model="document.dataRequirements" locales="document.header.languages"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="organizations" caption="Who's responsible for measuring">
										<div km-reference name="organizations" ng-model="document.organizations" loader="loadRecords(identifier, 'organization')">
											<div>
												<div><strong>{{reference.title | lstring}}</strong></div>
												<div>{{reference.summary | lstring}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="progressStatus" caption="Status of progress">
										<div km-textbox-ml rows=6 name="progressStatus" ng-model="document.progressStatus" locales="document.header.languages"></div>
									</div>
								</div>
							</div>

							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="linkToResources" caption="Link to resources">
										<div km-link name="linkToResources" ng-model="document.linkToResources" allow-file="true" allow-link="true" identifier="document.header.identifier"></div>
									</div>
								</div>
							</div>

							<legend>Additional Information</legend>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="relevantInformation" caption="Additional Information">
										<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
										<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="relevantDocuments" caption="Other relevant website address or attached documents">
										<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="notes">
										<legend>Notes</legend>
										<span class="help-block">
											The field “Notes” is for personal reference and can be seen only when the record is being edited.
										</span>
										<div km-notes name="notes" ng-model="document.notes"></div>
									</div>
								</div>
							</div>

					</div>
				</form>

				<div km-tab="review">

					<div km-document-validation ng-model="validationReport"></div>

					<div class="btn-group" ng-show="document.header.languages.length>1">
					  <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}"/>
					</div>

					<div class="view-strategic-plan-indicator" ng-model="reviewDocument" locale="review.locale" link-target="_blank"></div>
				</div>

				<div class="row">

					<div class="col-sm-9 col-xs-12">
						<ul class="pagination">
							<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="tab='general'">&laquo;</a></li>
							<li ng-class="{ active  : tab=='general' }"><a href="" ng-click="tab='general'">General</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review'">Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="tab='review'">&raquo;</a></li>
						</ul>
					</div>

					<div class="col-sm-3 hidden-xs" style="text-align:right">
						<div class="pagination">
							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>

					<div class="col-xs-12 visible-xs">
						<div class="">
							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>
				</div>

				<ul class="pagination">
				</ul>

			</div>
		</div>
	</div>
</div>
