<div>
	<h1>Strategic Plan Indicators   <i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i></h1>

	<div class="alert alert-danger" ng-cloak ng-show="hasError()">
		<strong>An error has occurred...</strong>
		<div>{{error}}</div>
	</div>

	<div ng-show="!isLoading()&&!isNew">

		<div style="position:relative">

			<div class="row">
				<div class="col-xs-12 visible-xs">
					<div class="">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>

				<div class="col-sm-8 col-xs-12">
					<ul class="pagination">
						<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
						<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">General</a></li>
						<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">Review</a></li>
						<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
					</ul>
				</div>

				<div class="col-sm-4 hidden-xs" style="text-align:right">
					<div class="pagination">
						<span km-form-languages ng-model="document.header.languages"></span>
						<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
					</div>
				</div>
			</div>

			<div>
				<form name="editForm">
					<div km-tab="general">

							<div  class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="title" required caption="Specific Indicator">
										<div km-textbox-ml name="title" required ng-model="document.title" locales="document.header.languages"></div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="km-control-group" required name="aichiTarget" caption="Aichi Biodiversity Target">
										<div km-select required  name="aichiTarget" ng-model="document.aichiTarget" placeholder="Please select an Aichi Biodiversity Target" items="options.aichiTargets()"></div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="availability" caption="Availability of Indicator">
										<div km-select required name="availability" ng-model="document.availabilityStatus" items="options.availability()" binding-type="term[]"></div>
									</div>
								</div>
							</div>

							<div class="km-control-group" name="isEasyToCommunicate" caption="Is easy to communicate?">
								<div km-yes-no ng-model="document.isEasyToCommunicate" locales="document.header.languages"></div>
							</div>


							<div class="km-control-group" name="isFromGlobalToNationalIndicator" caption="Global indicator can be disaggregated to create national indicator or is aggregated from national data?">
								<div km-yes-no ng-model="document.isFromGlobalToNationalIndicator" locales="document.header.languages"></div>
							</div>
							<div class="km-control-group" name="isFromNationalToGlobalIndicator" caption="National data are aggregated to form global indicator?">
								<div km-yes-no ng-model="document.isFromNationalToGlobalIndicator" locales="document.header.languages"></div>
							</div>
							<div class="km-control-group" name="usedInGbo3OrGbo4" caption="Used in GBO3/ GBO4?">
								<div km-yes-no ng-model="document.usedInGbo3OrGbo4" locales="document.header.languages"></div>
							</div>


							<div class="km-control-group" name="source" caption="Source">
								<div km-link name="source" allow-file="false" ng-model="document.source" identifier="document.header.identifier"></div>
							</div>


							<!-- <legend>Additional Information</legend>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="relevantInformation" caption="Additional Information">
										<div class="help-block">Please use this field to provide any other relevant information that may not have been addressed elsewhere in the record.</div>
										<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="relevantDocuments" caption="Other relevant website address or attached documents">
										<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-11">
									<div class="km-control-group" name="notes">
										<legend>Notes</legend>
										<span class="help-block">
											The field “Notes” is for personal reference and can be seen only when the record is being edited.
										</span>
										<div km-notes name="notes" ng-model="document.notes"></div>
									</div>
								</div>
							</div> -->

					</div>
				</form>

				<div km-tab="review">

					<div km-document-validation ng-model="validationReport"></div>

					<div class="btn-group" ng-show="document.header.languages.length>1">
					  <input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}"/>
					</div>

					<div class="view-strategic-plan-indicator" ng-model="reviewDocument" locale="review.locale" link-target="_blank"></div>
				</div>

				<div class="row">

					<div class="col-sm-9 col-xs-12">
						<ul class="pagination">
							<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
							<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">General</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
						</ul>
					</div>

					<div class="col-sm-3 hidden-xs" style="text-align:right">
						<div class="pagination">
							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>

					<div class="col-xs-12 visible-xs">
						<div class="">
							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span>
						</div>
					</div>
				</div>

				<ul class="pagination">
				</ul>

			</div>
		</div>
	</div>
</div>
