<div id="submit">
  <style>
    .badge {
      position: relative!important;
      top: -2px!important;
    }

    .bg-a {
      background-color: #1074BC;
      padding: 0 1px 0 1px;
    }

    .bg-b {
      background-color: #109E49;
      padding: 0 1px 0 1px;
    }

    .bg-c {
      background-color: #FEC210;
      padding: 0 1px 0 1px;
    }

    .bg-d {
      background-color: #EE1D23;
      padding: 0 1px 0 1px;
    }

    .bg-e {
      background-color: #6C1C67;
      padding: 0 1px 0 1px;
    }

    th {
      font-size: 140%;
    }

    .title-row {
      font-size: 140%;
      font-weight: bold;
      border-top: 1px solid #ddd;
      background-color: #f9f9f9;
      padding: 7px 0;
    }

    .row-bottom-border {
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
    }
  </style>



  <div class="container" style="padding-top:20px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right" style="margin-top:5px;">
          <span class="badge bg-published" style="width:130px;padding:5px;">PUBLISHED</span>
          <span class="badge bg-draft" style="width:130px;padding:5px;">DRAFTS</span>
          <!--  <span class="badge bg-request" style="width:130px;padding:5px;">REQUESTS</span>-->
        </div>
        <h1>LifeWeb Online Records Management</h1>
        <h3 class="color-medgrey">Please select the type of information you would like to submit:</h3>
      </div>
    </div>
  </div>

  <h3 class="container-fluid" style="padding-top:5px;border-top:1px solid #DDD;margin-top:60px;margin-bottom:30px;">
        <i ng-click="showSubmissionSection = !showSubmissionSection" class="fa fa-chevron-circle-down color-blue"></i> Lifeweb Projects, Donors, Events and Campaigns
        <a ng-click="displayStyle='table'"><i class="fa fa-list"></i></a>
        <a ng-click="displayStyle='div'"><i class="fa fa-th-large"></i></a>
    </h3>


  <div class="container" style="padding-top:20px;" ng-show="displayStyle=='table' && showSubmissionSection">

    <div class="row title-row row-bottom-border">
      <div class="col-xs-3">Record Type</div>
      <div class="col-xs-7">Description</div>
      <div class="col-xs-1">Status</div>
      <div class="col-xs-1">Action</div>
    </div>

    <div class="row row-bottom-border">
      <div class="col-xs-3">
        <h4 style="padding-top:0;margin-top:0;">Campaigns </h4>
      </div>
      <div class="col-xs-7">
        <!-- <p class="bg-red" style="padding:5px;">Under Development</p> -->
        <p style="font-size:12px;">A series of operations intended to achieve a particular biodiversity objective, perhaps confined to a particular area, spices or ecosystem or any combination thereof. </p>

      </div>
      <div class="col-xs-1">
        <div style="min-width:160px;">
          <span class="badge bg-published">{{getFacet('lwCampaign').public}}</span>
          <span class="badge bg-draft">{{getFacet('lwCampaign').draft}}</span>
          <!--  <span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span> -->
        </div>
      </div>
      <div class="col-xs-1">
        <div class="btn-group-xs">
          <a class="btn btn-info" href="/submit/lwCampaign"><i class="fa fa-list"></i></a>
          <a class="btn btn-primary" href="/submit/lifeWebCampaign/new"><i class="fa fa-plus-square"></i></a>
        </div>
      </div>
    </div>
    <div class="row row-bottom-border">
      <div class="col-xs-3">
        <h4 style="padding-top:0;margin-top:0;">Donors </h4>
      </div>
      <div class="col-xs-7">
        <!-- <p class="bg-red" style="padding:5px;">Under Development</p> -->
        <p style="font-size:12px;">Donors description </p>

      </div>
      <div class="col-xs-1">
        <div style="min-width:160px;">
          <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
          <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
          <!--  <span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span> -->
        </div>
      </div>
      <div class="col-xs-1">
        <div class="btn-group-xs">
          <a class="btn btn-info" href="/submit/lwDonor"><i class="fa fa-list"></i></a>
          <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"><i class="fa fa-plus-square"></i></a>
        </div>
      </div>
    </div>
    <div class="row row-bottom-border">
      <div class="col-xs-3">
        <h4 style="padding-top:0;margin-top:0;">Events </h4>
      </div>
      <div class="col-xs-7">
        <!-- <p class="bg-red" style="padding:5px;">Under Development</p> -->
        <p style="font-size:12px;">Events descrption </p>

      </div>
      <div class="col-xs-1">
        <div style="min-width:160px;">
          <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
          <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
          <!--  <span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span> -->
        </div>
      </div>
      <div class="col-xs-1">
        <div class="btn-group-xs">
          <a class="btn btn-info" href="/submit/lwEvent"><i class="fa fa-list"></i></a>
          <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"><i class="fa fa-plus-square"></i></a>
        </div>
      </div>
    </div>
    <div class="row row-bottom-border">
      <div class="col-xs-3">
        <h4 style="padding-top:0;margin-top:0;">Projects</h4>
      </div>
      <div class="col-xs-7">
        <!-- <p class="bg-red" style="padding:5px;">Under Development</p> -->
        <p style="font-size:12px;">A series of operations intended to achieve a particular biodiversity objective, perhaps confined to a particular area, spices or ecosystem or any combination thereof. </p>

      </div>
      <div class="col-xs-1">
        <div style="min-width:160px;">
          <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
          <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
          <!--  <span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span> -->
        </div>
      </div>
      <div class="col-xs-1">
        <div class="btn-group-xs">
          <a class="btn btn-info" href="/submit/lwProject"><i class="fa fa-list"></i></a>
          <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"><i class="fa fa-plus-square"></i></a>
        </div>
      </div>
    </div>
  </div>


  <!-- DIV VIEW ****************************************************************************************** -->
  <div class="container" ng-show="displayStyle=='div'  && showSubmissionSection">
    <div class="row">
      <div class="col-md-4">
        <div class="box bg-grey md-whiteframe-z1">

          <div class="pull-right">
            <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
            <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
            <!--<span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span>-->
          </div>

          <a href="list"><h4 style="padding-top:0;margin-top:0;">Campaigns </h4></a>
          <p style="font-size:12px;">A series of operations intended to achieve a particular biodiversity objective, perhaps confined to a particular area, spices or ecosystem or any combination thereof. </p>
          <!--  <p class="alert alert-danger">Under Development</p>-->

          <div class="btn-group-xs">
            <a class="btn btn-info" href="/submit/lwCampaign"> view records </a>
            <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"> add new </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="box bg-grey md-whiteframe-z1">

          <div class="pull-right">
            <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
            <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
            <!--<span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span>-->
          </div>

          <a href="list"><h4 style="padding-top:0;margin-top:0;">Donors </h4></a>
          <p style="font-size:12px;">Donors Description</p>
          <!--  <p class="alert alert-danger">Under Development</p>-->

          <div class="btn-group-xs">
            <a class="btn btn-info" href="/submit/lwDonor"> view records </a>
            <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"> add new </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="box bg-grey md-whiteframe-z1">

          <div class="pull-right">
            <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
            <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
            <!--<span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span>-->
          </div>

          <a href="list"><h4 style="padding-top:0;margin-top:0;">Events </h4></a>
          <p style="font-size:12px;">Events description </p>
          <!--  <p class="alert alert-danger">Under Development</p>-->

          <div class="btn-group-xs">
            <a class="btn btn-info" href="/submit/lwEvent"> view records </a>
            <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"> add new </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="box bg-grey md-whiteframe-z1">

          <div class="pull-right">
            <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
            <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
            <!--<span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span>-->
          </div>

          <a href="list"><h4 style="padding-top:0;margin-top:0;">Projects </h4></a>
          <p style="font-size:12px;"Projects descriptions </p>
          <!--  <p class="alert alert-danger">Under Development</p>-->

          <div class="btn-group-xs">
            <a class="btn btn-info" href="/submit/lwProject"> view records </a>
            <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"> add new </a>
          </div>
        </div>
      </div>
    </div>
</div>
