<div>
	<div class="alert alert-danger" ng-show="__error">
		<strong>Error: </strong>{{__error}}
	</div>

	<table class="table table-condensed table-striped" ng-hide="__error">
		<tbody>
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Last edited by/on</th>
				<th style="width:100px">&nbsp;</th>
			</tr>

			<tr ng-repeat="draft in drafts">
				<td>
					<div ng-switch="draft.documentID">
						<span ng-switch-when="null">new</span>
						<a    ng-switch-default ng-href="/database/record?documentID={{draft.documentID}}">{{draft.documentID}}</a>
					</div>
					</td>
				<td>
					<div ng-switch="draft.type">
						<strong ng-switch-when="focalPoint">National Focal Point</strong>
						<strong ng-switch-when="authority">Competent National Authority</strong>
						<strong ng-switch-when="caseStudy">Case Study</strong>
						<strong ng-switch-when="contact">Contact</strong>
						<strong ng-switch-when="database">National Database</strong>
						<strong ng-switch-when="resource">Virtual Library Resource</strong>
						<strong ng-switch-when="organization">Organization</strong>
						<strong ng-switch-when="measure">National Regulation</strong>
						<strong ng-switch-when="marineEbsa">Ecologically or Biologically Significant Areas (EBSAs)</strong>
						<strong ng-switch-when="aichiTarget">Aichi Target</strong>
						<strong ng-switch-when="strategicPlanIndicator">Strategic Plan Indicator</strong>
						<strong ng-switch-when="nationalIndicator">National Indicator</strong>
						<strong ng-switch-when="nationalTarget">National Target</strong>
						<strong ng-switch-when="progressAssessment">Progress Assessment</strong>
						<strong ng-switch-when="nationalReport">National Report</strong>
						<strong ng-switch-when="implementationActivity">Implementation Activity</strong>
						<strong ng-switch-when="nationalSupportTool">Guidance and Support Tools</strong>
						<strong ng-switch-when="resourceMobilisation">Resource Mobilisation</strong>
						<strong ng-switch-when="absCheckpoint">Checkpoint</strong>
						<strong ng-switch-when="absCheckpointCommunique">Checkpoint Communiqué</strong>
						<strong ng-switch-when="absPermit">Permit</strong>
						<strong ng-switch-default>{{document.type}}*</strong>
                    </div>
					<div>
						{{draft.workingDocumentTitle || draft.title | lstring:'en'}}
					</div>
				</td>
				<td>

					<div ng-show="draft.workingDocumentLock">
						<div>
							<i class="icon-lock" ng-click="unlock(draft)"></i>
							<b>Locked</b> by <em>{{draft.workingDocumentLock.lockedBy.email}}</em>
						</div>
					</div>

					<em>{{draft.workingDocumentUpdatedBy.email}}</em>
					<div>{{draft.workingDocumentUpdatedOn | date:'yyyy-MM-dd HH:mm'}}</div>
				</td>
				<td style="text-align:end;width:100px">
					<div class="btn-group" style="white-space:nowrap;">
						<button class="btn btn-default"  ng-click="edit(draft);"  type="button" title="Edit"   ng-disabled="draft.workingDocumentLock"><i class="icon-edit"></i></button>
						<button class="btn btn-default"  ng-click="erase(draft);" type="button" title="Delete" ng-disabled="draft.workingDocumentLock || document.workingDocumentCreatedOn!=null"><i class=" icon-trash"></i></button>
					</div>
				</td>
			</tr>
	</table>

	<div ng-show="!__loading && drafts.length==0">
		No record found
	</div>
	<div ng-show="__loading">
		Loading...
	</div>
</div>
