<div>
    <!--
    //================
    // National Biodiversity Strategies and Action Plans (NBSAPS)
    //================
-->
    <div ng-show="schema == 'nationalStrategicPlan'">
        <h1 class="page-header">National Biodiversity Strategies and Action Plans (NBSAPS)</h1>
        <div class="filters">
            FILTERS:
            <span class="label label-default bg-black label-spacing"> show all
                <span class="badge bg-white">{{(nationalStrategicPlans|filter:isPublic).length + (nationalStrategicPlans|filter:isDraft).length}}</span>
            </span>
            <span class="label bg-published label-spacing"> published
                <span class="badge  bg-white">{{(nationalStrategicPlans|filter:isPublic).length}}</span>
            </span>
            <span class="label bg-draft label-warning label-spacing"> drafts
                <span class="badge  bg-white">{{(nationalStrategicPlans|filter:isDraft).length}}</span>
            </span>
            <button class="btn btn-info btn-xs pull-right btn-add" ng-click="edit('nationalReport', {reportType:cbdNBSAPs[0], type:'nbsap', government:government })"><i class="fa fa-plus-square"></i> add new </button>
        </div>
        <div ng-show="(nationalStrategicPlans||[]).length==0 && !loading">
            <!-- no records -->
            <p class="alert alert-warning">
                No National Biodiversity Strategies and Action Plans exists.
                <br/>
                <em>Please submit a record.</em>
            </p>
            <button type="button" class="btn btn-default btn-xs btn-add" ng-click="edit('nationalReport', {reportType:cbdNBSAPs[0], type:'nbsap', government : government})">add +</button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="strategicPlan in nationalStrategicPlans">
            <!-- NBSAPs -->
            <div class="boxed" ng-class="{'bg-published-lite': isPublic(strategicPlan), 'bg-draft-lite': isDraft(strategicPlan)}">
                <h3 ng-class="{'color-published': isPublic(strategicPlan), 'color-draft': isDraft(strategicPlan)}">
                    <i class="fa fa-file-o"></i> {{strategicPlan.title}} ({{strategicPlan.year}})
                </h3>
                <p class="small">
                    {{strategicPlan.summary|lstring|truncate:160:'...'}}
                    <a ng-show="strategicPlan.url" ng-href="{{strategicPlan.url}}">more &raquo;</a>
                </p>
                <div class="text-right">
                    <button type="button" class="btn btn-default btn-xs" ng-click="edit('nationalReport', {uid:strategicPlan.identifier,type:'nbsap'})">edit &raquo;</button>
                </div>
            </div>
        </div>
    </div>
    <!--end nationalStrategicPlans -->


    <!--
    //================
    // National Reports
    //================
-->

    <div ng-show="schema == 'nationalReport'">
        <h1 class="page-header">National Reports</h1>
        <div class="filters">
            FILTERS:
            <span class="label label-default bg-black label-spacing"> show all
                <span class="badge bg-white">{{(nationalReports | filter:{ reportType : nrType }|filter:isPublic).length + (nationalReports | filter:{ reportType : nrType }|filter:isDraft).length}}</span>
            </span>
            <span class="label bg-published label-spacing"> published
                <span class="badge  bg-white">{{(nationalReports | filter:{ reportType : nrType }|filter:isPublic).length}}</span>
            </span>
            <span class="label bg-draft label-warning label-spacing"> drafts
                <span class="badge  bg-white">{{(nationalReports | filter:{ reportType : nrType }|filter:isDraft).length}}</span>
            </span>
            <button class="btn btn-info btn-xs pull-right btn-add" ng-click="edit('nationalReport', {reportType:nrType, government : government,type:'nr'})"><i class="fa fa-plus-square"></i> add new </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="nrType in cbdNationalReports" style="padding-bottom:10px">
            <div class="boxed">
                <h4>
                    <i class="fa fa-file-o"></i> {{(nationalReportTypes | filter:{ identifier : nrType })[0].title | lstring}}
                    <span ng-hide="filteredReports.length" class="label label-important">missing</span>
                </h4>

                <div ng-hide="filteredReports.length">
                    <!-- no report -->
                    <p>
                        <em>Please submit the report.</em>
                    </p>
                    <button type="button" class="btn btn-info btn-xs btn-add" ng-click="edit('nationalReport', {reportType:nrType, government : government,type:'nr'})">add +</button>
                </div>

                <div ng-repeat="nationalReport in filteredReports = (nationalReports | filter:{ reportType : nrType })">
                    <!-- NR -->
                    <h5>{{nationalReport.title|lstring}}</h5>
                    <p>
                        {{nationalReport.summary|lstring|truncate:160:'...'}} <a ng-show="nationalReport.url" ng-href="{{nationalReport.url}}">more &raquo;</a>
                    </p>
                    <span ng-show="isPublic(nationalReport)" class="label label-info pull-right label-spacing">published</span>
                    <span ng-show="isDraft(nationalReport)" class="label label-warning pull-right label-spacing">not published</span>
                    <button type="button" class="btn btn-default btn-xs btn-edit" ng-click="edit('nationalReport', {uid:nationalReport.identifier,type:'nr'})">edit &raquo;</button>
                </div>
            </div>
        </div>

    </div>
    <!--end nationalReports -->


    <!--
    //================
    // Other Reports
    //================
-->
    <div ng-show="schema == 'otherReport'">
        <h1 class="page-header">Other Reports</h1>
        <div class="filters">
            FILTERS:
            <span class="label label-default bg-black label-spacing"> show all
                <span class="badge bg-white">{{(otherNationalReports|filter:isPublic).length + (otherNationalReports|filter:isDraft).length}}</span>
            </span>
            <span class="label bg-published label-spacing"> published
                <span class="badge  bg-white">{{(otherNationalReports|filter:isPublic).length}}</span>
            </span>
            <span class="label bg-draft label-warning label-spacing"> drafts
                <span class="badge  bg-white">{{(otherNationalReports|filter:isDraft).length}}</span>
            </span>
            <button class="btn btn-info btn-xs pull-right btn-add" ng-click="edit('nationalReport', {type:'other', government : government})"><i class="fa fa-plus-square"></i> add new </button>
        </div>
        <div ng-show="(otherNationalReports||[]).length==0 && !loading">
            <!-- no records -->
            <p>
                No other report exists.
                <br/>
                <em>Please submit the report.</em>
            </p>
            <button type="button" class="btn btn-info btn-xs btn-add" ng-click="edit('nationalReport', {type:'other', government : government})">add +</button>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4" ng-repeat="otherReport in otherNationalReports | orderBy:'year':true">
            <!-- other reports -->
            <div class="boxed">
                <h4>
                    <i class="fa fa-file-o"></i> {{otherReport.reportTypeEx|lstring}}
                </h4>
                <h5>{{otherReport.title}}</h5>
                <p>
                    {{otherReport.summary|lstring|truncate:160:'...'}} <a ng-show="otherReport.url" ng-href="{{otherReport.url}}">more &raquo;</a>
                </p>
                <span ng-show="isPublic(otherReport)" class="label label-info pull-right label-spacing">published</span>
                <span ng-show="isDraft(otherReport)" class="label label-warning pull-right label-spacing">not published</span>
                <button type="button" class="btn btn-default btn-xs btn-edit" ng-click="edit('nationalReport', {type:'other',uid:otherReport.identifier})">edit &raquo;</button>
            </div>
        </div>

    </div>
    <!--end otherNationalReports -->




    <!--//================
    // Aichi Biodiversity Targets
    //================ -->

    <div ng-show="schema == 'aichiTarget'">
        <h1 class="page-header">Aichi Biodiversity Targets </h1>
        <table class="table table-striped">
            <tr>
                <th style="white-space:nowrap" ng-click="sortTable('number')">Aichi Target<i ng-show="sortTerm=='number'" ng-class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th>Related National Targets</th>
                <th style="text-align:center" ng-click="sortTable('isUpToDate')">Assessment of Aichi Target<i ng-show="sortTerm=='number'" ng-class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th ng-repeat="year in globalYears" ng-class="{ muted : currentYear<year }">{{year}}</th>
            </tr>
            <tr ng-repeat="aichiTarget in aichiTargets| orderBy:'number'">
                <!-- aichi target icon -->
                <td style="width:42px;text-align:center">
                    <a target="_blank" ng-href="{{aichiTarget.url}}" title="{{aichiTarget.title|lstring}}">
                        <img class="aichi-icon" ng-src="/app/images/targets/{{aichiTarget.number}}.png" />
                    </a>
                </td>

                <!-- Related National Target -->
                <td>
                    <ul class="list-unstyled">
                        <li style="padding-bottom:5px;" ng-repeat="target in aichiTarget.nationalTargets">
                            <span ng-show="isPublic(target)" class="label label-info pull-right label-spacing">published</span>
                            <span ng-show="isDraft(target)" class="label label-warning pull-right label-spacing">not published</span>
                            <i class="fa fa-dot-circle-o"></i>
                            <a ng-show="isPublic(target)" ng-href="{{target.url}}">{{target.title}}</a>
                            <a ng-show="isDraft(target)" ng-href="#" ng-click="edit('nationalTarget', { uid:target.identifier})">{{target.title}}</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-default btn-xs btn-link" data-toggle="modal" href="#linkNationalTargetDialog" ng-click="linkTargets({ aichiTarget:aichiTarget, excludeTargets: aichiTarget.nationalTargets })" title="Link this Aichi Target to a National Target">link +</button>

                </td>

                <!-- Assessment status -->
                <td style="text-align:center" ng-class="{false:'not-up-to-date'}[aichiTarget.isUpToDate]">
                    <span class="label label-success" ng-show="aichiTarget.isUpToDate" style="padding:5px;">up-to-date</span>
                    <span ng-show="!aichiTarget.assessmentYears.length || !aichiTarget.isUpToDate" style="padding:5px;">
                        <small>not up-to-date</small>
                    </span>


                    <!--<span class="label label-success"   ng-show="aichiTarget.isUpToDate">up-to-date</span>
                        <span class="label label-warning"   ng-show="aichiTarget.assessmentYears.length && !aichiTarget.isUpToDate">not up-to-date</span>
                        <span class="label label-default"   ng-hide="aichiTarget.assessmentYears">missing</span>-->

                    <div ng-show="aichiTarget.nextAssessmentYear" style="margin-top:3px">
                        <button type="button" class="btn btn-info btn-xs btn-add" ng-click="edit('progressAssessment', {aichiTarget : aichiTarget.identifier, year : aichiTarget.nextAssessmentYear, government : government })" title="Add a new assessment">add +</button>
                    </div>
                </td>

                <!-- Years -->
                <td ng-repeat="year in globalYears" style="text-align:center" style="text-align:center" ng-class="{false:'not-up-to-date'}[aichiTarget.isUpToDate]">

                    <span ng-show="aichiTarget.assessmentYears.indexOf(year)>=0">
                        <a style="cursor:pointer" ng-href="{{getAssessment(aichiTarget, year).url}}">
                            <span class="badge badge-lightgreen " ng-class="{'badge-darkgreen':year==currentYear, 'badge-draft' : isDraft(getAssessment(aichiTarget, year)), 'badge-published' : isPublic(getAssessment(aichiTarget, year)) }"><i class="fa fa-check"></i>
                            </span>
                        </a>
                    </span>
                </td>
            </tr>
        </table>

    </div>
    <!--end aichiTargets -->



    <!--
    //================
    // National Targets
    //================
-->
    <div ng-show="schema == 'nationalTarget'">
        <h1 class="page-header">National Targets </h1>
        <table class="table table-striped">
            <tr>
                <th style="width:100px"></th>
                <th style="width:450px" ng-click="sortTable('title')">National Target <i ng-show="sortTerm=='title'" ng-class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th style="width:50px" ng-click="sortTable('aichiTargets')">Aichi Targets <i ng-show="sortTerm=='aichiTargets'" ng-class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th style="width:250px" ng-click="sortTable('nationalIndicators')">Related Indicators <i ng-show="sortTerm=='nationalIndicators'" ng-class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th style="width:250px">Related Activities </th>
                <th style="width:100px;white-space:nowrap;" ng-click="sortTable('isUpToDate')">Assessments <i ng-show="sortTerm=='isUpToDate'" ng-class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
            </tr>
            <tbody ng-repeat="target in nationalTargets | orderBy:sortTerm:orderList">
                <tr>
                    <td>
                        <div class="btn-group" style="white-space:nowrap;">
                            <button type="button" class="btn btn-default" ng-click="edit('nationalTarget', { uid:target.identifier })" title="edit"><i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-default" ng-show="isDraft(target)" ng-click="eraseDraft(target, 'nationalTarget', nationalTargets, target.identifier)" title="Delete"><i class=" fa fa-trash-o"></i>
                            </button>
                            <button type="button" class="btn btn-default" ng-show="isPublic(target)" ng-click="eraseDocument(target, 'nationalTarget', nationalTargets, target.identifier)" title="Delete"><i class=" fa fa-trash-o"></i>
                            </button>
                        </div>
                        <span ng-show="deleting==target.identifier"><i class="fa fa-spinner fa-spin" />loading</span>
                    </td>
                    <td>
                        <i class="fa fa-dot-circle-o"></i>
                        <a ng-show="isPublic(target)" ng-href="{{target.url}}">{{target.title|lstring}}</a>
                        <a ng-show="isDraft(target)" ng-href="#" ng-click="edit('nationalTarget', { uid:target.identifier })">{{target.title|lstring}}</a>
                        <div style="text-align: justify;">{{target.description|lstring}}</div>
                        <div>
                            <span ng-show="isPublic(target)" class="label label-info label-spacing">published</span>
                            <span ng-show="isDraft(target)" class="label label-warning label-spacing">not published</span>
                        </div>
                    </td>
                    <td>
                        <span class="aichi-icons">
                            <a target="_blank" ng-href="{{aichiTarget.url}}" title="{{aichiTarget.title|lstring}}" ng-repeat="aichiTarget in target.aichiTargets|orderBy:'identifier'">
                                <img class="aichi-icon-xs" ng-src="/app/images/targets/{{aichiTarget.number}}.png" />
                            </a>
                        </span>
                    </td>
                    <td>
                        <div ng-repeat="indicator in target.nationalIndicators">
                            <span ng-show="isPublic(indicator)" class="label label-info pull-right label-spacing" title="published">p</span>
                            <span ng-show="isDraft(indicator)" class="label label-warning pull-right label-spacing" title="not published">np</span>
                            <i class="fa fa-dashboard"></i> <a ng-href="{{indicator.url}}">{{indicator.title}}</a>
                            <span ng-show="!$last">;
                            </span>
                        </div>
                    </td>
                    <td>
                        <div ng-repeat=" activity in getActivities(implementationActivities, target.identifier) ">
                            <span ng-show="isPublic(activity)" class="label label-info pull-right label-spacing" title="published">p</span>
                            <span ng-show="isDraft(activity)" class="label label-warning pull-right label-spacing" title="not published">np</span>
                            <i class="fa fa-cog"></i> <a ng-href="{{activity.url}}">{{activity.title}}</a>
                        </div>
                    </td>
                    <td ng-class="{false:'not-up-to-date'}[target.isUpToDate]" style="text-align:center;">

                        <div ng-show="!target.isUpToDate" style="padding:5px;">
                            <small>not up-to-date</small>
                        </div>

                        <div ng-repeat="year in target.assessmentYears ">
                            <a ng-href="{{getAssessment(target, year).url}}">
                                <span class="label badge-lightgreen " ng-class="{'badge-darkgreen':year==currentYear, 'badge-draft' : isDraft(getAssessment(target, year)), 'badge-published' : isPublic(getAssessment(target, year)) }"> {{year}}</span>
                            </a>
                        </div>
                        <button style="margin-top:5px;" type="button" class="btn btn-info btn-xs" ng-click="edit('progressAssessment', {aichiTarget : aichiTarget.identifier, year : target.nextAssessmentYear, government : government })" title="Add a new assessment">
                            add +</button>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!--end nationalTargets -->


    <!--
    //================
    // National Indicators
    //================
-->

    <div ng-show="schema == 'nationalIndicator'">
        <h1 class="page-header">National Indicators </h1>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th style="text-align:left;white-space:nowrap" ng-click="sortTable('title')">Indicator(s)<i ng-show="sortTerm=='title'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th style="white-space:nowrap;">Related National Targets</th>
                <th>Related Aichi Targets</th>
            </tr>
            <tr ng-repeat="indicator in nationalIndicators| orderBy:sortTerm:orderList">
                <td>
                    <button type="button" class="btn btn-default btn-xs pull-right btn-edit" ng-click="edit('nationalIndicator', { uid:indicator.identifier})">edit &raquo;</button>
                </td>
                <td>
                    <i class="fa fa-dashboard"></i>
                    <a ng-show="isPublic(indicator)" ng-href="{{indicator.url}}">{{indicator.title|lstring}}</a>
                    <a ng-show="isDraft(indicator)" ng-href="#" ng-click="edit('nationalIndicator', { uid:indicator.identifier})">{{indicator.title|lstring}}</a>
                    <div>
                        <span ng-show="isPublic(indicator)" class="label label-info label-spacing">published</span>
                        <span ng-show="isDraft(indicator)" class="label label-warning label-spacing">not published</span>
                    </div>
                </td>

                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="target in indicator.nationalTargets">
                            <span ng-show="isPublic(target)" class="label label-info pull-right label-spacing" title="published">p</span>
                            <span ng-show="isDraft(target)" class="label label-warning pull-right label-spacing" title="not published">np</span>
                            <i class="fa fa-dot-circle-o"></i> <a ng-href="{{target.url}}">{{target.title}}</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-default btn-xs btn-link" data-toggle="modal" href="#linkNationalTargetDialog" ng-click="linkTargets({ nationalIndicator:indicator, excludeTargets: indicator.nationalTargets })" title="Link this National Indicator to a National Target">link +</button>
                </td>
                <td>
                    <a target="_blank" ng-href="{{aichiTarget.url}}" title="{{aichiTarget.title|lstring}}" ng-repeat="aichiTarget in indicator.aichiTargets|orderBy:'identifier'">
                        <img class="aichi-icon-xs" ng-src="/app/images/targets/{{aichiTarget.number}}.png" />
                    </a>
                </td>
            </tr>
        </table>

    </div>
    <!--end nationalIndicators -->


    <!--
    //================================================
    // Activities, Guidance and Support Tools
    //================================================
-->
    <div ng-show="schema == 'implementationActivity'">
        <h1 class="page-header">Implementation Activities </h1>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th ng-click="sortTable('completion.en')">Status <i ng-show="sortTerm=='completion.en'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th width="60%" ng-click="sortTable('title')">Implementation Activity <i ng-show="sortTerm=='title'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>

                <th>Aichi Targets</th>
                <th>National Targets</th>
            </tr>
            <tr ng-repeat="activity in implementationActivities | orderBy:sortTerm:orderList">
                <td>
                    <button type="button" class="btn btn-default btn-xs btn-edit" ng-click="edit('implementationActivity', { uid:activity.identifier})">edit &raquo;</button>
                </td>

                <td>
                    <!-- planned / on-going / complete -->
                    <!--<span class="label" ng-class="{'label-default':activity.completion.symbol=='2F4C5373-ECD5-4883-BC06-2E8B7F17DC5E', 'label-warning':activity.completion.symbol=='AD9696E5-52E9-49BB-A635-1DB06C89A757', 'label-primary':activity.completion.symbol=='E6640AB5-975D-479F-92C0-FC6E3AC0ADFF'}">-->
                    <strong>{{activity.completion|lstring}}
                    </strong>
                </td>

                <td>

                    <span ng-show="isPublic(activity)" class="label label-info pull-right label-spacing">published</span>
                    <span ng-show="isDraft(activity)" class="label label-warning pull-right label-spacing">not published</span>

                    <span style="font-size:16px;"><i class="fa fa-cog"></i> {{activity.title|lstring}}</span>
                    <p>
                        {{activity.description|lstring|truncate:240:'...'}} <a ng-show="isPublic(activity)" ng-href="{{activity.url}}">more &raquo;</a>
                    </p>


                </td>

                <td>
                    <a target="_blank" ng-href="{{aichiTarget.url}}" title="{{aichiTarget.title|lstring}}" ng-repeat="aichiTarget in activity.aichiTargets|orderBy:'identifier'">
                        <img class="aichi-icon-xs" ng-src="/app/images/targets/{{aichiTarget.number}}.png" />
                    </a>
                </td>
                <td>
                    <ul style="padding-left:0 ;list-style-type: none;">
                        <li ng-repeat="target in activity.nationalTargets|orderBy:'identifier'">
                            <i class="fa fa-dot-circle-o"></i> <a ng-href="{{target.url}}">{{target.title|lstring}}</a>
                            <span ng-show="isDraft(target)" class="label label-warning label-spacing" title="not published">n-p</span>
                            <span ng-show="isPublic(target)" class="label label-info label-spacing" title="published">p</span>
                        </li>
                        <p>
                            <em ng-show="activity.nationalIndicators">Indicator(s):
                                <i class="fa fa-dashboard"></i>
                                <span ng-repeat="indicator in activity.nationalIndicators"><a ng-href="{{indicator.url}}">{{indicator.title}}</a>
                                    <span ng-show="!$last">;</span>
                                </span>
                            </em>
                        </p>

                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!--end implementationActivities -->


    <!--
    //================================================
    // Guidance and Support Tools
    //================================================
-->
    <div ng-show="schema == 'nationalSupportTool'">
        <h1 class="page-header">Guidance and Support Tools</h1>
        <div ng-hide="nationalSupportTools">
            <!-- no records -->
            <p>
                No Guidance or Support Tool exists.
                <br/>
                <em>Please submit a record.</em>
            </p>
            <button type="button" class="btn btn-info btn-xs" ng-click="edit('nationalSupportTool', { government : government})">add +</button>
        </div>


        <table class="table table-striped">
            <tr>
                <th></th>
                <th width="60%" ng-click="sortTable('title')">Guidance and Support Tools <i ng-show="sortTerm=='title'" ng:class="{true:'down-caret', false:'up-caret'}[orderList]"></i>
                </th>
                <th>Aichi Targets</th>
                <th>National Targets</th>
            </tr>
            <tr ng-repeat="tool in nationalSupportTools | orderBy:sortTerm:orderList">
                <td>
                    <button type="button" class="btn btn-default btn-xs btn-edit" ng-click="edit('nationalSupportTool', { uid:tool.identifier})">edit &raquo;</button>
                </td>
                <td>

                    <span ng-show="isPublic(tool)" class="label label-info pull-right label-spacing">published</span>
                    <span ng-show="isDraft(tool)" class="label label-warning pull-right label-spacing">not published</span>

                    <span style="font-size:16px;"><i class="fa fa-crosshairs"></i> {{tool.title|lstring}}</span>
                    <p>
                        {{tool.description|lstring|truncate:240:'...'}} <a ng-show="isPublic(tool)" ng-href="{{tool.url}}">more &raquo;</a>
                    </p>
                </td>
                <td>
                    <a target="_blank" ng-href="{{aichiTarget.url}}" title="{{aichiTarget.title|lstring}}" ng-repeat="aichiTarget in tool.aichiTargets|orderBy:'identifier'">
                        <img class="aichi-icon-xs" ng-src="/app/images/targets/{{aichiTarget.number}}.png" />
                    </a>
                </td>
                <td>
                    <ul style="padding-left:0 ;list-style-type: none;">
                        <li ng-repeat="target in tool.nationalTargets|orderBy:'identifier'">
                            <i class="fa fa-dot-circle-o"></i> <a ng-href="{{target.url}}">{{target.title|lstring}}</a>
                            <span ng-show="isDraft(target)" class="label label-warning label-spacing" title="not published">n-p</span>
                            <span ng-show="isPublic(target)" class="label label-info label-spacing" title="published">p</span>
                        </li>

                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <!--end nationalSupportTools -->


    <div>
        <div id="linkNationalTargetDialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Select a target to be linked to:</h4>
                        <div ng-show="linkTargetData.aichiTarget">
                            <a target="_blank" ng-href="{{aichiTarget.url}}" title="{{linkTargetData.aichiTarget.title|lstring}}">
                                <img class="aichi-icon" ng-src="/app/images/targets/{{linkTargetData.aichiTarget.number||11}}.png" />
                            </a>
                            {{linkTargetData.aichiTarget.title}}</div>
                        <div ng-show="linkTargetData.nationalIndicator">Indicator: {{linkTargetData.nationalIndicator.title}}</div>
                    </div>
                    <div class="modal-body" style="max-height:500px;overflow-y:auto">

                        <table class="table">
                            <tr>
                                <th>National Target</th>
                                <th>Related Aichi Target</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="target in linkTargetData.targets | orderBy:'title'">
                                <td>
                                    {{target.title}}
                                </td>
                                <td>
                                    <a target="_blank" ng-href="{{aichiTarget.url}}" title="{{aichiTarget.title|lstring}}" ng-repeat="aichiTarget in target.aichiTargets|orderBy:'identifier'">
                                        <img class="aichi-icon-xs" ng-src="/app/images/targets/{{aichiTarget.number}}.png" />
                                    </a>
                                </td>
                                <td style="text-align:right">
                                    <button class="btn btn-primary" ng-click="edit('nationalTarget', { uid:target.identifier, aichiTarget : linkTargetData.aichiTarget.identifier, nationalIndicator : linkTargetData.nationalIndicator.identifier })">select &raquo;</button>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" ng-click="edit('nationalTarget', { government:government, aichiTarget : linkTargetData.aichiTarget.identifier, nationalIndicator : linkTargetData.nationalIndicator.identifier })">Create a new target +</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>

    <style type="text/css">
        .reporting a {
            color: #5e7600;
        }
        .label-spacing {
            margin-right: 5px;
        }
        .aichi-icon {
            width: 46px;
        }
        .aichi-icons {
            width: 48px;
        }
        .aichi-icon-xs {
            width: 21px;
        }
        .badge-success {
            background-color: #5cb85c;
        }
        .badge-success > a,
        .badge-success > a:hover,
        .badge-success {
            color: white;
            text-decoration: none;
        }
        .boxed {
            border: 1px solid #ddd;
            padding: 0 10px 10px 10px;
            border-radius: 4px;
            margin-bottom: 20px;
        }
        .container.reporting .panel-heading {
            border-color: #bce8f1;
            background-color: #2A5E8C;
        }
        .container.reporting .panel-heading h4 {
            color: white;
        }
        .container.reporting .panel-heading.collapsed {
            background-color: #f5f5f5;
            border-color: #dddddd;
        }
        .container.reporting .panel-heading.collapsed h4 {
            color: black;
        }
        .label {
            padding-top: 0.3em!important;
        }
        .btn-edit {
            background-color: #d3d3d3;
        }
        .btn-link {
            background-color: #d9edf7;
        }
        .badge-published {
            background-color: #5bc0de;
            color: #ffffff
        }
        .badge-darkgreen {
            background-color: #5cb85c;
            color: #ffffff
        }
        .badge-draft {
            background-color: #f0ad4e;
            color: #ffffff
        }
        .up-to-date {
            background-color: #dff0d8!important;
        }
        .not-up-to-date {
            background-color: #f2dede!important;
        }
        .up-caret {
            border-bottom: 4px solid #000000;
            border-top: 4px solid transparent;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            display: inline-block;
            height: 0;
            opacity: 0.3;
            vertical-align: top;
            width: 0;
            top: -3px;
            position: relative;
        }
        .down-caret {
            border-bottom: 4px solid transparent;
            border-top: 4px solid #000000;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            display: inline-block;
            height: 0;
            opacity: 0.3;
            vertical-align: top;
            width: 0;
        }
    </style>
</div>
