<div class="viewForm">
	<h2><img ng-show="document.icons" class="img-polaroid" ng-src="{{document.icons[0].url}}" style="height: 45px; width: 45px" /> {{document.shortTitle | lstring:review.locale}}</h2>

	<label>Full title</label>
	<div class="km-value km-pre">{{document.title | lstring:locale}}</div>

	<label>Target Number </label>
	<div class="km-value">{{document.number}}</div>

	<div ng-show="document.strategicGoal">
		<label>Strategic Goal</label>
		<span class="km-value">{{document.strategicGoal | term:locale}} </span>
	</div>

	<div ng-show="document.guide">
		<label>Quick Guide</label>
		<div class="km-value km-pre">{{document.guide| lstring:locale}}</div>
	</div>

	<div ng-show="document.strategicPlanIndicators">
		<label>Most Relevant Indicator(s)</label>
		<ul class="km-value">
			<li ng-repeat="doc in strategicPlanIndicators">{{doc.title_t | lstring}} </li>
		</ul>
	</div>

	<div ng-show="document.otherStrategicPlanIndicators">
		<label>Other Relevant Indicator(s)</label>
		<ul class="km-value">
			<li ng-repeat="doc in otherStrategicPlanIndicators">{{doc.title_t | lstring:locale}} </li>
		</ul>
	</div>
	<div ng-show="document.progress">
		<label>Status of progress</label>
		<div class="km-value km-pre">{{document.progress | lstring:locale}}</div>
	</div>
	<div ng-show="document.progressLinks">
		<label>Status of progress (attachement)</label>
		<ul class="km-value">
			<li ng-repeat="item in document.progressLinks">
				<a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name">({{item.url}})</i>
			</li>
		</ul>
	</div>

	<div ng-show ="champions">
		<legend>Champions</legend>
		<table class="table table-striped">
			<tr ng-repeat="champion in champions">
				<td>

					<div ng-show="champion.description">
						<label>Target Champions (description)</label>
						<div class="km-value km-pre">{{champion.description | lstring:locale}}</div>
					</div>

					<div ng-show="champion.countries">
						<label>Target Champions (regions)</label>
						<ul class="km-value">
						    <li ng-repeat="term in champion.countries">{{term | term:locale}} </li>
						</ul>
					</div>

					<div ng-show="champion.organizations">
						<label>Linked organizations</label>
						<ul class="km-value" >
							<li ng-repeat="organization in champion.organizations">
								<div view-organization-reference ng-model="organization.document" locale="locale"></div>
							</li>
						</ul>
					</div>

					<div ng-show="champion.links">
						<label>Target Champions (link)</label>
						<ul class="km-value">
							<li ng-repeat="item in champion.links">
								<a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
								<i ng-show="item.name">({{item.url}})</i>
							</li>
						</ul>
					</div>

				</td>
			</tr>
		</table>
	</div>

	<div ng-show ="resources">
		<legend>Resources</legend>
		<table class="table table-striped">
			<tr ng-repeat="resource in resources">
				<td>
					<div ng-show="resource.description">
						<label>Link to resources (description)</label>
						<div class="km-value km-pre">{{resource.description | lstring:locale}}</div>
					</div>

					<div ng-show="resource.references">
						<label>Linked references</label>
						<ul class="km-value">
							<li ng-repeat="reference in resource.references">
								<b>{{reference.document.title|lstring:locale}}</b>
								<div class="km-pre">{{reference.document.summary|lstring:locale}}</div>
							</li>
						</ul>
					</div>

					<div ng-show="resource.links">
						<label>Link to resources (link)</label>
						<ul class="km-value">
							<li ng-repeat="item in resource.links">
								<a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
								<i ng-show="item.name">({{item.url}})</i>
							</li>
						</ul>
					</div>

					<div ng-show="resource.categories">
						<label>Link to resources (categories)</label>
						<ul class="km-value">
						    <li ng-repeat="term in resource.categories">{{term | term:locale}} </li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div>


	<div ng-show="document.relevantInformation||document.relevantDocuments">
		<legend>Additional Information</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>Other relevant website address or attached documents</label>
			<ul class="km-value">
				<li ng-repeat="item in document.relevantDocuments"><a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></li>
			</ul>
		</div>
	</div>

</div>
