<div>
	<legend>{{document.number}} - {{document.shortTitle | lstring:review.locale}}</legend>

	<label class="control-label" required for="shortTitle">Full title</label>
	<div class="km-value km-pre">{{document.title | lstring:locale}}</div>

	<div ng-show ="canShowTargetIcon()">
		<label class="control-label" required for="icon">Target Icon</label>
		<div class="km-value">
			<a ng-repeat="link in document.icons" ng-href="{{link.url}}" target="_blank">
				<img class="img-polaroid" ng-src="{{link.url}}" alt="{{link.name}}" style="max-height: 150px; max-width: 150px" />
			</a>
		</div>
	</div>
	<div ng-show="canShowStrategicGoal()">
		<label class="control-label" required for="strategicGoal">Strategic Goal</label>
		<div class="km-value">
			<span km-terms ng-model="document.strategicGoal">
				<span ng-repeat="term in terms">{{term.name}} </span>
			</span>
		</div>
	</div>

	<div ng-show="document.guide">
		<label class="control-label" required for="guide">Quick Guide</label>
		<div class="km-value km-pre">{{document.guide| lstring:locale}}</div>
	</div>

	<div ng-show="canShowRelevantIndicators()">
		<label class="control-label" required for="relevantIndicators">Most Relevant Global Indicator(s)</label>
		<div class="km-value">
			<span km-terms ng-model="document.relevantIndicators">
				<span ng-repeat="term in terms">{{term.document.title | lstring:locale}} </span>
			</span>
		</div>
	</div>
	<div ng-show="canShowOtherIndicators()">
		<label class="control-label" required for="otherIndicators">Other Relevant Global Indicator(s)</label>
		<div class="km-value">
			<span km-terms ng-model="document.otherIndicators">
				<span ng-repeat="term in terms">{{term.document.title | lstring:locale}} </span>
			</span>
		</div>
	</div>
	<div ng-show="document.progress">
		<label class="control-label" required for="progress">Status of progress</label>
		<div class="km-value km-pre">{{document.progress | lstring:locale}}</div>
	</div>
	<div ng-show="canShowProgressLinks()">
		<label class="control-label" required for="progressLinks">Status of progress (attachement)</label>
		<div class="km-value">
			<li ng-repeat="item in document.progressLinks">
				<a target="_blank" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name">({{item.url}})</i>
			</li>
		</div>
	</div>
	<div ng-show ="document.champions">
		<legend>Champions</legend>
		<table class="table table-striped">
			<tr ng-repeat="champion in document.champions">
				<td>
					<label class="control-label" required for="targetChampionsDescription">Target Champions (description)</label>
					<div class="km-value km-pre">{{champion.description | lstring:locale}}</div>

					<label class="control-label" required for="">Target Champions (regions)</label>
					<div class="km-value">
						<span km-terms ng-model="champion.countries">
							<span ng-repeat="term in terms">{{term.name}} </span>
						</span>
					</div>

				
					<label class="control-label" required for="targetChampionsOrganizations">Linked organizations</label>
					<div class="km-value">
						<div ng-repeat="organization in champion.organizations">
							<li>
								<b>{{organization.document.name|lstring:locale}} ({{organization.document.acronym|lstring:locale}})</b>
							</li>
						</div>
					</div>

					<label class="control-label" required for="targetChampionsLink">Target Champions (link)</label>
					<div class="km-value">
						<li ng-repeat="item in champion.links">
							<a target="_blank" ng-href="{{item.url}}">{{item.name||item.url}}</a>
							<i ng-show="item.name">({{item.url}})</i>
						</li>
					</div>

				</td>
			</tr>
		</table>
	</div>

	<div ng-show ="document.resources">
		<legend>Resources</legend>
		<table class="table table-striped">
			<tr ng-repeat="resource in document.resources">
				<td>
					<label class="control-label" for="targetResourceDescription">Link to resources (description)</label>
					<div class="km-value km-pre">{{resource.description | lstring:locale}}</div>

					<label class="control-label" for="linkResourceReferences">Linked references</label>
					<div class="km-value">
						<div ng-repeat="reference in resource.references">
						<b>{{reference.document.title|lstring:locale}}</b>
						<div class="km-pre">{{reference.document.summary|lstring:locale}}</div>
					</div>
					</div>
					<label class="control-label" for="linkResourceLinks">Link to resources (link)</label>
					<div class="km-value">
						<li ng-repeat="item in resource.links">
							<a target="_blank" ng-href="{{item.url}}">{{item.name||item.url}}</a>
							<i ng-show="item.name">({{item.url}})</i>
						</li>
					</div>
					<label class="control-label" for="linkResourceCategory">Link to resources (categories)</label>
					<div class="km-value">
						<span km-terms ng-model="resource.categories">
							<li ng-repeat="item in terms">
								{{item.name|lstring:locale}}
							</li>
						</span>
					</div>
				</td>
			</tr>
		</table>
	</div>


	<div ng-show="document.relevantInformation||document.relevantDocuments">
		<legend>Additional Information</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html-unsafe="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>Other relevant website address or attached documents</label>
			<ul class="km-value">
				<li ng-repeat="item in document.relevantDocuments"><a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></li>
			</ul>
		</div>
	</div>

</div>