<div class="viewForm">
	<h2>{{document.title | lstring:locale}}</i></h2>

	<div ng-show="document.subjects || document.aichiTargets ||
		document.regions || document.languages || document.countries">
		<legend>General information</legend>
		<div ng-show="document.subjects">
			<label>Related CBD Subject area(s)</label>
			<ul class="km-value">
			    <li ng-repeat="term in document.subjects">{{term | term:locale}} </li>
			</ul>
		</div>
		<div ng-show="document.aichiTargets">
			<label>Main related Aichi Targets</label>
			<ul class="km-value">
			    <li ng-repeat="term in document.aichiTargets">{{term | term:locale}} </li>
			</ul>
		</div>

		<div ng-show="document.regions">
			<label>Related Region(s) / Economic group(s)</label>
			<ul class="km-value">
			    <li ng-repeat="term in document.regions">{{term | term:locale}} </li>
			</ul>
		</div>

		<div ng-show="document.countries">
			<label>Related Country(ies)</label>
			<ul class="km-value">
			    <li ng-repeat="term in document.countries">{{term | term:locale}} </li>
			</ul>
		</div>

		<div ng-show="document.languages">
			<label>Language(s)</label>
			<ul class="km-value">
			    <li ng-repeat="term in document.languages">{{term | term:locale}} </li>
			</ul>
		</div>
	</div>


	<div class="row" ng-show="document.startDate || document.endDate">

		<div class="col-md-3 col-sm-4" ng-show="document.startDate">
			<label>Time period from</label>
			<div class="km-value km-pre">{{document.startDate}}</div>
		</div>

		<div class="col-md-3 col-sm-4" ng-show="document.endDate">
			<label>Time period to</label>
			<div class="km-value km-pre">{{document.endDate}}</div>
		</div>

	</div>

	<div ng-show="document.source">
		<label>Source</label>
		<div class="km-value km-pre">{{document.source | lstring:locale}}</div>
	</div>

	<div ng-show="organizations">
		<label>Organization(s) involved</label>
		<div class="km-value" ng-repeat="organization in organizations">
			<div view-organization-reference ng-model="organization" locale="locale"></div>
		</div>
	</div>

	<div ng-show="contact">
		<label>Contact person</label>
		<div class="km-value">
			<div view-contact-reference ng-model="contact" locale="locale"></div>
		</div>
	</div>

	<div ng-show="document.summary || document.description ||
		document.scale || document.status || resources ||
		document.images">
		<legend>Additional information</legend>
		<div ng-show="document.summary">
			<label>Summary, abstract or table of contents</label>
			<div class="km-value km-pre">{{document.summary | lstring:locale}}</div>
		</div>

		<div ng-show="document.description">
			<label>Case Study Description</label>
			<div class="km-value km-pre">{{document.description | lstring:locale}}</div>
		</div>

		<div ng-show="document.scale">
			<label>Scale</label>
			<span class="km-value">{{document.scale | term:locale}} </span>
		</div>

		<div ng-show="document.status">
			<label>Status</label>
			<span class="km-value">{{document.status | term:locale}} </span>
		</div>
		<div ng-show="resources">
			<label>Resources</label>
			<div class="km-value" ng-repeat="resource in resources">
				<div>
					<b>{{resource.title | lstring:locale}}</b><br />
					{{resource.summary | lstring:locale}}
				</div>
			</div>
		</div>
		<div ng-show ="document.images">
			<label>Images for showcase</label>
			<div class="km-value">
				<a ng-repeat="link in document.images" ng-href="{{link.url}}" target="{{target}}">
					<img class="img-polaroid" ng-src="{{link.url}}" alt="{{link.name}}" style="max-height: 150px; max-width: 150px" />
				</a>
			</div>
		</div>
	</div>

	<div ng-show="document.relevantInformation||document.relevantDocuments">
		<legend>Additional Information</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>Other relevant website address or attached documents</label>
			<div class="km-value" ng-repeat="item in document.relevantDocuments">
				<a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name && item.url.indexOf('/api/v2013/documents/')<0">({{item.url}})</i>
			</div>
		</div>
	</div>

</div>
