<div id="submit">

    <div class="container">

        <div class="row">
                <h1>Case Studies</h1>
        </div>

        <div class="row" >

            <div style="display:inline;">
                <input  type="text" class="btn btn-default bg-white" placeholder="keyword">
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-published"> PUBLISHED </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-draft"> DRAFTS </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-request"> REQUESTS </span>
            </div>

            <div style="display:inline;" class="pull-right">
                <a class="btn btn-primary" href="/submit/case-studies/new"> Add New </a>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row" >
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Type</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Created By</th>
                  <th>Last Update</th>
                  <th style="width:100px;">Status</th>
                  <th style="width:100px;" class="text-right">78 Records</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="type">NBSAP</td>
                    <td class="title">This this title </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="createdby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="udpateby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="status"> <span class="label label-default bg-published">PUBLISHED</span>  </td>
                    <td class="edit text-right">
                        <div class="btn-group btn-group-sm" >
                            <!-- <button title="Locked for edit" ng-show="isRequest(record) &amp;&amp; showAddButton()" type="button" class="btn btn-default ng-hide"><i class="glyphicon glyphicon-lock"></i></button> -->
                            <a title="Edit" type="button" class="btn btn-default" href="/submit/online_reporting/nbsaps/edit"><i class="fa fa-edit"></i></a>
                            <button title="Delete" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="type">NBSAP</td>
                    <td class="title">This this title </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="createdby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="udpateby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="status"> <span class="label label-default bg-draft">DRAFT</span>  </td>
                    <td class="edit text-right">
                        <div class="btn-group btn-group-sm" >
                            <!-- <button title="Locked for edit" ng-show="isRequest(record) &amp;&amp; showAddButton()" type="button" class="btn btn-default ng-hide"><i class="glyphicon glyphicon-lock"></i></button> -->
                            <a title="Edit" type="button" class="btn btn-default" href="/submit/online_reporting/nbsaps/edit"><i class="fa fa-edit"></i></a>
                            <button title="Delete" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>


                <tr>
                    <td class="type">NBSAP</td>
                    <td class="title">This this title </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="createdby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="udpateby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="status"> <span class="label label-default bg-request">REQUEST</span> </td>
                    <td class="edit text-right">
                        <div class="btn-group btn-group-sm" >
                            <button title="Locked for edit" type="button" class="btn btn-default"><i class="glyphicon glyphicon-lock"></i></button>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>

        </div>
    </div>



</div>
