<div id="submit">

    <div class="container">

        <div class="row">
                <h1>TYPE: {{schema}}</h1>
        </div>

        <div class="row" >

            <div style="display:inline;">
                <input  type="text" class="btn btn-default bg-white" placeholder="keyword">
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-published"> PUBLISHED </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-draft"> DRAFTS </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-request"> REQUESTS </span>
            </div>

            <div style="display:inline;" class="pull-right">
                <a class="btn btn-primary" href="/submit/ebsas/new"> Add New </a>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row" >

            <generic-record-list records="records"></generic-record-list>

        </div>
    </div>



</div>
