<div id="submit">

    <div class="container">

        <div class="row">
                <h1>Online Reporting: {{reportType}}</h1>
        </div>

        <div class="row" >

            <div style="display:inline;">
                <div class="dropdown"  style="display:inline;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      <span ng-switch="reportType">
                          <strong ng-switch-when="nbsap">National Biodiversity Strategies and Action Plans (NBSAPS)</strong>
                          <strong ng-switch-when="nr"   >National Reports</strong>
                          <strong ng-switch-when="other">Other Reports</strong>
                      </span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/submit/online_reporting/records/nbsaps"> National Biodiversity Strategies and Action Plans (NBSAPS)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/submit/online_reporting/records/national_reports"> National Reports </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/submit/online_reporting/records/other_reports"> Other Reports</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> National Targets</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> National Indicators</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Assessments</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Guidance and Support Tools</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Implementation Activities</a></li>
                  </ul>
                </div>
            </div>

            <div style="display:inline;">
                <input  type="text" class="btn btn-default bg-white" placeholder="keyword">
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-published"> PUBLISHED </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-draft"> DRAFTS </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-request"> REQUESTS </span>
            </div>

            <div style="display:inline;" class="pull-right">
                <a class="btn btn-primary" href="/submit/online_reporting/new/national_report"> Add New </a>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row" >

            <generic-record-list records="records"></generic-record-list>

        </div>
    </div>



</div>
