<div id="submit">

    <div class="container">

        <div class="row">
                <h1>Online Reporting: National Indicators</h1>
        </div>

        <div class="row" >

            <div style="display:inline;">
                <div class="dropdown"  style="display:inline;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      <strong>National Indicators</strong>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> National Biodiversity Strategies and Action Plans (NBSAPS)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> National Reports </a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Other Reports</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> National Targets</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> National Indicators</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Assessments</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Guidance and Support Tools</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Implementation Activities</a></li>
                  </ul>
                </div>
            </div>

            <div style="display:inline;">
                <input  type="text" class="btn btn-default bg-white" placeholder="keyword">
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-published"> PUBLISHED </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-draft"> DRAFTS </span>
            </div>

            <div style="display:inline;">
                <span class="btn btn-default bg-request"> REQUESTS </span>
            </div>

            <div style="display:inline;" class="pull-right">
                <a class="btn btn-primary" href="/submit/online_reporting/new/national_indicators"> Add New </a>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row" >
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Strategic Plan Indicators</th>
                  <th>Created By</th>
                  <th>Last Update</th>
                  <th style="width:100px;">Status</th>
                  <th style="width:100px;" class="text-right">78 Records</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td class="title">This this title </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="createdby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="udpateby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="status"> <span class="label label-default bg-published">PUBLISHED</span>  </td>
                    <td class="edit text-right">
                        <div class="btn-group btn-group-sm" >
                            <!-- <button title="Locked for edit" ng-show="isRequest(record) &amp;&amp; showAddButton()" type="button" class="btn btn-default ng-hide"><i class="glyphicon glyphicon-lock"></i></button> -->
                            <a title="Edit" type="button" class="btn btn-default" href="/submit/online_reporting/nbsaps/edit"><i class="fa fa-edit"></i></a>
                            <button title="Delete" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>

                <tr>

                    <td class="title">This this title </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="createdby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="udpateby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="status"> <span class="label label-default bg-draft">DRAFT</span>  </td>
                    <td class="edit text-right">
                        <div class="btn-group btn-group-sm" >
                            <!-- <button title="Locked for edit" ng-show="isRequest(record) &amp;&amp; showAddButton()" type="button" class="btn btn-default ng-hide"><i class="glyphicon glyphicon-lock"></i></button> -->
                            <a title="Edit" type="button" class="btn btn-default" href="/submit/online_reporting/nbsaps/edit"><i class="fa fa-edit"></i></a>
                            <button title="Delete" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>


                <tr>

                    <td class="title">This this title </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="descr"> This is the short description of a published record </td>
                    <td class="createdby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="udpateby"> Matthew Dias <br><span class="date">23 FEB 2015 18:00</span></td>
                    <td class="status"> <span class="label label-default bg-request">REQUEST</span> </td>
                    <td class="edit text-right">
                        <div class="btn-group btn-group-sm" >
                            <button title="Locked for edit" type="button" class="btn btn-default"><i class="glyphicon glyphicon-lock"></i></button>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>

        </div>
    </div>



</div>
