<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clearing-House Mechanism</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clearing-House Mechanism of the Convention on Biological Diversity">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/app/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/app/libs/angularStrap/0.7.4/datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="/app/css/chm.css">
    <link rel="stylesheet" type="text/css" href="/app/css/font-awesome.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/app/css/km.css">
    <link rel="stylesheet" type="text/css" href="//fast.fonts.net/cssapi/ab363dc0-d9f9-4148-a52d-4dca15df47ba.css">
    <link rel="stylesheet" type="text/css" href="/app/libs/leaflet/0.7-dev/leaflet.css">

    <script src="/app/libs/jquery/dist/jquery.min.js"></script>
    <script src="/app/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/app/libs/angular/angular.min.js"></script>
    <script src="/app/libs/angular-i18n/angular-locale_en-iso.js"></script>
    <script src="/app/libs/angular-route/angular-route.min.js"></script>
    <script src="/app/libs/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="/app/libs/uri/src/URI.js"></script>
    <script src="/app/libs/underscore/underscore.js"></script>
    <script src="/app/libs/moment/min/moment.min.js"></script>
    <script src="/app/libs/scrollup/js/jquery.scrollUp.min.js"></script>


    <script src="/app/js/libs/linq.js/2.2.0.2/linq.js"></script>
    <script src="/app/js/libs/angularStrap/0.7.4/angular-strap.min.js"></script>
    <script src="/app/js/libs/angularStrap/0.7.4/datepicker/bootstrap-datepicker.js"></script>
    <script src="/app/js/libs/leaflet/0.7-dev/leaflet.js"></script>
    <script src="/app/js/libs/leaflet/angular-leaflet-directive.js"></script>

    <script src="/app/js/app-chm.js?v1"></script>
    <script src="/app/js/support.js"></script>
    <script src="/app/js/utilities/km-utilities.js"></script>
    <script src="/app/js/utilities/km-authentication.js"></script>
    <script src="/app/js/utilities/km-storage.js"></script>
    <script src="/app/js/utilities/km-workflows.js"></script>
    <script src="/app/chm/services/editFormUtility.js"></script>
    <script src="/app/shared/directives/forms/form-controls.js"></script>

     <style>
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
    <style>
        /*.nav > li > a {
            font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }

        .sec2 .body-content h2 {
            font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }

        h3 {
            font-family: "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }

        a.getstarted {
            font-family: "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: normal;
        }*/

        .home-page .nav a {
            color: #666666;
        }

        .dropdown li {
            border-right: none;
        }

        .home-page {
            background-color: #F6F6F6;
        }

        /*.home-page .header-banner {
            background-color: rgba(0,0,0,0.50);
            border-bottom: 1px solid black;
        }*/
        #cbdMenu li a {
            color: #009b48;
            float: left;
            font-size: 15px;    
     /*       padding-left: 12px;*/
        }

        #cbdMenu li {
            display: block;
        }
    </style>
</head>



<body ng-app='kmApp' ng-controller="PageController" ng-class="{'home-page':homePage}">


    <div class="alert alert-info alert-dismissable" ng-hide="hideDisclaimer" style="margin-bottom: 0px; text-align: center">
        <button type="button" ng-click="hideDisclaimer=true" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> Information displayed is for demonstration purposes only and does not reflect CHM records.
    </div>
    <div class="container">
        <!-- <span ng-show="homePage">
            <img class="hidden-xs" src="/app/img/landscape.jpg" style="position: absolute">
            <img class="visible-xs" src="/app/img/landscapeMobile.jpg" style="position: absolute">
        </span>-->
        
        <div class="main-nav container">
            <div  id="main-nav" >
                <div id="t-header">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div id="t-headerLogo">
                                <a href="http://www.cbd.int/">
                                    <img src="http://www.cbd.int/styles/ui/templates/cbd2011/images/logo-cbd-leaf-line.gif" id="CCbdLogoLeaf" height="65" width="52" alt="Convention on Biological Diversity">
                                    <img src="http://www.cbd.int/styles/ui/templates/cbd2011/images/logo-cbd-text-en.gif" id="CCbdLogoText" height="65" alt="Convention on Biological Diversity">
                                </a> 
                            </div>                            
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="navbar visible-xs" style="margin-bottom:-10px;padding-right:2px;">
                                <div class="navbar-header" style="padding-right:2px;">
                                    <a class="btn navbar-toggle" data-toggle="collapse" data-target="#MainNav" style="padding-left:2px !important;padding-right:2px !important;">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </a>
                                    <ul class="header-actions"> 
                                        <li>
                                             <a title="Submit Information" href="/management/register" class="glyphicon glyphicon-upload"></a>
                                        </li>
                                        <li ng-hide="currentPath()=='/database/'">
                                            <a title="Search" href="/database" class="glyphicon glyphicon-search"></a>
                                        </li>
                                        <li class="dropdown" style="display:none">
                                            <a data-toggle="dropdown" class="icon icon-globe" style="color: black" href="#">Language: EN</a>
                                            <ul class="dropdown-menu" role="menu" style="min-width:auto;">
                                                <li class="disabled"><a>لعربية</a></li>
                                                <li class="disabled"><a>中文</a></li>
                                                <li><a href="#"><strong>English</strong></a></li>
                                                <li class="disabled"><a>Español</a></li>
                                                <li class="disabled"><a>Français</a></li>
                                                <li class="disabled"><a>Русский</a></li>
                                            </ul>
                                        </li>
                                        <li ng-hide="user.isAuthenticated">
                                            <a title="Sign In" class="icon-off" href="/management/signin" style="color: black"></a>
                                        </li>
                                        <li ng-cloak class="dropdown" ng-show="user.isAuthenticated" style="border-right: none; padding-right: 0">
                                            <a title="Sign out"href="#" ng-click="signOut()"><i class="icon-signout" style="font-size: 15px"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 hidden-xs">
                            <ul class="header-actions pull-left" style="display:none">
                                <li class="disabled"><a>لعربية</a></li>
                                <li class="disabled"><a>中文</a></li>
                                <li><a href="#"><strong>English</strong></a></li>
                                <li class="disabled"><a>Español</a></li>
                                <li class="disabled"><a>Français</a></li>
                                <li class="disabled"><a>Русский</a></li>
                            </ul>
                            <ul class="header-actions pull-right">
                                <li ng-cloak ng-hide="user.isAuthenticated" style="border-right: none; padding-right: 0">
                                    <a class="signin" href="/management/signin" data-slug="signin"><i class="icon-off" style="font-size: 15px"></i>&nbsp; Sign In</a>
                                </li>
                                <li ng-cloak class="dropdown" ng-show="user.isAuthenticated" style="border-right: none; padding-right: 0">
                                    <a data-toggle="dropdown" href="#"><i class="icon-chevron-down" style="font-size: 15px"></i>&nbsp; {{user.name}}</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="disabled"><a href="#"><i class="icon-cog" style="font-size: 15px"></i>&nbsp; Settings</a></li>
                                        <li class="disabled"><a href="#"><i class="icon-user" style="font-size: 15px"></i>&nbsp; Profile</a></li>
                                        <li><a href="#" ng-click="signOut()"><i class="icon-signout" style="font-size: 15px"></i>&nbsp; Sign-out</a></li>
                                    </ul>
                                </li>
                            </ul>
                    </div>
                    <div class="row" style="padding-top:0px;padding-bottom:0px;padding-right:5px">
                        <div class="col-lg-12 col-md-12 col-sm-12 pull-right" style="padding-top:0px;padding-bottom:0px">
                            <ul id="cbdMenu" class="header-actions pull-right hidden-xs">
                                <li><a href="http://www.cbd.int/convention/">The Convention</a></li>
                                <li><a href="http://bch.cbd.int/protocol/">Cartagena Protocol</a></li>
                                <li><a href="http://www.cbd.int/abs/">Nagoya Protocol</a></li>
                                <li><a href="http://www.cbd.int/programmes/">Programmes</a></li>
                                <li><a href="http://www.cbd.int/information/">Information</a></li>
                                <li><a href="http://www.cbd.int/secretariat">Secretariat</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--    <div class="header-banner"></div>-->
                <div class="row header-banner hidden-xs" >
                    <div class="col-lg-3 col-md-3 col-sm-3 " style="padding-left:0px">                        
                        <span href="http://www.cbd.int/" id="PortalAnchor" ng-click="goHome()">
                            <div id="PortalName">Clearing-House Mechanism</div>
                        </span>
                    </div>                  
                    <div class="col-lg-9 col-md-9 col-sm-90">
                        <form ng-submit="doSearch()">
                            <div class="row" style="margin-top: 50px" >
                                <div class="pull-left input-group col-lg-6 col-md-6 col-sm-6" ng-hide="currentPath()=='/database/'">
                                    <input type="text" class="form-control" ng-model="searchQuery" placeholder="search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                                <div class="pull-right col-lg-4 col-md-4 col-sm-3">
                                    <a href="/management/register">
                                     <button type="button" class="btn btn-default btn-md">
                                      Submit Information <span class="glyphicon glyphicon-upload"></span>
                                    </button></a>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>

                <div class="row webNavBar visible-xs" style="padding-top:2px;">
                    <div class="col-lg-14 col-md-14 col-sm-14">
                         <div class="navbar navbar-inverse collapse navbar-collapse " id="MainNav" role="navigation">
                            <ul class="nav navbar-nav pull-left ">
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finding Information<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/database/">Search</a></li>
                                        <li><a href="/database/countries">Parties and Country Profiles</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registering Information<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/management/">My Dashboard</a></li>
                                        <li><a href="/management/register">Register a new record</a></li>
                                        <li><a href="/management/my-records">Edit a published record</a></li>
                                        <li><a href="/management/my-drafts">Edit a draft record</a></li>
                                    </ul>
                                </li>
                                <li><a href="/network">Network</a></li>
                                <li><a href="/resources">Resources</a></li>
                                <li><a href="/about" target="_self">About</a></li> -->
                                <!-- <li class="dropdown  visible-xs" style="padding-top:10px"> -->
                                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="/app/images/top-header-cbd-logo.png" alt="cbd" width="25" height="30" style="position: relative; top: -4px;">
                                        <span style="position: relative; top: -4px;">CBD<b class="caret"></b></span></a>
                                    <ul class="dropdown-menu"> -->
                                        <li><a href="http://www.cbd.int/convention/">The Convention</a></li>
                                        <li><a href="http://bch.cbd.int/protocol/">Cartagena Protcol</a></li>
                                        <li><a href="http://www.cbd.int/abs/">Nagoya Procol</a></li>
                                        <li><a href="http://www.cbd.int/programmes/">Programmes</a></li>
                                        <li><a href="http://www.cbd.int/information/">Information</a></li>
                                        <li><a href="http://www.cbd.int/secretariat">Secretariat</a></li>
                                    <!-- </ul> -->
                                <!-- </li> -->
                            </ul>
                        </div>
                    </div>
                </div> 


                <div class="row hidden-xs " style="border-bottom-color: #cdcdcd; border-bottom-width: 1px; border-bottom-style: solid;padding-bottom:10px">
                   <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs historyBar pull-left">
                            <img src="http://www.cbd.int/styles/ui/templates/cbd2011/images/ic-cbdhome.gif" alt="cbd"  style="position: relative;">
                            > <a ng-href="#" ng-click="goHome()">CHM  </a>
                            <span ng-hide="homePage">> {{navigationTree.mainMenu}} > {{navigationTree.subMenu}}</span>
                    </div>
                </div>

                <div class="page-content">
                    <div ngx-view>
                    </div>
                </div>
                <div id="footerMain">

                    <footer class="footer">
                        <div class="container" id="footer">
                            <div class="row hidden-xs">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <h2>Quick Links</h2>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                </div>                           
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <h2>Follow us</h2>                                   
                                </div>
                            </div>
                            <div class="row hidden-xs">
                                <div class="col-lg-4 col-md-4 col-sm-4">                                    
                                    <ul>
                                        <li>
                                            <a href="http://www.cbd.int/decisions" class="tk-ff-meta-web-pro">Decisions</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cbd.int/meetings" class="tk-ff-meta-web-pro">Meetings</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cbd.int/notifications" class="tk-ff-meta-web-pro">Notifications</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cbd.int/news" class="tk-ff-meta-web-pro">News Headlines</a>
                                        </li>
                                        <li>
                                            <a href="http://www.cbd.int/publications" class="tk-ff-meta-web-pro">Publications</a>
                                        </li>
                                        <li><a href="http://www.cbd.int/chm" class="tk-ff-meta-web-pro">CHM</a>
                                        </li>
                                        <li><a href="http://bch.cbd.int" class="tk-ff-meta-web-pro">BCH</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <ul>
                                        <li><a href="http://www.cbd.int/parties" class="tk-ff-meta-web-pro">Parties</a></li>
                                        <li><a href="http://www.cbd.int/countries" class="tk-ff-meta-web-pro">Country Profiles</a></li>
                                        <li><a href="http://www.cbd.int/nfp" class="tk-ff-meta-web-pro">National Focal Points</a></li>
                                        <li><a href="http://www.cbd.int/nbsap" class="tk-ff-meta-web-pro">Nationals Strategies (NBSAPs)</a></li>
                                        <li><a href="http://www.cbd.int/reports" class="tk-ff-meta-web-pro">National Reports</a></li>
                                        <li><a href="http://www.cbd.int/contributions" class="tk-ff-meta-web-pro">Contributions</a></li>
                                        <li><a href="http://www.cbd.int/cooperation" class="tk-ff-meta-web-pro">Cooperation &amp; Partnerships</a></li>
                                    </ul>
                                </div>   
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                     <ul class="social clearfix"> 
                                      <li><a href="/database/news" class="rss"><span>RSS</span></a></li>
                                        <li><a href="http://twitter.com/scbd" class="twitter"><span>Twitter</span></a></li>
                                        <li><a href="https://www.facebook.com/scbd" class="facebook"><span>Facebook</span></a></li>
                                        <li><a href="http://www.youtube.com/user/chmcbd" class="google"><span>Youtube</span></a></li>
                                      
                                    </ul>
                                </div>                               
                            </div>
                        </div>
                    </footer>
                </div>
                <div class="row hidden-xs footerLinks" style="padding-left: 10px">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div>
                            <a href="http://www.cbd.int/feedback">Feedback</a> | 
                            <a href="http://www.cbd.int/map/">Site Map</a> | 
                            <a href="http://www.cbd.int/contact">Contact us</a> | 
                            <a href="http://www.cbd.int/terms">Terms of Use</a> | 
                            <a href="http://www.cbd.int/privacy">Privacy Policy</a> | 
                            <a href="http://www.cbd.int/credits">Credits</a> | 
                            <a href="http://www.cbd.int/copyright">&#169; CBD Secretariat</a>                            
                        </div>
                       <!--  <a href="http://www.cbd.int/user/rate.shtml?pid=3701&amp;key=7d9443bc7a46de18e182368add1df0be&amp;returnurl=http://www.chm.cbd.int">Rate this page</a>&nbsp;
                        <span>- 36 people have rated this page</span>&nbsp;</div>
                        <div class="pull-left starRating twoStars"></div>   -->                      
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                         <div style="float: right">
                            <a id="CLinkUN" href="http://www.un.org">
                                <img alt="United Nations" src="http://www.cbd.int/styles/ui/templates/cbd2011/images/un-logo-white.gif" /></a>
                            <a id="CLinkUNENP" href="http://www.unep.org">
                                <img src="http://www.cbd.int/styles/ui/templates/cbd2011/images/unep-logo-white-en.gif" alt="United Nations Environment Programme" /></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <script>            //mercuryPackages = { all: {javascripts: 'jquery-1.7.js,mercury.min.js,mercury_dialogs.js', stylesheets: 'mercury.bundle.css'} };
            //jQuery.browser = { webkit: true };
        </script>
        <!--script src="/app/libs/mercury/0.9.0/mercury_loader.js?pack=bundled&src=/app/libs/mercury/0.9.0"></script-->
    </div>
</body>
</html>
