<div>
    <table class="table table-striped">
        <tr ng-repeat="doc in docs | limitTo:pageSize">
            <td>
                <div class="time-ago" title="{{doc.date_dt}}">{{doc.date_dt|truncate:10}}</div>
                <div><a translation-url ng-href="{{doc.url_ss[0]}}">{{doc.title_t}}</a></div>
            </td>
        </tr>
        <tr ng-hide="isPagerVisible() || !fullListUrl">
            <td>
                <div ng-show="hasRecords()" class="text-right"><a translation-url ng-href="{{fullListUrl}}" class="morelinks">More News</a></div>
                <div ng-hide="hasRecords()">Sorry, there are no news currently available.</div>
            </td>
        </tr>
    </table>
    <div class="pager" ng-show="isPagerVisible()">
        <button style="width: 50px;" class="btn" ng-class="{disabled: disablePrevious()}" ng-disabled="disablePrevious()"  ng-click="currentPage=currentPage-1" type="button">&laquo;</button>
        <span style="padding: 0px 10px;">{{currentPage+1}}/{{numberOfPages()}}</span>
        <button style="width: 50px;" class="btn" ng-class="{disabled: disableNext()}" ng-disabled="disableNext()" ng-click="currentPage=currentPage+1" type="button">&raquo;</button>
    </div>
</div>
