<div>
    <table class="table table-striped">
        <tr ng-repeat="doc in docs  | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
                <div>{{doc.symbol_s}} ({{doc.reference_s}})</div>
                <div><a ng-href="{{doc.url_ss[0]}}">{{doc.title_t}}{{doc.url_ss[0]}}</a></div>
            </td>
        </tr>
        <tr ng-hide="isPagerVisible()">
            <td>
                <div ng-show="hasRecords()" class="text-right"><a ng-href="{{fullListUrl}}">More notifications...</a></div>
                <div ng-hide="hasRecords()">Sorry, there are no notifications currently available.</div>
            </td>
        </tr>
    </table>
    <div class="pager" ng-show="isPagerVisible()">
        <button style="width: 50px;" class="btn" ng-class="{disabled: disablePrevious()}" ng-disabled="disablePrevious()"  ng-click="currentPage=currentPage-1" type="button">&laquo;</button>
        <span style="padding: 0px 10px;">{{cmsParameters.currentPage+1}}/{{numberOfPages()}}</span>
        <button style="width: 50px;" class="btn" ng-class="{disabled: disableNext()}" ng-disabled="disableNext()" ng-click="currentPage=currentPage+1" type="button">&raquo;</button>
    </div>
</div>
