<div>
	<div class="alert alert-danger" ng-cloak ng-show="error">
		<strong>Error as occured...</strong>
		<div>{{error}}</div>
	</div>
	<div ng-cloak ng-show="success">
		<div>{{success}}</div>
	</div>

	<div ng-show="status=='loading'"><em>Loading...</em></div>
	
	<div ng-hide="status=='hidden'||status=='loading'" style="margin-top:24px">
		<form name="form" role="form" ng-submit="actionChangePassword()" novalidate>
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="form-group">
						<label class="control-label" for="password">Old Password</label>
						<input type="password" id="oldPassword" name="oldPassword" class="form-control" ng-model="document.oldPassword">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="form-group">
						<label class="control-label" for="password">New Password</label>
						<input type="password" id="password" name="password" class="form-control" ng-model="document.password" valid-length valid-password>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6">
					<label class="control-label">&nbsp;</label>
					<div ng-show="document.password && form.password.$error.length" style="padding:7px;color:#e80"><i class="fa fa-warning"></i> &nbsp;not strong enough.</div>
					<div ng-show="document.password && !form.password.$error.length && form.password.$error.password" style="padding:7px;color:#e80"><i class="fa fa-warning"></i> &nbsp;try numbers, symbols and mixed-case letters.</div>
					<div ng-show="!form.password.$error.password" style="padding:7px;color:#090"><i class="fa fa-check"></i></div>
				</div>
				<!-- <div class="col-sm-4 col-sm-offset-1 col-xs-3 col-xs-offset-1">
					<div class="form-group">
						<label>Strength</label>
						<div id="progressbar">
							<div id="progress" class="progressbarValid" style="height:14px"></div>
						</div>
					</div>
				</div> -->
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<div class="form-group">
						<label class="control-label" for="password2">Confirmation</label>
						<input type="password" id="password2" class="form-control" name="password2" ng-model="document.confirmation" valid-password>
					</div>
				</div>
				<div class="col-sm-6 col-xs-6">
					<label class="control-label">&nbsp;</label>
					<div ng-show="document.confirmation && document.password!=document.confirmation" style="padding:7px;color:#e80"><i class="fa fa-warning"></i> passwords do not match.</div>
					<div ng-show="document.confirmation && document.password==document.confirmation" style="padding:7px;color:#090"><i class="fa fa-check"></i></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
					<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || !document.oldPassword">Submit</button>
				</div>
			</div>
		</form>
		<!--style type="text/css">
		    #progressbar {
		        width:88px;
		        height:28px;
		        display:block;
		        #border-left:1px solid #ccc;
		        #border-right:1px solid #ccc;
		        #border-top:1px solid #ccc;
		        #border-top-right-radius: 8px;
		        #border-top-left-radius: 8px;
		        overflow:hidden;
		        background-color: white;
		    }
		    #progress {
		        display:block;
		        height:100px;
		        width:0%;
		    }
		    .progressbarValid {
		        background-color:green;
		        background-image: -o-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: -moz-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: -webkit-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: -ms-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		    }
		    .progressbarInvalid {
		        background-color:red;
		        background-image: -o-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: -moz-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: -webkit-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: -ms-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		    }
		</style-->
	</div>
</div>