<div ng-cloak id="dropdownNotification" ng-show="user && user.isAuthenticated">
    <a translation-url id="dLabel" role="button" data-toggle="dropdown" data-target="#" ng-href="#" class="notification-btn">

        <span ng-show="(notifications|filter:isUnread).length > 0 " >
            <i class="fa fa-bell"></i>
            <span class="label label-default">{{(notifications|filter:isUnread).length}}</span>
        </span>

        <span ng-show="(notifications|filter:isUnread).length==0">
            <i class="fa fa-bell-o" class="bg-grey"></i>
        </span>
    </a>

    <div class="dropdown-menu" style="padding:0;margin:0;" role="menu" aria-labelledby="dLabel">
        <div class="panel panel-danger" style="width:500px;padding:0;margin:0;">
            <div class="panel-heading">
                <h4>User Notifications and Recent Activity</h4>
            </div>

            <div class="panel-body">

                   <table class="table table-striped" style="width:100%;padding:0;margin:0;">
                 
                        <tr ng-repeat="notification in notifications" ng-if="$index < 5" class="notification-item" ng-class="{'notification-read':notification.state=='read','notification-unread':notification.state=='unread' }">
                          
                            <td ng-class="{'notification-read':notification.state=='read','notification-unread':notification.state=='unread' }" style="padding:10px 0;cursor:pointer;">
                                <a translation-url ng-href="{{getURL(notification)}}" ng-click="updateStatus(notification,'read');">
                                    <i ng-class="{'color-blue':notification.state=='unread'}">
                                    <i class="fa fa-envelope" style="font-size:15px" ng-show="notification.type=='message'"></i>
                                    <i class="fa fa-bell" style="font-size:15px" ng-show="notification.type=='documentNotification'"></i> 
                                    <strong>{{notification.createdBy_info.firstName + ' ' + notification.createdBy_info.lastName}}</strong></i>
                                    <span ng-show="notification.type=='message'"> has sent you a message</span>
                                    <span ng-show="notification.data.action=='request'"> has <span class="bold color-red">sent</span> you a request for publishing for</span>
                                    <span ng-show="notification.data.action=='approved'"> has <span class="bold color-red">approved</span> your publishing request for</span>
                                    <span ng-show="notification.data.action=='rejected'"> has <span class="bold color-red">rejected</span> your publishing request for</span>
                                    <span ng-show="notification.data.action=='recalled'"> has <span class="bold color-red">recalled</span> publishing request for</span>
                                    
                                    <strong><i ng-class="{'color-blue':notification.state=='unread'}">
                                        {{(notification.data.documentInfo.title||notification.data.subject)|lstring}}
                                        </i>
                                         <span ng-show="notification.type=='documentNotification'"> ({{notification.data.documentInfo.metadata.schema|schemaName}})</span>
                                     </strong>
                                </a>
                                <br><span style="text-transform:uppercase;font-size:10px;font-weight:bold">{{timePassed(notification.createdOn)}}</span>
                                
                                <span style="text-transform:uppercase;font-size:10px;" > from 
                                <span ng-show="notification.data.documentInfo.realm == 'ABS'"> ABSCH</span>
                                <span ng-show="notification.data.documentInfo.realm == 'ABS-TRG'"> ABSCH TRAINING</span>
                                <span ng-show="notification.data.documentInfo.realm == 'ABS-DEV'"> ABSCH DEVELOPMENT</span>
                                <span ng-show="notification.data.documentInfo.realm == 'CHM'"> CHM</span>
                                <span ng-show="notification.data.documentInfo.realm == 'BCH'"> BCH</span>
                                </span>
                                
                            </td>
                              <td style="width:10px;" class="text-center">
                                <a translation-url href="#" ng-show="notification.state=='unread'" ng-click="updateStatus(notification,'read');"><i class="fa fa-square-o fa-lg"></i></a>
                                <a translation-url href="#" ng-show="notification.state=='read'" ng-click="updateStatus(notification, 'unread');"><i class="fa fa-check-square-o fa-lg"></i></a>
                            </td>
                        </tr>
                    </table>

                    <div ng-if="!notifications">
                        <span class="color-grey">no recent activity</span>
                    </div>

            </div>
            <div class="panel-footer">
                <a translation-url ng-href="/management/requests">
                    <h4 class="menu-title">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
                </a>
            </div>
        </div>
    </div>
</div>
