<div id="submit" ng-show="government">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right" style="margin-top:5px;">
                    <span class="badge bg-published" style="width:130px;padding:5px;">PUBLISHED</span>
                    <span class="badge bg-draft"    style="width:130px;padding:5px;">DRAFTS</span>
                    <span class="badge bg-request" style="width:130px;padding:5px;">REQUESTS</span>
                </div>
                <h1>Online Reporting</h1>
                <h3 class="color-medgrey">Please select the type of information you would like to submit:</h3>
            </div>
        </div>
    </div>

    <h3 class="container-fluid color-grey" style="border-top:1px solid #DDD;margin-top:20px;"><i class="fa fa-chevron-circle-down"></i> National Reports</h3>

    <div class="container" style="padding-bottom:20px;">
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey">

                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalStrategicPlan').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('nationalStrategicPlan').requestCount}}</span>
                    </div>

                    <a href="list"><h4 style="padding-top:0;margin-top:0;">National Biodiversity Strategies and Action Plans (NBSAPS) </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalReport?type=nbsap"> view records </a>
                        <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=nbsap"> add new </a>
                    </div>

              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey">

                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalReport').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalReport').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('nationalReport').requestCount}}</span>
                    </div>

                    <a href="list"><h4 style="padding-top:0;margin-top:0;">National Reports </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalReport?type=nr"> view records </a>
                        <a class="btn btn-primary"  href="/submit/online-reporting/nationalReport/new?type=nr"> add new </a>
                    </div>

              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey">

                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('otherReport').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('otherReport').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('otherReport').requestCount}}</span>
                    </div>

                    <a href="list"><h4 style="padding-top:0;margin-top:0;">Other Reports </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>

                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalReport?type=other"> view records </a>
                        <a class="btn btn-primary" href="/submit/online-reporting/nationalReport/new?type=other"> add new </a>
                    </div>
              </div>
            </div>

        </div>
    </div>

    <h3 class="container-fluid color-grey" style="border-top:1px solid #DDD;"><i class="fa fa-chevron-circle-down"></i> Implementation Progress</h3>

    <div class="container" style="padding-bottom:20px;">
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey">

                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalTarget').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalTarget').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('nationalTarget').requestCount}}</span>
                    </div>

                    <a href="list"><h4 style="padding-top:0;margin-top:0;">National Targets</h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalTarget"> view records </a>
                        <a class="btn btn-primary"  href="/submit/online-reporting/nationalTarget/new"> add new </a>
                    </div>

              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalIndicator').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalIndicator').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('nationalIndicator').requestCount}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">National Indicators </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalIndicator"> view records </a>
                        <a class="btn btn-primary"  href="/submit/online-reporting/nationalIndicator/new"> add new </a>
                    </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('progressAssessment').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('progressAssessment').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('progressAssessment').requestCount}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">Assessments</h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/progressAssessment"> view records </a>
                        <a class="btn btn-primary"  href="/submit/online-reporting/progressAssessment/new"> add new </a>
                    </div>
              </div>
            </div>

        </div>
    </div>



    <h3 class="container-fluid color-grey" style="border-top:1px solid #DDD;"><i class="fa fa-chevron-circle-down"></i> Activities, Guidance and Support Tools</h3>

    <div class="container" >
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalSupportTool').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalSupportTool').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('nationalSupportTool').requestCount}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">Guidance and Support Tools </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <div class="btn-group-xs">
                      <a class="btn btn-info" href="/submit/online-reporting/nationalSupportTool"> view records </a>
                      <a class="btn btn-primary"  href="/submit/online-reporting/nationalSupportTool/new"> add new </a>
                    </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('implementationActivity').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('implementationActivity').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('implementationActivity').requestCount}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">Implementation Activities </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <div class="btn-group-xs">
                      <a class="btn btn-info" href="/submit/online-reporting/implementationActivity"> view records </a>
                      <a class="btn btn-primary"  href="/submit/online-reporting/implementationActivity/new"> add new </a>
                    </div>
              </div>
            </div>


        </div>
    </div>


</div>
