<div id="submit" >
<style>

    .badge{
        position:relative!important;
        top:-2px!important;
    }

    .bg-a{
    background-color: #1074BC;
    padding:0 1px 0 1px;
    }
    .bg-b{
    background-color: #109E49;
    padding:0 1px 0 1px;
    }
    .bg-c{
    background-color: #FEC210;
    padding:0 1px 0 1px;
    }
    .bg-d{
    background-color: #EE1D23;
    padding:0 1px 0 1px;
    }
    .bg-e{
    background-color: #6C1C67;
    padding:0 1px 0 1px;
    }

    th{font-size:140%;}

    .title-row{
        font-size:140%;
        font-weight: bold;
        border-top:1px solid #ddd;
        background-color: #f9f9f9;
        padding:7px 0;
    }

    .row-bottom-border{
        border-bottom:1px solid #ddd;
        margin-bottom:10px;
    }

</style>

    <div class="container" style="padding-top:10px;">
        <div class="row">
            <div class="col-sm-12">
                <!--<div class="pull-right" style="margin-top:5px;">
                    <span class="badge bg-published" style="width:130px;padding:5px;">PUBLISHED</span>
                    <span class="badge bg-draft"    style="width:130px;padding:5px;">DRAFTS</span>
                    <span class="badge bg-request" style="width:130px;padding:5px;">REQUESTS</span>
                </div>-->
                <h1> Progress in achieving national and/or Aichi Biodiversity Targets <i ng-if="loading" ng-class="{ 'fa-spin':loading }" class="fa fa-spinner"></i></h1>
                <p class="color-medgrey">In decision X/2, the Conference of the Parties adopted the Strategic Plan for Biodiversity (2011-2020) and urged Parties and other Governments to develop national and regional targets in the framework of the Aichi Biodiversity Targets.  In decision XII/29, the Conference of the Parties invited Parties and other Governments to report on progress towards the achievement of the Aichi Biodiversity Targets, on a voluntary basis, to make available information on progress towards the achievement of the Aichi Biodiversity Targets and related national targets and on indicators and approaches towards assessing progress, with a view to enabling the Conference of the Parties, at each of its meetings through 2020, to review progress in the implementation of the Strategic Plan for Biodiversity 2011–2020 and the achievement of the Aichi Biodiversity Targets.</p>
            </div>
        </div>
    </div>

    <!--<h3 class="container-fluid" style="padding-top:5px;border-top:1px solid #DDD;margin-top:60px;margin-bottom:30px;">
        <i ng-click="showProgressSection = !showProgressSection"class="fa fa-chevron-circle-down color-blue"></i>
        Progress Achieved on National Targets and/or Aichi Targets</h3>-->

    <div class="container" ng-show="showProgressSection">
        <div class="row">
            
            <style>
                .target-table{
                    width:100%;
                    margin-top:20px;
                }
                
                .target-content {
                	padding: 0 0 0 80px; /* 75px being the width of the thumbnail + how much space you want to put between it and your text */
                	position: relative; /* So the thumbnail is relative to this */
                    min-height:96px;
                }
                
                	.target-content-icon {
                		left: 0;
                		position: absolute;
                		top: 0px;
                	}
                    .big-icon {
                  font-size: 60px;
                  width: 70px;
                  height: 60px;
                }
            </style>
            
            <table class="table table-striped target-table" ng-if="!loading">
                <tr>
                    <th  style="width:50%;text-align:left;">National Targets</th>
                    <th colspan="2" style="border-left:1px #DDD solid;width:50%;text-align:left;">Assessments</th>
                </tr>
                
                <tr ng-if="!nationalTargets">
                   <td colspan="3"><h4>No Targets. Please add Targets.</h4></td>
                </tr>
                
                <tr ng-repeat="nationalTarget in nationalTargets | orderBy:'aichiTargets_ss'">
                    
                    <td>
                        <div class="target-content">
                             <div class="pull-left target-content-icon">
                                <span ng-if="nationalTarget._state_s == 'draft'" class="badge bg-draft" style="font-size:10px;width:60px;" >Draft</span>
                                <span ng-if="nationalTarget._state_s == 'public'" class="badge bg-published" style="font-size:10px;width:60px;">Published</span>
                                <span ng-if="nationalTarget._state_s == 'workflow'" class="badge bg-request" style="font-size:10px;width:60px;">Request</span>
                                <br>
                                <img ng-if="nationalTarget.isAichiTarget_b" ng-repeat="aichiTarget in nationalTarget.aichiTargets_ss" src="/app/img/aichi_target_icons/{{aichiTarget}}.png" style="height:60px;"> </img>
                                <i   ng-if="!nationalTarget.isAichiTarget_b" class="fa fa-dot-circle-o big-icon" style="position:relative;left:4px;"></i>
                            </div>
                            <div class="btn-group btn-group-xs pull-right">
                                <a title="View" ng-if="nationalTarget._state_s == 'public'" type="button" class="btn btn-default" ng-href="{{nationalTarget.url}}"><i class="fa fa-search"></i></a>
                                <button ng-if="nationalTarget._state_s=='workflow' " title="Locked for edit" type="button" class="btn btn-default" ng-click="onWorkflow(nationalTarget)"><i class="fa fa-lock"></i></button>
                                <button ng-disabled="nationalTarget._state_s != 'draft' && nationalTarget.assessments.length > 0 " ng-hide="nationalTarget._state_s=='workflow'" title="Edit"            type="button" class="btn btn-default" ng-click="onEdit(nationalTarget,'nationalTarget')"><i class="fa fa-edit"></i></button>
                                <button ng-disabled="nationalTarget._state_s != 'draft' && nationalTarget.assessments.length > 0" ng-hide="nationalTarget._state_s=='workflow'" title="Delete"          type="button" class="btn btn-default" ng-click="onDelete(nationalTarget,'nationalTargets', $event)"><i class="fa fa-trash-o" ></i></button>
                            </div>
                            <div ng-if="nationalTarget.isAichiTarget_b">
                                <strong>Aichi Target {{nationalTarget.aichiTargets_EN_txt ? nationalTarget.aichiTargets_EN_txt[0]:""}}  </strong>
                                <br>
                                 <ul ng-repeat="sub_target in nationalTarget.otherAichiTargets_EN_txt" style="padding-left:14px;">
                                     <li>{{sub_target}}</li>
                                </ul>
                            </div>      
                            <div ng-if="!nationalTarget.isAichiTarget_b">      
                                <strong>{{nationalTarget.title_t}}</strong>
                                <div>
                                    <span ng-show="nationalTarget.description_s.length > 0">{{nationalTarget.description_s|lstring}}</span>
                                </div>
                                <div ng-repeat="at in getAichiTargets(nationalTarget.aichiTargets_ss)" style="display:inline;">
                                    <img ng-if="at.length == 15" src="/app/img/aichi_target_icons/{{at}}.png" style="height:32px;"></img>
                                </div>
                                 <div ng-repeat="at in getAichiTargets(nationalTarget.otherAichiTargets_ss)" style="display:inline;">
                                    <img ng-if="at.length == 15" src="/app/img/aichi_target_icons/{{at}}.png" style="height:32px;opacity: 0.4;filter: alpha(opacity=40);"></img>
                                </div>
                                
                                <!--<div ng-if="nationalTarget.aichiTargets_REL_ss" ng-repeat="target in nationalTarget.aichiTargets_REL_ss"><img src="/app/img/aichi_target_icons/{{target}}.png" style="height:24px;"> </img></div>-->
               
                                 <!--{{nationalTarget}}-->
                            </div>
                         </div>
                    </td>

                    <td style="border-left:1px #DDD solid;" ng-if="nationalTarget.assessments.length > 0">
                        <div class="target-content">
                            <div class="pull-left target-content-icon">
                                <span ng-if="nationalTarget.assessments[0]._state_s == 'draft'" class="badge bg-draft" style="font-size:10px;width:100px;" >Draft</span>
                                <span ng-if="nationalTarget.assessments[0]._state_s == 'public'" class="badge bg-published" style="font-size:10px;width:100px;">Published</span>
                                <span ng-if="nationalTarget.assessments[0]._state_s == 'workflow'" class="badge bg-request" style="font-size:10px;width:100px;">Request</span>
                                <br>
                                <img ng-if="nationalTarget.assessments[0].progress_s" src="/app/img/ratings/{{nationalTarget.assessments[0].progress_s}}.png" class="pull-left"></img>
                            </div>
                            <div style="padding-left:35px;">
                                <div ng-if="nationalTarget.assessments[0]" class="btn-group btn-group-xs pull-right">
                                    <!-- You can only edit if not published. -->
                                    <a title="View" ng-if="nationalTarget.assessments[0]._state_s == 'public'"  class="btn btn-default"
                                        ng-href="{{nationalTarget.assessments[0].url}}"><i class="fa fa-search"></i></a>
        
                                    <button ng-if="nationalTarget.assessments[0]._state_s=='workflow'" title="Locked for edit" type="button"
                                        class="btn btn-default" ng-click="onWorkflow(nationalTarget.assessments[0])"><i class="fa fa-lock"></i></button>
        
                                    <button ng-if="nationalTarget.assessments[0]._state_s!='workflow'" title="Edit" type="button"
                                        class="btn btn-default" ng-click="onEdit(nationalTarget.assessments[0], 'nationalAssessment')"><i class="fa fa-edit"></i></button>
        
                                    <button ng-if="nationalTarget.assessments[0]._state_s!='workflow'" title="Delete" type="button"
                                        class="btn btn-default" ng-click="onDelete(nationalTarget.assessments[0], 'nationalAssessment', $event)"><i class="fa fa-trash-o"></i></button>
                                </div>
                                <div>
                                    <strong>Latest Assessment</strong>
                                    <div><h3>{{nationalTarget.assessments[0].title_EN_t}}</h3></div>
                                    <div>{{nationalTarget.assessments[0].description_s}}</div>
                                </div>
                            </div>
                        </div>

                        <!--<div ng-show="nationalTarget.assessments.length > 1">
                            <a style="font-size:10px;text-transform:uppercase;" href="#" ng-show="!show_past_assessments" ng-click="show_past_assessments=!show_past_assessments">+ show past assessments</a>
                            <a style="font-size:10px;text-transform:uppercase;" href="#" ng-show="show_past_assessments" ng-click="show_past_assessments=!show_past_assessments">- hide past assessments</a>
                        </div>-->
                        
                        <div ng-if="nationalTarget.assessments.length > 1">
                            <div style="font-size:10px;text-transform:uppercase;font-weight:bold;">past assessments</div>
                            
                            <div ng-repeat="ass in nationalTarget.assessments" ng-if="$index >= 1" style="border-top:1px solid #eee;padding:5px 0;">
                                <span ng-if="ass._state_s == 'draft'" class="badge bg-draft" style="font-size:10px;"> D</span>
                                <span ng-if="ass._state_s == 'public'" class="badge bg-published" style="font-size:10px;"> P</span>
                                <span ng-if="ass._state_s == 'workflow'" class="badge bg-request" style="font-size:10px;"> R</span>
                                <img ng-if="ass.progress_s" src="/app/img/ratings/{{ass.progress_s}}.png" style="height:20px;" ></img> 
                                {{ass.title_EN_t}} 
                             
                                 <div ng-if="ass" class="btn-group btn-group-xs pull-right">
                                    <!-- You can only edit if not published. -->
                                    <a title="View" ng-if="ass._state_s == 'public'"  class="btn btn-default"
                                        ng-href="{{ass.url}}"><i class="fa fa-search"></i></a>
        
                                    <button ng-if="ass._state_s=='workflow'" title="Locked for edit" type="button"
                                        class="btn btn-default" ng-click="onWorkflow(ass)"><i class="fa fa-lock"></i></button>
        
                                    <button ng-if="ass._state_s == 'draft'" ng-hide    ="ass._state_s=='workflow'" title="Edit" type="button"
                                        class="btn btn-default" ng-click="onEdit(ass, 'nationalAssessment')"><i class="fa fa-edit"></i></button>
        
                                    <button ng-if="ass._state_s == 'draft'" ng-hide="ass._state_s=='workflow'" title="Delete" type="button"
                                        class="btn btn-default" ng-click="onDelete(ass, 'nationalAssessment', $event)"><i class="fa fa-trash-o"></i></button>
                                </div>
                                
                            </div>
                        </div>
                    </td>
                    
                    <td ng-if="!nationalTarget.assessments[0]" class="color-litegrey text-center"  style="border-left:1px #DDD solid;">
                       <h4 ng-if="nationalTarget._state_s == 'draft' || nationalTarget._state_s == 'workflow'">
                                            Target must be published before it can be assessed.</h4>
                       <h4 ng-if="nationalTarget._state_s == 'public'">Ready to be assessed.</h4>
                    </td>

                    <td style="border-left:1px #DDD solid;">
                        <a ng-if="nationalTarget._state_s == 'public'" class="btn btn-primary btn-xs"  href="/submit/online-reporting/nationalAssessment/new?nationalTarget={{nationalTarget.identifier_s}}"> <i class="fa fa-plus-square"></i> Add </a>
                        <span ng-if="nationalTarget._state_s == 'draft' || nationalTarget._state_s == 'request'" class="btn btn-default btn-xs bg-grey disabled"> <i class="fa fa-plus-square"></i> Add </a>
                    </td>
                </tr>


                <tr>
                    <td>
                        <a class="btn btn-primary btn-sm"  ng-href="/submit/online-reporting/nationalTarget/new"> <i class="fa fa-plus-square"></i> Add National Target or Aichi Target </a>
                        <!-- <a class="btn btn-primary btn-sm"  ng-href="/submit/online-reporting/nationalTarget/new"> <i class="fa fa-plus-square"></i> Aichi Target </a> -->
                    </td>
                    <!-- <td>
                        <md-button  class="md-raised">List Indicators</md-button>
                    </td> -->
                    <td  colspan="3" style="border-left:1px #DDD solid;">
                        <a class="btn btn-primary btn-sm"  ng-href="/submit/online-reporting/nationalIndicator/new"> <i class="fa fa-plus-square"></i> Add New Indicator</a>
                        <a class="btn btn-info btn-sm"  ng-href="/submit/online-reporting/nationalIndicator"> <i class="fa fa-list"></i> List Indicators </a>
                    </td>
                </tr>
            </table>

        </div>
    </div>







    <!-- <div class="container" style="padding-bottom:20px;">
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">

                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalTarget').public}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalTarget').draft}}</span>
                        <span class="badge bg-request">{{getFacet('nationalTarget').workflow}}</span>
                    </div>

                    <a href="list"><h4 style="padding-top:0;margin-top:0;">National Targets</h4></a>
                    <p style="font-size:12px;">In decision X/2, the Conference of the Parties adopted the Strategic Plan for Biodiversity (2011-2020) and urged Parties and other Governments to develop national and regional targets in the framework of the Aichi Biodiversity Targets. </p>
                        <p class="alert alert-danger">Under Development</p>

                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalTarget"> view records </a>
                        <a class="btn btn-primary"  href="/submit/online-reporting/nationalTarget/new"> add new </a>
                    </div>

              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalIndicator').public}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalIndicator').draft}}</span>
                        <span class="badge bg-request">{{getFacet('nationalIndicator').workflow}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">National Indicators </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p class="alert alert-danger">Under Development</p>

                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalIndicator"> view records </a>
                        <a class="btn btn-primary"  href="/submit/online-reporting/nationalIndicator/new"> add new </a>
                    </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalAssessment').public}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalAssessment').draft}}</span>
                        <span class="badge bg-request">{{getFacet('nationalAssessment').workflow}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">Assessments</h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                       <p class="alert alert-danger">Under Development</p>

                    <div class="btn-group-xs">
                        <a class="btn btn-info" href="/submit/online-reporting/nationalAssessment"> view records </a>
                        <a class="btn btn-primary"  href="/submit/online-reporting/nationalAssessment/new"> add new </a>
                    </div>
              </div>
            </div>

        </div>
    </div> -->



    <!-- <h3 class="container-fluid color-grey" style="border-top:1px solid #DDD;"><i class="fa fa-chevron-circle-down"></i> Activities, Guidance and Support Tools</h3>

    <div class="container" >
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalSupportTool').public}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalSupportTool').draft}}</span>
                        <span class="badge bg-request">{{getFacet('nationalSupportTool').workflow}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">Guidance and Support Tools </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p class="alert alert-danger">Under Development</p>

                    <div class="btn-group-xs">
                      <a class="btn btn-info" href="/submit/online-reporting/nationalSupportTool"> view records </a>
                      <a class="btn btn-primary"  href="/submit/online-reporting/nationalSupportTool/new"> add new </a>
                    </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('implementationActivity').public}}</span>
                        <span class="badge bg-draft">{{getFacet('implementationActivity').draft}}</span>
                        <span class="badge bg-request">{{getFacet('implementationActivity').workflow}}</span>
                    </div>
                    <a href="list"><h4 style="padding-top:0;margin-top:0;">Implementation Activities </h4></a>
                    <p style="font-size:12px;">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                       <p class="alert alert-danger">Under Development</p>

                    <div class="btn-group-xs">
                      <a class="btn btn-info" href="/submit/online-reporting/implementationActivity"> view records </a>
                      <a class="btn btn-primary"  href="/submit/online-reporting/implementationActivity/new"> add new </a>
                    </div>
              </div>
            </div>


        </div>
    </div> -->


</div>
