<div>

<div class="btn-schema" ng-repeat="report in schemaList|filter:schemaFilter" ng-class="{'btn-schema-selected-active': isActiveMenu(report)}" >
    <table>
        <tr>
            <td class="title">
                <a href="{{listUrl}}/{{report.identifier}}"> {{report.title}} </a><br>
            </td>
            <td class="facets" row-span="2">
                <div class="label label-success label-small pull-right" ng-show="report.publishCount">{{report.publishCount}} </div>
                <div class="label label-default label-small pull-right" ng-show="report.draftCount"> {{report.draftCount}} </div>
                <div class="label label-danger label-small pull-right" ng-show="report.requestCount"> {{report.requestCount}} </div>
            </td>
        </tr>
        <tr>
            <td>
                <a style="font-size:10px;font-weight:bold;" href="{{getURL(report)}}">
                    <i class="fa fa-plus-square"></i>
                    add new</a>
                </td>
        </tr>
    </table>
</div>
<!-- /management/edit/{{report.identifier}} -->
<!-- /management/list/{{report.identifier}} -->
</div>
