<div class="home-bottom" style="position:relative">
   	<div class="container main" id="main" style="padding-top:6px">
      	<div class="row top">
          <h1 ng-if="!user.authenticated">Welcome!</h1>
          <h1 ng-if="user.authenticated">Welcome! You have logged-in as {{user.name}}.</h1>
        	<p></p>
        	<p>
				This section allows you to register, edit or delete information according to the rights assigned for you specific role. In order to the view the status of a record you have submitted for publication, please see the Record status page.
      		</p>
      		<br>
          <p>Get Started &nbsp; <a href="/management/register" class="getstarted">Register a record</a></p>
      	</div>

        <h2>Items requiring your attention</h2>  
        <div class="my-tasks"></div>
        
        <h2>Pending requests</h2>  
        <div class="my-pending-tasks"></div>

        <h2>Completed requests</h2>  
        <div class="my-completed-tasks"></div>

  	</div>
</div>

<script src="/app/chm/directives/management/tasks/my-tasks.js"></script>
 <script src="/app/chm/directives/management/tasks/my-pending-tasks.js"></script>
 <script src="/app/chm/directives/management/tasks/my-completed-tasks.js"></script>