<div class="row" >
    <div class="col-xs-3">
        <div class="register-facets"></div>
        <script src="/app/chm/directives/management/register-facets.partial.html.js"></script>
    </div>
    <div class="col-xs-9 my_well my_well-white">
        <div class="main" id="main" style="padding-top:6px">
          	<div class="top">
          		<h1>My drafts</h1>
          		<div class="my-drafts"></div>
          	</div>
      	</div>
    	<script src="/app/chm/directives/management/my-drafts.js"></script>
    </div>
</div>
