<div class="home-bottom" style="position:relative">
    <div class="col-xs-3">
        <div class="register-facets"></div>
        <script src="/app/chm/directives/management/register-facets.partial.html.js"></script>
        <script src="/app/chm/directives/management/facet-bar.partial.html.js"></script>
    </div>
    <div class="col-xs-9 my_well my_well-white">



        <h2 class="sub-header" style="border:0;" >Records</h2>

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#published" aria-controls="published" role="tab" data-toggle="tab"><span class="sub-header">Published Records</span></a></li>
                <li role="presentation"><a href="#draft" aria-controls="draft" role="tab" data-toggle="tab"><span class="sub-header">Draft Records</span></a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="published">
                    <div class="my-documents"></div>
                    <script src="/app/chm/directives/management/my-documents.js"></script>
                </div>
                <div role="tabpanel" class="tab-pane" id="draft">
                    <div class="my-drafts"></div>
                    <script src="/app/chm/directives/management/my-drafts.js"></script>
                </div>

            </div>

        </div>



            <!-- <div role="tabpanel" class="tab-pane active" id="drafts">
                <div class="main" id="main" style="padding-top:6px">
                    <div class="row top">
                        <h1>Draft records</h1>
                        <div class="my-drafts"></div>
                    </div>
                </div>
                <script src="/app/chm/directives/management/my-drafts.js"></script>
            </div>
            <div role="tabpanel" class="tab-pane" id="published">
                <div class="main" id="main" style="padding-top:6px">
                    <div class="row top">
                        <h1>Published Record</h1>
                        <div class="my-documents"></div>
                    </div>
                </div>
                <script src="/app/chm/directives/management/my-documents.js"></script>
            </div> -->
    </div>
</div>
