<div id="submit">

    <div class="container">

        <div class="row" ng-switch="subSchema">
            <h1 ng-switch-when="nbsap">NBSAP(s) <i ng-show="loading" class="fa fa-spinner fa-spin"></i></h1>
            <h1 ng-switch-when="other">Other Reports<i ng-show="loading" class="fa fa-spinner fa-spin"></i></h1>
            <h1 ng-switch-default>{{schema | schemaName}} <i ng-show="loading" class="fa fa-spinner fa-spin"></i></h1>
        </div>

        <div class="row" >
            
            <div style="display:inline;">
                <input  type="text" ng-model="freetext" ng-change="onText()" class="btn btn-default bg-white" placeholder="keyword">
            </div>
            <div style="display:inline;">
                <a ng-click="status=''; onPage(0)" class="btn btn-default btn-info"><i ng-show="status==''" class="fa fa-check"></i> ALL</a>
            </div>
            <div style="display:inline;">
                <a ng-click="status='public'; onPage(0)" class="btn btn-default bg-published"><i ng-show="status=='public'" class="fa fa-check"></i> PUBLISHED <span class="badge bg-white">{{facets.public}}</span> </a>
            </div>

            <div style="display:inline;">
                <a ng-click="status='draft'; onPage(0)" class="btn btn-default bg-draft"><i ng-show="status=='draft'" class="fa fa-check"></i> DRAFTS <span class="badge bg-white">{{facets.draft}}</span></a>
            </div>

            <div style="display:inline;">
                <a ng-click="status='draft-lock'; onPage(0)" class="btn btn-default bg-request"><i ng-show="status=='draft-lock'" class="fa fa-check"></i> REQUESTS <span class="badge bg-white">{{facets.request}}</span></a>
            </div>

            <div style="display:inline;" class="pull-right">
                <a class="btn btn-primary" ng-click="onEdit(schema)"> Add New </a>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row" >

            <nav ng-show="pages.length>1">
              <ul class="pagination">
                <li>
                  <a ng-click="onPage(currentPage-1)"  href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li ng-repeat="pageIndex in pages" ng-class="{ active : currentPage==pageIndex }">
                    <a href="#" ng-click="onPage(pageIndex)">{{pageIndex+1}}</a>
                </li>
                <li>
                  <a ng-disabled="currentPage>=pages.length-1" href="#"  ng-click="onPage(currentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>

            <table class="table table-striped">
            	<thead>
            		<tr>
            		<th style="white-space:nowrap;" >Type</th>
            		<th style="white-space:nowrap;" >Summary</th>
            		<th style="white-space:nowrap;" class="hidden-xs">Created By</th>
            		<th style="white-space:nowrap;" >Last Update</th>
            		<th style="white-space:nowrap;width:100px;">Status</th>
            		<th style="white-space:nowrap;width:100px;" class="text-right">{{recordCount}} Records</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="record in records">
            			<td class="type">
                            <b>{{record.schemaName | lstring}}</b>
                            <div>{{record.reportTypeName | lstring}}</div>
                        </td>
            			<td class="descr">
                            <h5 class="title" style="margin-top:0">
                                <a ng-href="{{record.url}}">{{(record.title || record.identifier_s) | lstring}}</a>
                            </h5>
                            <div class="hidden-xs" >{{record.summary | lstring | truncate:350:'...'}}</div>
                            </td>
            			<td class="createdby hidden-xs"> Matthew Dias TODO <br><span class="date" title="{{record.createdDate_dt | datetime}}">{{record.createdDate_dt | fromNow}}</span></td>
            			<td class="udpatedby"> Matthew Dias TODO <br><span class="date" title="{{record.updatedDate_dt | datetime}}">{{record.updatedDate_dt | fromNow}}</span></td>
            			<td class="status">
                            <span ng-show="record.isPublic" class="label label-default bg-published">PUBLISHED</span>
                            <span ng-show="record.isDraft"  class="label label-default bg-draft">DRAFT</span>
                            <span ng-show="record.isLocked" class="label label-default bg-request">REQUEST</span>
                        </td>
            			<td class="edit text-right">
            				<div class="btn-group btn-group-sm" >
            					<!-- <button title="Locked for edit" ng-show="isRequest(record) &amp;&amp; showAddButton()" type="button" class="btn btn-default ng-hide"><i class="glyphicon glyphicon-lock"></i></button> -->
            					<a title="Edit" type="button" class="btn btn-default" ng-click="onEdit(record.schema_s, record.identifier_s)"><i class="fa fa-edit"></i></a>
            					<button title="Delete" type="button" class="btn btn-default" ng-click="askDelete(record)"><i class="fa fa-trash-o"></i></button>
            				</div>
            			</td>
            		</tr>

            	</tbody>


            </table>

        </div>
    </div>



</div>
