<div>

    <h2 class="color-black">Register Information
    </h2>

<!--
    <div style="margin-bottom:10px;font-size:12px;" class="pull-right">
        <span class="pull-right"> Published
            <span class="label label-success">&nbsp;</span>
        </span>
        <br>
        <span class="pull-right"> Draft
            <span class="label label-default">&nbsp;</span>
        </span>
        <br>
        <span class="pull-right"> Awaiting approval
            <span class="label label-danger">&nbsp;</span>
        </span>
    </div>
    <div class="clearfix"></div> -->


    <div style="margin-bottom:10px;font-size:12px;" class="pull-right">
        <span>
            <span class="label label-success">Published</span>
        </span>

        <span>
            <span class="label label-default">Draft</span>
        </span>

        <span >
            <span class="label label-danger">Awaiting approval</span>
        </span>

    </div>
    <div class="clearfix"></div>


    <a href="/management/register"><div class="btn-schema dashboard"><i class="fa fa-dashboard"></i> Dashboard (all records)</div></a>


    <a href="/management/requests">
        <div  class="btn-schema dashboard"><i class="fa fa-retweet"></i> Requests
            <span class="facets pull-right label label-danger label-small" ng-show="requestCount">{{requestCount}} </span>
        </div></a>

        <div class="national" ng-show="isNationalUser()">
            <h2 class="color-blue" style="cursor:pointer;margin-bottom:3px;">
                <span  ng-click="showNational=!showNational"><i class="fa fa-chevron-circle-up" ng-show="showNational"></i>
                <i class="fa fa-chevron-circle-down" ng-show="!showNational"></i> National Records <div class="small">Submitted and validated by countries</div></span>
                <!-- <select ng-show="isAdmin()" ng-model="government" style="width:100%" ng-options="c.code as c.name|lstring for c in countries|orderBy:'name|lstring'"></select> -->
            </h2>

            <div ng-show="showNational">
                <h3>Online Reporting</h3>
                <h4>National Reports, NBSAPs and Other Reports</h4>
                <div facet-bar schema-list="schemasList" schema-filter="nationalReportsFilter"  list-url="/management/national-reporting" edit-url="/management/edit/national-reporting"></div>

                <h4>Progress towards implementation of national and Aichi Biodiversity Targets</h4>
                <div facet-bar schema-list="schemasList" schema-filter="nationalProgressFilter"  list-url="/management/national-reporting" edit-url="/management/edit/national-reporting"></div>
                <h4>Activities, Guidance and Support Tools</h4>
                <div facet-bar schema-list="schemasList" schema-filter="nationalActivitiesFilter" list-url="/management/national-reporting" edit-url="/management/edit/national-reporting"></div>
                <h3>Financial Resource Mobilisation </h3>
                <h4>Implementation of the Strategy for Resource Mobilization</h4>

                <div class="btn-schema">
                    <table>
                        <tr>
                            <td class="title"><a href=""><i class="fa fa-plus-square"></i></a> Preliminary Reporting Framework</td>
                            <td class="facets pull-right"row-span="2">
                                <span class="label label-success label-small" ng-show="report.publishCount">{{getFacet('resourceMobilisation','publishCount')}} </span><br>
                                <span class="label label-default label-small" ng-show="report.draftCount"> {{getFacet('resourceMobilisation','draftCount')}} </span><br>
                                <span class="label label-danger label-small" ng-show="report.requestCount"> {{getFacet('resourceMobilisation','requestCount')}} </span><br>
                            </td>
                        </tr>
                        <tr>
                            <td><a style="font-size:10px;font-weight:bold;" href="/management/edit/resourceMobilisation?government={{userGovernment()||government}}"><i class="fa fa-plus-square"></i> add new</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    <div class="reference" ng-show="isReferenceUser()">
        <h2 class="color-orange" ng-click="showReference=!showReference" style="cursor:pointer;margin-bottom:3px;">
            <i class="fa fa-chevron-circle-up" ng-show="showReference"></i>
            <i class="fa fa-chevron-circle-down" ng-show="!showReference"></i> Reference Records <div class="small">Submitted by any registered user and validated by the CBD Secretariat prior to publication</div></h2>
        <div ng-show="showReference">
            <div facet-bar schema-list="schemasList" schema-filter="nationalReferenceFilter" list-url="/management/list" edit-url="/management/edit"></div>
        </div>
    </div>

    <div class="scbd" ng-show="isSCBDUser()">
        <h2 class="color-darkgrey" ng-click="showSCBD=!showSCBD" style="cursor:pointer;margin-bottom:3px;">
            <i class="fa fa-chevron-circle-up" ng-show="showSCBD"></i>
            <i class="fa fa-chevron-circle-down" ng-show="!showSCBD"></i> SCBD Records <div class="small">Managed by the CBD Secretariat</div></h2>
        <div ng-show="showSCBD">
            <div  facet-bar schema-list="schemasList" schema-filter="nationalSCBDFilter" list-url="/management/list" edit-url="/management/edit"></div>
            <!-- <div class="btn-schema">Marine Ecologically or Biologically Significant Areas (EBSA)</div>
            <div class="btn-schema">Strategic Plan Indicators</div>
            <div class="btn-schema">Case Studies</div>
            <div class="btn-schema">Case Study - Biodiversity and Human Well-being</div>
            <div class="btn-schema">Strategic Plan Indicators</div>
            <div class="btn-schema">Aichi Targets</div> -->
        </div>
    </div>


</div>
