<div class="home-bottom" style="position:relative">
    <div class="container main" id="main" style="padding-top:6px">
      	<div class="row top">
			
			<h1>Register a new record</h1>	
      		
      		<div class="alert alert-info alert-dismissable">
  				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  				<strong>Warning!</strong> Information displayed is for demonstration purposes only and does not reflect CHM records.
			</div>

      		<div class="col-lg-4 col-md-4 col-sm-6">
				<h2>National Records</h2>
				<p>
					The submission of records in this category is restricted to CHM National Focal Points (CHM-NFPs) and National Authorized Users (NAUs). All records submitted by NAUs will be forwarded to the CHM-NFP 	for review and validation prior to publication.
				</p>
				<h4>Select a Common Format:</h4>
				<table class="cmsGrid" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-flag-alt"></span> </td>
						<td style="width:10px;">&nbsp;</td>
						<td><a href="/management/national-reporting">National Reporting</a> <br><i>National Reports, NSAPs, National Targets, National Indicators, Assessments of Progress, and Implementation Activities</i> </td>

					</tr><tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-money"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/managementcentre/edit/resourceMobilisation">Financial Resource Mobilisation</a> <br><i>Preliminary reporting framework for the implementation of the strategy for resource mobilization</i> </td>

					</tr>
				</table>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<h2>Reference Records</h2>
				<p>Records in this category may be submitted by all registered users. These records will be subject to review and validation by the Secretariat prior to publication</p>
				<h4>Select a Common Format:</h4>
				<table class="cmsGrid" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-book"></span> </td>
						<td style="width:10px;">&nbsp;</td>
						<td><a href="/managementcentre/edit/resource">Virtual Library - CHM Resources</a> </td>

					</tr><tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-group"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/managementcentre/edit/organization">Biodiversity-related Organizations</a> </td>

					</tr>
				</table>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<h2>CBD Secretariat Records</h2>
				<p>The submission of records in this category is restricted to SCBD staff</p>
				<h4>Select a Common Format:</h4>
				<table class="cmsGrid" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-picture"></span> </td>
						<td style="width:10px;">&nbsp;</td>
						<td><a href="/managementcentre/edit/marineEBSA">Marine Ecologically or Biologically Significant Areas (EBSA)</a> </td>

					</tr><tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-bar-chart"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/managementcentre/edit/strategicPlanIndicator">Strategic Plan Global Indicators</a> </td>

					</tr>
				</table>
			</div>
      	</div>
  	</div>
</div>