<div class="home-bottom" style="position:relative">
    <div class="main" id="main" style="padding-top:6px">
      	<div class="row top">
			
			<h1>Register a new record</h1>	
      		
      		<div class="col-md-4 col-sm-6 col-xs-12">
				<h2>National Records</h2>
				<p>
					The submission of records in this category is restricted to National Authorized Users (NAUs). Records can be entered by representatives designated by NAUs and will be subject to review and validation by NAUs prior to publication. 
				</p>
				<h4>Select a Common Format:</h4>
				<table class="cmsGrid" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-flag-alt"></span> </td>
						<td style="width:10px;">&nbsp;</td>
						<td><a href="/management/national-reporting">On-line National Reporting</a> <br><i>This tool allows Parties to report on progress towards the Aichi Targets, including national targets set and actions taken to implement these targets.</i> </td>

					</tr><tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-money"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/management/edit/resourceMobilisation">Financial Resource Mobilisation</a> <br><i>Preliminary reporting framework for the implementation of the strategy for resource mobilization</i> </td>

					</tr>
				</table>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<h2>Reference Records</h2>
				<p>Records in this category may be submitted by all registered users. These records will be subject to review and validation by the Secretariat prior to publication.</p>
				<h4>Select a Common Format:</h4>
				<table class="cmsGrid" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-book"></span> </td>
						<td style="width:10px;">&nbsp;</td>
						<td><a href="/management/edit/resource">Virtual Library - CHM Resources</a> </td>

					</tr><tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-group"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/management/edit/organization">Biodiversity-related Organizations</a> </td>

					</tr>
				</table>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<h2>CBD Secretariat Records</h2>
				<p>The submission of records in this category is restricted to SCBD staff.</p>
				<h4>Select a Common Format:</h4>
				<table class="cmsGrid" cellspacing="0" cellpadding="0">
					<tr>
						<td valign="top" style="text-align:center;"> <span class="glyphicon glyphicon-picture"></span> </td>
						<td style="width:10px;">&nbsp;</td>
						<td><a href="/management/edit/marineEbsa">Marine Ecologically or Biologically Significant Areas (EBSA)</a> </td>
					</tr>
					<tr>
						<td valign="top" style="text-align:center;"> <span class="icon icon-bar-chart"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/management/edit/strategicPlanIndicator">Strategic Plan Indicators</a> </td>
					</tr>
					<tr>
						<td valign="top" style="text-align:center;"> <span class="glyphicon glyphicon-folder-open"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/management/edit/caseStudy">Case Studies</a> </td>
					</tr>
					<tr>
						<td valign="top" style="text-align:center;"> <span class="glyphicon glyphicon-folder-open"></span> </td>
						<td>&nbsp;</td>
						<td><a href="/management/edit/caseStudyHwb">Case Study - Biodiversity and Human Well-being</a> </td>
					</tr>
				</table>
			</div>
      	</div>
  	</div>
</div>