<div id="submit">

    <div class="container"  style="margin-top:20px;">
        <div class="row">
            <div class="col-sm-12 well">
                <div class="pull-right" style="margin-top:5px;">
                    <span class="badge bg-published" style="width:130px;padding:5px;">PUBLISHED</span>
                    <span class="badge bg-draft"    style="width:130px;padding:5px;">DRAFTS</span>
                    <span class="badge bg-request" style="width:130px;padding:5px;">REQUESTS</span>
                </div>
                <h1><i class="fa fa-edit"></i> Management Center Dashboard</h1>
                <h2 class="color-litegrey">The CHM handles the submission of various CBD related records and information.
                    <h3 class="color-medgrey" style="margin-bottom:30px;">Please select the type of information you would like to submit:</h3>
                </h2>

            </div>
        </div>
    </div>

    <h3  class="container-fluid color-blue" style="border-top:1px solid #DDD;padding-top:0;margin-top:3px;"><i class="fa fa-chevron-circle-down"></i> National Records</h3>


    <div class="container" >
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalReport').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalReport').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('nationalReport').requestCount}}</span>
                    </div>
                    <h4 style="padding-top:0;margin-top:0;" ><i class="fa fa-edit"></i> Online Reporting</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <a class="btn btn-primary" href="/submit/online-reporting/" role="button bg-white"> Select »</a>
              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('resourceMobilisation').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('resourceMobilisation').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('resourceMobilisation').requestCount}}</span>
                    </div>
                    <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Financial Resource Mobilization Reporting Framework</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <a class="btn btn-primary " href="/submit/resourceMobilisation/" role="button bg-white"> Select »</a>
              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('absch').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('absch').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('absch').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> ABS Information</h4>
                  <p>The Access and Benefit-sharing Clearing-House (ABS-CH) handles the submission of information on access and benefit-sharing established by Article 14 of the Nagoya Protocol. Both Parties and other governments are encouraged to submit their relevant ABS information.</p>
                  <a class="btn btn-warning" href="http://absch.cbd.int/register" role="button bg-white"> Go to the ABSCH »</a>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('bch').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('bch').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('bch').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> BCH Information</h4>
                  <p>The Biosafety Clearing-House (BCH) is a mechanism set up by the Cartagena Protocol on Biosafety to facilitate the exchange of information on Living Modified Organisms (LMOs) and assist the Parties to better comply with their obligations under the Protocol.</p>
                  <a class="btn btn-warning" href="http://bch.cbd.int" role="button bg-white"> Go to the BCH »</a>
              </div>
            </div>

        </div>
    </div>






    <h3 class="container-fluid color-orange" style="border-top:1px solid #DDD;margin-top:30px;"><i class="fa fa-chevron-circle-down"></i> Reference Records</h3>
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('resource').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('resource').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('resource').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Virtual Library Records</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <a class="btn btn-primary" href="/submit/resource/" role="button bg-white"> Select »</a>
              </div>
            </div>


            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('organization').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('organization').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('organization').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Biodiversity Related Organizations</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <a class="btn btn-primary" href="/submit/organization/" role="button bg-white"> Select »</a>
              </div>
            </div>



            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('caseStudy').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('caseStudy').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('caseStudy').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Case Studies</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <a class="btn btn-primary" href="/submit/caseStudy/" role="button bg-white"> Select »</a>
              </div>
            </div>

        </div>
    </div>


    <h3 ng-show="!government" class="container-fluid color-black" style="border-top:1px solid #DDD;margin-top:30px;"><i class="fa fa-chevron-circle-down"></i> SCBD Records</h3>
    <div class="container"  ng-show="!government">
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('marineEbsa').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('marineEbsa').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('marineEbsa').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Marine Ecologically or Biologically Significant Areas (EBSA) </h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <a class="btn btn-primary" href="/submit/marineEbsa/" role="button bg-white"> Select »</a>
              </div>
            </div>


            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('strategicPlanIndicator').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('strategicPlanIndicator').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('strategicPlanIndicator').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Strategic Plan Indicators </h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <a class="btn btn-primary" href="/submit/strategicPlanIndicator" role="button bg-white"> Select »</a>
              </div>
            </div>



            <div class="col-md-4">
                <div class="box bg-grey">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('aichiTarget').publishCount}}</span>
                        <span class="badge bg-draft">{{getFacet('aichiTarget').draftCount}}</span>
                        <span class="badge bg-request">{{getFacet('aichiTarget').requestCount}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Aichi Targets</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                  <a class="btn btn-primary" href="/submit/aichiTarget/" role="button bg-white"> Select »</a>
              </div>
            </div>

        </div>
    </div>


</div>
