<div id="submit">

    <div class="container"  style="margin-top:20px;">
        <div class="row">
                <div class="col-sm-12">
                     <div class="pull-right">
                    <span class="badge bg-published" style="width:130px;padding:5px;">PUBLISHED</span>
                    <span class="badge bg-draft"    style="width:130px;padding:5px;">DRAFTS</span>
                    <span class="badge bg-request" style="width:130px;padding:5px;">REQUESTS</span>
                </div>
                <h1><i class="fa fa-edit"></i> Management Center</h1>
                <h2 class="color-litegrey">The CHM handles the submission of various CBD related records and information.
                    <h3 class="color-medgrey" style="margin-bottom:30px;">Please select the type of information you would like to submit:</h3>
                </h2>

            </div>
        </div>
    </div>

    <h3  class="container-fluid color-blue" style="border-top:1px solid #DDD;padding-top:0;margin-top:3px;"><i class="fa fa-chevron-circle-down"></i> National Records

    </h3>

    <div class="container" style="padding-top:20px;" >

        <div class="row section-row bg-grey row-bottom-border">
            <div class="col-xs-12">
                National Strategies and Reports
            </div>
        </div>

        <!--<div class="row title-row row-bottom-border">
            <div class="col-xs-3">Record Type</div>
            <div class="col-xs-7">Description</div>
            <div class="col-xs-1">Status</div>
            <div class="col-xs-1">Action</div>
        </div>-->

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">National Biodiversity Strategies and Action Plans (NBSAPS) </h5>
            </div>
            <div class="col-xs-6">
                <!-- <p class="bg-red" style="padding:5px;">Under Development</p> -->
                <p style="font-size:12px;">National Biodiversity Strategies and Action Plans (NBSAPs) are the principal instruments for implementing the Convention at the national level (Article 6). The Convention requires countries to prepare a national biodiversity strategy (or equivalent instrument) and to ensure that this strategy is mainstreamed into the planning and activities of all those sectors whose activities can have an impact (positive and negative) on biodiversity. </p>

            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('nationalStrategicPlan').public}}</span>
                    <span class="badge bg-draft">{{getFacet('nationalStrategicPlan').draft}}</span>
                    <span class="badge bg-request">{{getFacet('nationalStrategicPlan').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/nationalReport?type=nbsap"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/nationalReport/new?type=nbsap"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">National Reports </h5>
            </div>
            <div class="col-xs-6">
                <!-- <p class="bg-red" style="padding:5px;">Under Development</p> -->
                <p style="font-size:12px;">Parties are obliged under Article 26 of the Convention to submit their national reports to the Conference of the Parties on measures taken for the implementation of the Convention and their effectiveness in meeting the objectives of the Convention. National reports provide main sources of information for the Conference of the Parties and its subsidiary bodies to review the implementation of the Convention (Article 23). </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published" >{{getFacet('nationalReport').public}}</span>
                    <span class="badge bg-draft" >{{getFacet('nationalReport').draft}}</span>
                    <span class="badge bg-request">{{getFacet('nationalReport').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/nationalReport?type=nr"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/nationalReport/new?type=nr"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Other National Reports</h5>
            </div>
            <div class="col-xs-6">
                <!-- <p class="bg-red" style="padding:5px;">Under Development</p> -->
                <p style="font-size:12px;">Parties are encouraged to submit other reports related to the implementation of the Convention and its Protocols.</p>

            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('otherReport').public}}</span>
                    <span class="badge bg-draft">{{getFacet('otherReport').draft}}</span>
                    <span class="badge bg-request">{{getFacet('otherReport').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/nationalReport?type=other"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/nationalReport/new?type=other"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Financial Reporting Framework</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">The financial reporting framework, adopted by decision XII/3, is intended for use by Parties for providing baseline information and reporting on their contribution to reach the global financial targets, under Aichi Biodiversity Target 20, as adopted by the Conference of the Parties to the Convention at its twelfth meeting, in accordance with Article 20. </p>

            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('resourceMobilisation').public}}</span>
                    <span class="badge bg-draft">{{getFacet('resourceMobilisation').draft}}</span>
                    <span class="badge bg-request">{{getFacet('resourceMobilisation').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/resourceMobilisation/"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/resourceMobilisation/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

         <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
            <div class="col-xs-12">
               Progress in achieving national and/or Aichi Biodiversity Targets
            </div>
        </div>

         <!--<div class="row title-row row-bottom-border">
            <div class="col-xs-3">Record Type</div>
            <div class="col-xs-7">Description</div>
            <div class="col-xs-1">Status</div>
            <div class="col-xs-1">Action</div>
        </div>-->

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Targets</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">Parties are invited to provide national targets set in line with the Aichi Biodiversity Targets. </p>

            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('nationalTarget').public}}</span>
                    <span class="badge bg-draft">{{getFacet('nationalTarget').draft}}</span>
                    <span class="badge bg-request">{{getFacet('nationalTarget').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs  pull-right">
                    <a class="btn btn-info" href="/submit/online-reporting/"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/online-reporting/nationalTarget/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>


        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Assessments</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">
                    Parties are invited to provide assessments of progress made towards the Aichi Biodiversity Targets and/or related national targets
                     <!--<span class="color-red" ng-if="getFacet('nationalTarget').public <= 0"><br>No targets have been publish. Assessments can only be made against published targets.</span>-->
                    </p>

            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('nationalAssessment').public}}</span>
                    <span class="badge bg-draft">{{getFacet('nationalAssessment').draft}}</span>
                    <span class="badge bg-request">{{getFacet('nationalAssessment').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/online-reporting/"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/online-reporting/nationalAssessment/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Indicators</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">
                    Parties are invited to provide national indicators developed for assessing progress towards the Aichi Biodiversity Targets and/or related national targets.
                </p>

            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('nationalIndicator').public}}</span>
                    <span class="badge bg-draft">{{getFacet('nationalIndicator').draft}}</span>
                    <span class="badge bg-request">{{getFacet('nationalIndicator').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/online-reporting/nationalIndicator/"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/online-reporting/nationalIndicator/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>



        <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
            <div class="col-xs-12">
                <a href="http://absch.cbd.int">Access and Benefit-Sharing (Nagoya Protocol)</a>
            </div>
        </div>
<!--
         <div class="row title-row row-bottom-border">
            <div class="col-xs-3">Record Type</div>
            <div class="col-xs-7">Description</div>
            <div class="col-xs-1">Status</div>
            <div class="col-xs-1">Action</div>
        </div>-->

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Competent National Authorities</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('authority').public}}</span>
                    <span class="badge bg-draft">{{getFacet('authority').draft}}</span>
                    <span class="badge bg-request">{{getFacet('authority').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="https://absch.cbd.int/register/CNA"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="https://absch.cbd.int/register/CNA/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Legislative, administrative or policy measures on access and benefit-sharing</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('measure').public}}</span>
                    <span class="badge bg-draft">{{getFacet('measure').draft}}</span>
                    <span class="badge bg-request">{{getFacet('measure').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="https://absch.cbd.int/register/MSR"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="https://absch.cbd.int/register/MSR/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

         <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">National Websites and Databases</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('database').public}}</span>
                    <span class="badge bg-draft">{{getFacet('database').draft}}</span>
                    <span class="badge bg-request">{{getFacet('database').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="https://absch.cbd.int/register/NDB"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="https://absch.cbd.int/register/NDB/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Internationally Recognized Certificate of Compliance</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('absPermit').public}}</span>
                    <span class="badge bg-draft">{{getFacet('absPermit').draft}}</span>
                    <span class="badge bg-request">{{getFacet('absPermit').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="https://absch.cbd.int/register/IRCC"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="https://absch.cbd.int/register/IRCC/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Checkpoints</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('absCheckpoint').public}}</span>
                    <span class="badge bg-draft">{{getFacet('absCheckpoint').draft}}</span>
                    <span class="badge bg-request">{{getFacet('absCheckpoint').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="https://absch.cbd.int/register/CP"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="https://absch.cbd.int/register/CP/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Checkpoint Communiqués</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('absCheckpointCommunique').public}}</span>
                    <span class="badge bg-draft">{{getFacet('absCheckpointCommunique').draft}}</span>
                    <span class="badge bg-request">{{getFacet('absCheckpointCommunique').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="https://absch.cbd.int/register/CPC"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="https://absch.cbd.int/register/CPC/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
            <div class="col-xs-12">
                <a href="http://bch.cbd.int">Biosafety Clearing-House (BCH)</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">BCH Clearing-House Records</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">
                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">

                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="https://bch.cbd.int/managementcentre/default.shtml"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="https://bch.cbd.int/managementcentre/default.shtml"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>


   </div>

<!--
    <div class="container" >
        <div class="row">

            <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalReport').public}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalReport').draft}}</span>
                        <span class="badge bg-request">{{getFacet('nationalReport').workflow}}</span>
                    </div>
                    <h4 style="padding-top:0;margin-top:0;" ><i class="fa fa-edit"></i> National Strategies and Reports</h3>
                    <p>National reporting on progress in implementing the Strategic Plan for Biodiversity 2011-2020, including financial reporting, enabling entry and retrieval of information in support of monitoring of the Convention.</p>
                    <a class="btn btn-primary" href="/submit/" role="button bg-white" ng-disabled="!enableNr"> Select »</a>

              </div>
            </div>

             <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('nationalAssessment').public}}</span>
                        <span class="badge bg-draft">{{getFacet('nationalAssessment').draft}}</span>
                        <span class="badge bg-request">{{getFacet('nationalAssessment').workflow}}</span>
                    </div>
                    <h4 style="padding-top:0;margin-top:0;" ><i class="fa fa-edit"></i> Implementation Progress Achieved on Targets</h3>
                    <p>National reporting on progress in implementing the Strategic Plan for Biodiversity 2011-2020, including financial reporting, enabling entry and retrieval of information in support of monitoring of the Convention.</p>
                    <a class="btn btn-primary" href="/submit/online-reporting/" role="button bg-white" ng-disabled="!enableNr"> Select »</a>

              </div>
            </div>

            <div class="col-md-4">
                <div class="box bg-grey  md-whiteframe-z1">

                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> ABS Clearing-House</h4>
                  <p>The Access and Benefit-sharing Clearing-House (ABS-CH) handles the submission of information on access and benefit-sharing established by Article 14 of the Nagoya Protocol. Both Parties and other governments are encouraged to submit their relevant ABS information.</p>
                  <a class="btn btn-warning" href="http://absch.cbd.int/register" role="button bg-white"> Go to the ABSCH »</a>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4">
                <div class="box bg-grey  md-whiteframe-z1">

                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> BCH Clearing-House</h4>
                  <p>The Biosafety Clearing-House (BCH) is a mechanism set up by the Cartagena Protocol on Biosafety to facilitate the exchange of information on Living Modified Organisms (LMOs) and assist the Parties to better comply with their obligations under the Protocol.</p>
                  <a class="btn btn-warning" href="http://bch.cbd.int" role="button bg-white"> Go to the BCH »</a>
              </div>
            </div>

        </div>
    </div>-->






    <h3 class="container-fluid color-orange" style="border-top:1px solid #DDD;margin-top:30px;"><i class="fa fa-chevron-circle-down"></i> Reference Records</h3>
    <div class="container">


         <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
            <div class="col-xs-12">
               Virtual Library Records
            </div>
        </div>
<!--
         <div class="row title-row row-bottom-border">
            <div class="col-xs-3">Record Type</div>
            <div class="col-xs-7">Description</div>
            <div class="col-xs-1">Status</div>
            <div class="col-xs-1">Action</div>
        </div>-->

        <div class="row row-bottom-border">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">General Library Records</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('resource').public}}</span>
                    <span class="badge bg-draft">{{getFacet('resource').draft}}</span>
                    <span class="badge bg-request">{{getFacet('resource').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/resource"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/resource/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

           <div class="row">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Case Studies</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('caseStudy').public}}</span>
                    <span class="badge bg-draft">{{getFacet('caseStudy').draft}}</span>
                    <span class="badge bg-request">{{getFacet('caseStudy').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/caseStudy/"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/caseStudy/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

         <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
            <div class="col-xs-12">
               Organizations
            </div>
        </div>
<!--
         <div class="row title-row row-bottom-border">
            <div class="col-xs-3">Record Type</div>
            <div class="col-xs-7">Description</div>
            <div class="col-xs-1">Status</div>
            <div class="col-xs-1">Action</div>
        </div>-->

        <div class="row">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">Biodiversity Related Organizations</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('organization').public}}</span>
                    <span class="badge bg-draft">{{getFacet('organization').draft}}</span>
                    <span class="badge bg-request">{{getFacet('organization').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/organization/"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/organization/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>


        <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
           <div class="col-xs-12">
              Capacity-building
           </div>
       </div>

       <div class="row">
           <div class="col-xs-3">
               <h5 style="padding-top:0;margin-top:0;">Capacity-building Initiative</h5>
           </div>
           <div class="col-xs-6">
               <p style="font-size:12px;">

               </p>
           </div>
           <div class="col-xs-2">
               <div class="status-badge">
                   <span class="badge bg-published">{{getFacet('capacityBuildingInitiative').public}}</span>
                   <span class="badge bg-draft">{{getFacet('capacityBuildingInitiative').draft}}</span>
                   <span class="badge bg-request">{{getFacet('capacityBuildingInitiative').workflow}}</span>
               </div>
           </div>
           <div class="col-xs-1">
               <div class="btn-group-xs pull-right">
                   <a class="btn btn-info" href="/submit/capacityBuildingInitiative/"><i class="fa fa-list"></i></a>
                   <a class="btn btn-primary" href="/submit/capacityBuildingInitiative/new"><i class="fa fa-plus-square"></i></a>
               </div>
           </div>
       </div>

       <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
          <div class="col-xs-12">
             UNDB Records
          </div>
      </div>
       <div class="row">
           <div class="col-xs-3">
               <h5 style="padding-top:0;margin-top:0;">UNDB Actors</h5>
           </div>
           <div class="col-xs-6">
               <p style="font-size:12px;">

               </p>
           </div>
           <div class="col-xs-2">
               <div class="status-badge">
                   <span class="badge bg-published">{{getFacet('undbPartner').public}}</span>
                   <span class="badge bg-draft">{{getFacet('undbPartner').draft}}</span>
                   <span class="badge bg-request">{{getFacet('undbPartner').workflow}}</span>
               </div>
           </div>
           <div class="col-xs-1">
               <div class="btn-group-xs pull-right">
                   <a class="btn btn-info" href="/submit/undbPartner/"><i class="fa fa-list"></i></a>
                   <a class="btn btn-primary" href="/submit/undbPartner/new"><i class="fa fa-plus-square"></i></a>
               </div>
           </div>
       </div>

        <div class="row">
            <div class="col-xs-3">
                <h5 style="padding-top:0;margin-top:0;">UNDB Actions</h5>
            </div>
            <div class="col-xs-6">
                <p style="font-size:12px;">

                </p>
            </div>
            <div class="col-xs-2">
                <div class="status-badge">
                    <span class="badge bg-published">{{getFacet('undbAction').public}}</span>
                    <span class="badge bg-draft">{{getFacet('undbAction').draft}}</span>
                    <span class="badge bg-request">{{getFacet('undbAction').workflow}}</span>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="btn-group-xs pull-right">
                    <a class="btn btn-info" href="/submit/undbAction/"><i class="fa fa-list"></i></a>
                    <a class="btn btn-primary" href="/submit/undbAction/new"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
        </div>

        <!--<div class="row">

            <div class="col-md-4">
                <div class="box bg-grey  md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('resource').public}}</span>
                        <span class="badge bg-draft">{{getFacet('resource').draft}}</span>
                        <span class="badge bg-request">{{getFacet('resource').workflow}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Virtual Library Records</h4>
                  <p>The Virtual Library hosts a wide variety of resources relevant to the implementation of the CBD and it's protocols, including books, documents, capacity-building materials, meeting or conference proceedings, videos, news services, websites and databases, and others.</p>
                  <a class="btn btn-primary" href="/submit/resource/" role="button bg-white"> Select »</a>
              </div>
            </div>


            <div class="col-md-4">
                <div class="box bg-grey  md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('organization').public}}</span>
                        <span class="badge bg-draft">{{getFacet('organization').draft}}</span>
                        <span class="badge bg-request">{{getFacet('organization').workflow}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Biodiversity Related Organizations</h4>
                  <p>The List of Biodiversity Related Organizations is a compendium of all organizations working in or related to the field of Biodiversity.</p>
                  <a class="btn btn-primary" href="/submit/organization/" role="button bg-white"> Select »</a>
              </div>
            </div>



            <div class="col-md-4">
                <div class="box bg-grey md-whiteframe-z1">
                    <div class="pull-right">
                        <span class="badge bg-published">{{getFacet('caseStudy').public}}</span>
                        <span class="badge bg-draft">{{getFacet('caseStudy').draft}}</span>
                        <span class="badge bg-request">{{getFacet('caseStudy').workflow}}</span>
                    </div>
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-edit"></i> Case Studies</h4>
                  <p>Case Studies are an important source of information and knowledge for Parties and various stakeholders to the Convention on Biological Diversity. Feedback and additional submissions by interested partners are welcome.</p>
                  <a class="btn btn-primary" href="/submit/caseStudy/" role="button bg-white"> Select »</a>
              </div>
            </div>

        </div>
    </div>-->
</div>

    <h3 ng-show="!government" class="container-fluid color-black" style="border-top:1px solid #DDD;margin-top:30px;"><i class="fa fa-chevron-circle-down"></i> SCBD Managed Records</h3>
    <div class="container"  ng-show="!government">

             <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
                <div class="col-xs-12">
                    SCBD records
                </div>
            </div>
            <div class="row row-bottom-border">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Aichi Target Dossiers</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">

                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('dossier').public}}</span>
                        <span class="badge bg-draft">{{getFacet('dossier').draft}}</span>
                        <span class="badge bg-request">{{getFacet('dossier').workflow}}</span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="btn-group-xs pull-right">
                        <a class="btn btn-info" href="/submit/dossier/"><i class="fa fa-list"></i></a>
                        <a class="btn btn-primary" href="/submit/dossier/new"><i class="fa fa-plus-square"></i></a>
                    </div>
                </div>
            </div>
             <div class="row row-bottom-border">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">Ecologically or Biologically Significant Marine Areas (EBSA)</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">
            Here you will find scientific information used to describe specific marine and coastal areas that meet the scientific criteria for Ecologically or Biologically Significant Marine Areas (EBSA). These are special areas in the ocean that serve important purposes, in one way or another, to support the healthy functioning of oceans and the many services that it provides.
                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('marineEbsa').public}}</span>
                        <span class="badge bg-draft">{{getFacet('marineEbsa').draft}}</span>
                        <span class="badge bg-request">{{getFacet('marineEbsa').workflow}}</span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="btn-group-xs pull-right">
                        <a class="btn btn-info" href="/submit/marineEbsa/"><i class="fa fa-list"></i></a>
                        <a class="btn btn-primary" href="/submit/marineEbsa/new"><i class="fa fa-plus-square"></i></a>
                    </div>
                </div>
            </div>
             <div class="row row-bottom-border">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">  Strategic Plan Indicators</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">

                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="status-badge">
                              <span class="badge bg-published">{{getFacet('strategicPlanIndicator').public}}</span>
                        <span class="badge bg-draft">{{getFacet('strategicPlanIndicator').draft}}</span>
                        <span class="badge bg-request">{{getFacet('strategicPlanIndicator').workflow}}</span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="btn-group-xs pull-right">
                        <a class="btn btn-info" href="/submit/strategicPlanIndicator/"><i class="fa fa-list"></i></a>
                        <a class="btn btn-primary" href="/submit/strategicPlanIndicator/new"><i class="fa fa-plus-square"></i></a>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Aichi Targets</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">

                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('aichiTarget').public}}</span>
                        <span class="badge bg-draft">{{getFacet('aichiTarget').draft}}</span>
                        <span class="badge bg-request">{{getFacet('aichiTarget').workflow}}</span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="btn-group-xs pull-right">
                        <a class="btn btn-info" href="/submit/aichiTarget/"><i class="fa fa-list"></i></a>
                        <a class="btn btn-primary" href="/submit/aichiTarget/new"><i class="fa fa-plus-square"></i></a>
                    </div>
                </div>
            </div>


            <div class="row section-row bg-grey row-bottom-border" style="margin-top:20px;">
                <div class="col-xs-12">
                 <a href="http://lifeweb.cbd.int"> LifeWeb </a>
                </div>
            </div>

            <div class="row row-bottom-border">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Events</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">

                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('lwEvent').public}}</span>
                        <span class="badge bg-draft">{{getFacet('lwEvent').draft}}</span>
                        <span class="badge bg-request">{{getFacet('lwEvent').workflow}}</span>
                    </div>
                </div>
                <div class="col-xs-1">
                     <div class="btn-group-xs pull-right">
                       <a class="btn btn-info" href="/submit/lwEvent/"><i class="fa fa-list"></i></a>
                        <a class="btn btn-primary" href="/submit/lwEvent/new"><i class="fa fa-plus-square"></i></a>
                    </div>
                </div>
            </div>

            <div class="row row-bottom-border">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;"> Projects</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">

                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('lwProject').public}}</span>
                        <span class="badge bg-draft">{{getFacet('lwProject').draft}}</span>
                        <span class="badge bg-request">{{getFacet('lwProject').workflow}}</span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="btn-group-xs pull-right">
                        <a class="btn btn-info" href="/submit/lwProject/"><i class="fa fa-list"></i></a>
                        <a class="btn btn-primary" href="/submit/lwProject/new"><i class="fa fa-plus-square"></i></a>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-xs-3">
                    <h5 style="padding-top:0;margin-top:0;">Donors</h5>
                </div>
                <div class="col-xs-6">
                    <p style="font-size:12px;">

                    </p>
                </div>
                <div class="col-xs-2">
                    <div class="status-badge">
                        <span class="badge bg-published">{{getFacet('lwDonor').public}}</span>
                        <span class="badge bg-draft">{{getFacet('lwDonor').draft}}</span>
                        <span class="badge bg-request">{{getFacet('lwDonor').workflow}}</span>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="btn-group-xs pull-right">
                        <a class="btn btn-info" href="/submit/lwDonor/"><i class="fa fa-list"></i></a>
                        <a class="btn btn-primary" href="/submit/lwDonor/new"><i class="fa fa-plus-square"></i></a>
                    </div>
                </div>
            </div>

      </div>
</div>
