<div class="container" style="margin-top:20px;">
  <div class="row">
    <div class="col-sm-12">
      <h3><i class="fa fa-bar-chart"></i> Resource Mobilisation Statistics <i ng-show="loading" class="fa fa-spinner fa-spin"></i></h3>
      <h5>Reports Received</h5>
    </div>
    <div class="row">
      <amchart3 ng-model='documents' chart-data='chartData'></amchart3>
      <div class="col-md-3 " style="padding-left:0; padding-right:0;">
        <results-list ng-model='documents' count='count' show="showCountry"></results-list>
      </div>
    </div>
  </div>
</div>
