<div class="row">

    <div class="col-xs-3">
        <div class="register-facets"></div>
        <script src="/app/chm/directives/management/register-facets.partial.html.js"></script><script src="/app/chm/directives/management/facet-bar.partial.html.js"></script>
    </div>

    <div class="col-xs-9 my_well my_well-white">

        <h1>Requests</h1>

        <div class="row row-same-height bg-litegrey" style="margin-bottom:20px;padding-top:10px;padding-bottom:10px;">
            <div class="col-xs-12">
                Information about this page.
            </div>
        </div>

        <h2 style="margin-top:30px;border:0;">Items requiring your attention</h2>
        <div class="my-tasks"></div>

        <h2 style="margin-top:30px;border:0;">Pending requests</h2>
        <div class="my-pending-tasks"></div>

        <h2 style="margin-top:30px;border:0;">Completed requests</h2>
        <div class="my-completed-tasks"></div>

    </div>

    <script src="/app/chm/directives/management/tasks/my-tasks.js"></script>
    <script src="/app/chm/directives/management/tasks/my-pending-tasks.js"></script>
    <script src="/app/chm/directives/management/tasks/my-completed-tasks.js"></script>
</div>
