<div class="container">
    <div class="row">

        <!-- <div class="col-xs-3">
            <register-facets></register-facets>
        </div> -->
        <h1>User Notifications</h1>


<md-content>
   <md-tabs md-dynamic-height md-border-bottom>
     <md-tab label="All Notifications">
       <md-content>
         <h3>All Notifications</h3>
         <p><all-notifications></all-notifications></p>
       </md-content>
     </md-tab>
      <md-tab label="Received requests">
       <md-content>
         <h3>Received requests</h3>
         <p><my-tasks></my-tasks></p>
       </md-content>
     </md-tab>
     <md-tab label="Pending requests">
       <md-content>
         <h3>Pending requests</h3>
         <p><my-pending-tasks></my-pending-tasks></p>
       </md-content>
     </md-tab>
     <md-tab label="Completed requests">
       <md-content>
         <h3>Completed requests</h3>
         <p><my-completed-tasks></my-completed-tasks></p>
       </md-content>
     </md-tab>
   </md-tabs>
 </md-content>


    </div>
</div>
