<div>
	<div style="font-size:10px;color:#777">MEETING</div>
	<div class="truncate">
		<a  ng-href="{{fixUrl(document.url_ss[0])}}">{{document.symbol_s}}</a>
	</div>
	<div style="font-size:13px;margin:2px 0">{{document.title_t}}</div>
	<div>
		<i style="color:#ccc" class="fa fa-calendar-o"></i> <span style="font-size:12px;color:#444">{{formatDate(document.startDate_s)}} to {{formatDate(document.endDate_s)}}</span>
		&nbsp; &nbsp;
		<i style="color:#ccc" class="fa fa-map-marker"></i> <span style="font-size:12px;color:#444">{{document.eventCity_EN_t}}, {{document.eventCountry_EN_t}}</span>
	</div>
	<div ng-if="document.meeting_ss">
		<i class="fa fa-tag"></i>
		<span ng-repeat="meeting in document.meeting_ss" class="label label-info" style="margin-right:4px">{{meeting}}</span>
	</div>
	<div class="clearfix"></div>
</div>
