<div>
	<div style="font-size:10px;color:#777">ANNOUNCEMENT | SCBD</div>
	<div class="truncatex boldHeader" >
		<span style="color:#337ab7">{{document.symbol_s}}</span>
	</div>
	<div >{{document.title_t}}</div>
	<div style="font-size:13px;margin-top:2px">{{document.description_t}}</div>
	<div>
		<i style="color:#ccc" class="fa fa-rss"></i> <span style="font-size:12px">Sent on {{formatDate(document.date_dt)}}</span>
	</div>
	<div>
		<a ng-show="document.url_ss[0]"  ng-href="http://www.cbd.int{{fixUrl(document.url_ss[0])}}">http://www.cbd.int{{fixUrl(document.url_ss[0])}}</a>
	</div>
	<div ng-if="document.meeting_ss">
		<i class="fa fa-tag"></i>
		<span ng-repeat="meeting in document.meeting_ss" class="label label-info" style="margin-right:4px">{{meeting}}</span>
	</div>
	<div class="clearfix"></div>
</div>
