<div>
	<div style="font-size:10px;color:#777">STATEMENT | SCBD</div>
	<div class="truncatex boldHeader">
		{{document.symbol_s}}<br>
		{{cleanTitle(document.title_t)}}
	</div>
	<div style="font-size:13px;margin-top:2px">{{document.description_t}}</div>
	<div>
		<i style="color:#ccc" class="fa fa-map-marker"></i> <span style="font-size:12px;color:#444">Montreal, {{formatDate(document.date_dt)}}</span>
		<!-- &nbsp; &nbsp;
		<i style="color:#ccc" class="fa fa-microphone"></i> <span style="font-size:12px;color:#444">Mr. Braulio Ferreira de Souza Dias, CBD Executive Secretary</span> -->
	</div>
	<div>
<a translation-url ng-show="document.url_ss[0]" target="_blank" ng-href="{{document.url_ss[0]}}">{{document.url_ss[0]}}</a>
	</div>
	<div ng-if="document.meeting_ss">
		<i class="fa fa-tag"></i>
		<span ng-repeat="meeting in document.meeting_ss" class="label label-info" style="margin-right:4px">{{meeting}}</span>
	</div>
	<div class="clearfix"></div>
</div>
