<li class="list-group-item" style="cursor:pointer;">
	<div data-toggle="modal" href="#dialogSelectSchemas" ng-class="{false:'not', true:'x'}[expanded]"><strong>{{title}}</strong></div>
	<div class="list-group-item-expand">
		<div ng-repeat="item in terms | orderBy:'title' | filter:{selected:true}" ng-click="refresh(this,true)">
			<div class="label label-selected-facet" ng-show="(item.selected && item.count) || (item.selected && !item.count && !count)  " >
				<div style="position:absolute;right:6px;top:6px" class="fa fa-remove"></div>
					<div class="truncate">
						({{item.count}}) {{item.title}}
					</div>
			</div>
		</div>
	<div>
	<!--Save Dialog-->
	<div id="dialogSelectSchemas" class="modal fade">
		<div class="modal-dialog"><!--  ;margin-left:-380px"  -->
			<div class="modal-content" style="width:640px">
				<div class="modal-body" style="padding-left:20px">
					<table class="options">
						<tr>
							<td style="width:360px" valign="top">
								<h4>News &amp; Announcements</h4>
								<div class="checkbox" ng-repeat="item in outreachRecords" ng-switch on="!!item.title">
									<div ng-show="termsModal.outreachRecords[$index].count"><label ng-switch-when="true"><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)" ng-disabled="!termsModal.outreachRecords[$index].count">{{item.title}} <span class="bg-blue badge">{{termsModal.outreachRecords[$index].count}}</span></label>
									<hr ng-switch-when="false" style="height:8px;margin:0;border:none"></div>
								</div>
								<h4 style="margin-top:20px">CBD </h4>
								<div class="checkbox" ng-repeat="item in copRecords" ng-switch on="!!item.title">
									<div ng-show="termsModal.copRecords[$index].count"><label ng-switch-when="true"><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)" ng-disabled="!termsModal.copRecords[$index].count">{{item.title}} <span class="bg-blue badge">{{termsModal.copRecords[$index].count}}</span></label>
									<hr ng-switch-when="false" style="height:8px;margin:0;border:none"></div>
								</div>
								<h4 style="margin-top:20px">Reference </h4>
								<div class="checkbox" ng-repeat="item in referenceRecords" ng-switch on="!!item.title">
									<div ng-show="termsModal.referenceRecords[$index].count"><label ng-switch-when="true"><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)" ng-disabled="!termsModal.referenceRecords[$index].count">{{item.title}} <span class="bg-blue badge">{{termsModal.referenceRecords[$index].count}}</span></label>
									<hr ng-switch-when="false" style="height:8px;margin:0;border:none"></div>
								</div>
							</td>
							<td style="width:360px" valign="top">
								<h4>CBD Meetings &amp; Outcomes</h4>
								<div class="checkbox" ng-repeat="item in meetingRecords" ng-switch on="!!item.title">
									<div ng-show="termsModal.meetingRecords[$index].count"><label ng-switch-when="true"><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)" ng-disabled="!termsModal.meetingRecords[$index].count">{{item.title}} <span class="bg-blue badge">{{termsModal.meetingRecords[$index].count}}</span></label>
									<hr ng-switch-when="false" style="height:8px;margin:0;border:none"></div>
								</div>
								<h4 style="margin-top:20px">National</h4>
								<div class="checkbox" ng-repeat="item in nationalRecords" ng-switch on="!!item.title">
									<div ng-show="termsModal.nationalRecords[$index].count"><label ng-switch-when="true"><input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-change="refresh(item)" ng-disabled="!termsModal.nationalRecords[$index].count">{{item.title}} <span class="bg-blue badge">{{termsModal.nationalRecords[$index].count}}</span></label>
									<hr ng-switch-when="false" style="height:8px;margin:0;border:none"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="modal-footer" style="text-align:left;">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<style>
	    .options .checkbox {
	    	min-height: 0;
	    }
    </style>
</li>
