<li class="list-group-item" style="cursor:pointer;">
	<div data-toggle="modal" href="#dialogSelectFacets" ng-class="{false:'not', true:'x'}[expanded]">
		<strong>{{title}}</strong>
	</div>
	<div class="list-group-item-expand">
		<div ng-repeat="item in termsArray | filter:{selected:true}" ng-click="refresh(this,true)">
			<div class="label label-selected-facet" ng-show="(item.selected && item.count) || (item.selected && !item.count && !count)">
				<div style="position:absolute;right:6px;top:6px" class="fa fa-remove"></div>
				<div class="truncate">
					({{item.count}}) {{item.name}}
				</div>
			</div>
		</div>
	</div>

	<style>
		.list-group-item .not:before {
			content: "\f054";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: #000;
			font-size: 18px;
			padding-right: 0.5em;
			position: absolute;
			top: 10px;
			right: 0;
		}
	</style>

	<div id="dialogSelectFacets" class="modal fade">
		<div class="modal-dialog">
			<!--  style="width:760px;margin-left:-380px"  -->
			<div class="modal-content" style="width:760px">
				<div class="modal-body" style="padding-left:20px">
					<div style="height:360px;overflow-y:auto">
						<div ng-repeat="item in termsArray">
							<div ng-if="!item.narrowerTerms && item.count" class="col-sm-6 col-sm-6 ">
								<div ng-show="!item.narrowerTerms && item.count" class="col-sm-6 col-sm-6" style="overflow: hidden;min-width: 3000px;">
									<label style="font-weight: normal;">
										<img style="height: 20px;  width: 20px;float:left; " ng-src="http://www.cbd.int/images/aichi/48/abt-{{item.identifier.substring(13)}}-48.png">
										<input type="checkbox" ng-model="item.selected" bind-indeterminate="item.indeterminate" ng-click="refresh(item)"> {{item.name}}
										<span class="bg-blue badge">{{item.count}}</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</li>
