<div>
	<div ng-repeat="locale in locales" class="input-block-level" ng-class="{ 'input-append' : isShowLocale() }" style="white-space:nowrap">
		<span ng-switch="rows">
			<input    ng-switch-when="1"         class="input-block-level" ng-required="isRequired()" ng-model="text[locale]" ng-change="onchange()" ng-disabled="ngDisabledFn()" placeholder="{{placeholder}}" type="text"/>
			<input    ng-switch-when="undefined" class="input-block-level" ng-required="isRequired()" ng-model="text[locale]" ng-change="onchange()" ng-disabled="ngDisabledFn()" placeholder="{{placeholder}}" type="text"/>
			<textarea ng-switch-default          class="input-block-level" ng-required="isRequired()" ng-model="text[locale]" ng-change="onchange()" ng-disabled="ngDisabledFn()" placeholder="{{placeholder}}" rows="{{rows}}" style="display:inline-block"></textarea>
		</span><span class="btn" ng-show="isShowLocale()" style="cursor:default">{{locale | uppercase }}</span>
	</div>
</div>
