<li class="list-group-item" style="cursor:pointer;">
	<div ng-click="actionExpand()" ng-class="{false:'not', true:'x'}[expanded]"><strong>{{title}}</strong></div>
	<div class="list-group-item-expand">
		<div ng-repeat="item in items | orderBy:'title' | filter:filterx" ng-class="ccc(item)" ng-click="actionSelect(item)">
			<div style="position:relative;text-overflow:ellipsis;white-space:nowrap;width:100%">
				<div style="float:right;font-size:9px;font-weight:bold;background-color:#ccc;border-radius:2px;margin-top:2px; margin-left:5px;padding:3px 6px 3px 6px;line-height:10px" ng-hide="selectedItems.length">{{item.count}}</div>
				<div style="float:right;margin-top:3px; margin-left:5px;" class="icon-remove-sign" ng-show="isSelected(item)"></div>
				{{item.title}}
			</div>
		</div>
	<div>
</li>
