<div id="submit" >




    <h3 class="container-fluid color-grey" style="border-top:1px solid #DDD;"><i class="fa fa-chevron-circle-down"></i>
        Online Reporting: Progress in Achieving National Targets</h3>

    <div class="container" >
        <div class="row">

            <table class="table table-striped" style="width:100%">
                <tr>
                    <th style="width:25%;text-align:left;">National Target</th>
                    <th style="width:25%;text-align:left;">Indicators</th>
                    <th style="width:25%;text-align:left;">Assessment</th>
                    <th style="width:25%;text-align:left;">Related Tools</th>
                    <th style="width:25%;text-align:left;">Related Activities</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <md-button class="md-raised md-primary">New Target</md-button>
                    </td>
                    <td>
                        <md-button  ng-disabled="true" class="md-raised md-primary color-blue">Add Indicators</md-button>
                    </td>
                    <td>
                        <md-button  ng-disabled="true" class="md-raised md-primary color-blue">Add Assessment</md-button>
                    </td>
                    <td>
                        <md-button  ng-disabled="true" class="md-raised md-primary color-blue">Add Tools</md-button>
                    </td>
                    <td>
                        <md-button  ng-disabled="true" class="md-raised md-primary color-blue">Add Activities</md-button>
                    </td>
                </tr>
            </table>


        </div>
    </div>


</div>
