
<div class="row">
    <div class="col-xs-3">
        <div class="register-facets"></div>
        <script src="/app/chm/directives/management/register-facets.partial.html.js"></script>
    </div>
    <div class="col-xs-9 my_well my_well-blue">
        <div class="edit-case-study"></div>
        <script src="/app/chm/directives/forms/form-case-study.js"></script>
        <script src="/app/chm/directives/views/view-case-study.js"></script>
        <script src="/app/chm/directives/views/view-contact.js"></script>
        <script src="/app/chm/directives/views/view-organization.js"></script>
    </div>
</div>
