<div class="home-bottom" style="position:relative">
    <div class="container main" id="main" style="padding-top:6px">
      	<div class="row top">
      		<!-- <h1>Implementation Activity</h1>	 -->
          	<div class="edit-implementation-activity"></div>
      	</div>
  	</div>
  	<script src="/app/chm/directives/forms/form-implementation-activity.js"></script>
  	<script src="/app/chm/directives/views/view-implementation-activity.js"></script>
 	<script src="/app/chm/directives/views/view-organization.js"></script>  	
</div>