<div class="home-bottom" style="position:relative">
    <div class="container main" id="main" style="padding-top:6px">
      	<div class="row top">
      		<!-- <h1>Implementation Activity</h1>	 -->
          	<div class="chm-edit-implementation-activity"></div>
      	</div>
  	</div>
  	<script src="/app/chm/reporting/edit/edit-implementation-activity.js"></script>
  	<script src="/app/js/directives/commonFormats/view/view-form-loader.js"></script>
  	<script src="/app/chm/reporting/view/view-implementation-activity.js"></script>
  	<script src="/app/chm/reporting/view/view-national-indicator.js"></script>
  	<script src="/app/chm/reporting/view/view-national-report.js"></script>
  	<script src="/app/chm/reporting/view/view-national-target.js"></script>
  	<script src="/app/chm/reporting/view/view-progress-assessment.js"></script>  	
</div>