<div class="home-bottom" style="position:relative">
    <div class=" main" id="main" style="padding-top:6px">
      	<div class=" top">
      		  <!-- <h1>National Report</h1>	 -->
          	<div class="edit-national-report"></div>
      	</div>
  	</div>
  	<script src="/app/chm/directives/forms/form-national-report.js"></script>
  	<script src="/app/chm/directives/views/view-national-report.js"></script>
    <link rel="stylesheet" type="text/css" href="/app/libs/angularStrap/0.7.4/datepicker/bootstrap-datepicker.css">
</div>