<div>
	<legend>{{document.prefix | lstring:locale}} {{document.firstName}} {{document.middleName}} {{document.lastName}}</legend>
	<div class="km-value">
		<div><strong>{{document.organization | lstring:locale}}</strong> <i ng-show="document.organizationAcronym">({{document.organizationAcronym | lstring:locale}})</i></div>
		<div>{{document.designation | lstring:locale}}</div>
		<div>{{document.department | lstring:locale}}</div>
	</div>

	<legend>Contact Coordinates</legend>

	<label>Address</label>
	<address class="km-value">
		<div class="km-pre">{{document.address | lstring:locale}}</div>
		{{document.city | lstring:locale}}<span ng-show="document.city">, </span>
		{{document.state | lstring:locale}}<br ng-show="document.city || document.state" />
		{{document.postalCode | lstring:locale}}<span ng-show="document.postalCode">, </span>
		<b km-terms ng-model="document.country">
			<span ng-repeat="term in terms">{{term.name}}</span>
		</b>
	</address>

	<label>Phone numbers</label>
	<ul class="km-value">
		<li ng-repeat="item in document.phones">{{item}}</li>
	</ul>

	<div ng-show="document.faxes">
		<label>Fax Numbers</label>
		<ul class="km-value">
			<li ng-repeat="item in document.faxes">{{item}}</li>
		</ul>
	</div>

	<div ng-show="document.emails">
		<label>Emails</label>
		<ul class="km-value">
			<li ng-repeat="item in document.emails"><a ng-href="mailto:{{item}}">{{item}}</a></li>
		</ul>
	</div>

	<div ng-show="document.websites">
		<label>Web Sites</label>
		<ul class="km-value">
			<li ng-repeat="item in document.websites">
				<a target="_blank" ng-href="{{item.url}}">{{item.name||item.url}}</a>
				<i ng-show="item.name">({{item.url}})</i>
			</li>
		</ul>
	</div>

	<div ng-show="document.organizationType">
		<label>Type of organization</label>
		<ul km-terms ng-model="document.organizationType" class="km-value">
			<li ng-repeat="term in terms">{{term.name}}</li>
		</ul>
	</div>

	<div ng-show="document.relevantInformation||document.relevantDocuments">
		<legend>Additional Information</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html-unsafe="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>Other relevant website address or attached documents</label>
			<ul class="km-value">
				<li ng-repeat="item in document.relevantDocuments"><a target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></li>
			</ul>
		</div>
	</div>


</div>
