<div>
<div class="container-fluid" style="padding:20px 0 20px 0;margin:0 0 30px 0;border-bottom:1px solid #ddd;">
    <div class="container">
    <div class="row">
        <div class="col-xs-12" ng-class="{'col-md-8':!user.isAuthenticated}">
                 <h1 class="color-grey3">
                        The Clearing-House Mechanism of the Convention on Biological Diversity (CHM)
                </h1>
                <h2 class="color-grey">Information Submission Services</span>

                </h2>

                <!--<hr>
                <h3 class="color-cbdgreen">Find Information</h3>
                 <form ng-submit="doSearch()" style="display:inline;" >
                        <div class="input-group" >
                            <input type="text" class="form-control" ng-model="searchQuery" placeholder="Search the CHM">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                </form> -->

                <!-- <hr>
                <div ng-show="user.isAuthenticated">
                    <h3 class="color-cbdgreen">Submit information</h3>

                    <div class="row">
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Online Reporting</a></div>
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Financial Reporting</a></div>
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">ABS Information</a></div>
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">BCH Information</a></div>
                        <div class="clearfix"></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Virtual Library Resources</a></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Case Studies</a></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Biodiversity Related Organizations</a></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">EBSAs</a></div>
                    </div>

                </div> -->

        </div>

        <div ng-hide="user.isAuthenticated">
        <div class="col-md-4 col-xs-12" >

                <h2 class="color-blue"> Sign in</h2>
                <form ng-submit="signIn()">

                    <div class="alert alert-danger" ng-show="isUnavailable">
                        <strong>Operation failed.</strong>
                        The service is not available. Please try again later.
                    </div>

                    <div class="alert alert-danger" ng-show="isForbidden">
                        <strong>Login failed.</strong>
                        The email address and password combination you entered is incorrect.
                    </div>

                    <div class="input-group" style="margin-bottom:8px">
                        <span class="input-group-addon"><i class="fa fa-envelope" style="margin-right:-3px"></i></span>
                        <input type="text" class="form-control" id="inputEmail" required ng-model="email" placeholder="registered email address">
                    </div>

                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock" style="font-size:16px"></i></span>
                                <input type="password" required class="form-control" id="inputPassword" ng-model="password" placeholder="password">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 form-group">
                            <div style="position:relative;left:-16px;"><button type="submit" class="btn btn-primary">Sign in</button></div>
                        </div>
                    </div>

                    <div class="remember-forgot" style="font-size:12px">
                        <!--<label class="remember">
                            <input type="checkbox" value="1" name="remember_me" checked="checked">&nbsp;
                            <span>Remember me</span>
                        </label>
                        <span class="separator">·</span>-->
                        <a translation-url class="forgot" href="https://accounts.cbd.int/password/reset">Forgot password?</a>
                        <span class="separator">&nbsp;|&nbsp;</span>
                        <a translation-url class="signup" href="https://accounts.cbd.int/signup">Sign up?</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>




<div class="container">
    <div class="row">
        <!-- <div class="col-xs-12"><h1 class="color-litegrey"> What is the Clearing-House Mechanism of the CBD?</h1></div> -->
        <div class="clearfix"></div>
        <div class="col-md-4" style="padding-top:30px;">
            <div class="box">
              <h3>CBD Online Reporting Tool</h3>
              <p class="color-grey" style="height:130px;vertical-align:middle!important;">The CBD online reporting tool enables Parties to enter, review and, when appropriate, submit information requested in the guidelines for the sixth national report (decision XIII/27). </p>
              <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('/submit/nationalReport6/', 'nationalReport6')">Go to CBD online reporting tool »</md-button></p>

            </div>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
          <h3>Financial Reporting Framework</h3>
          <p class="color-grey"  style="height:130px;vertical-align:middle!important;">The financial reporting framework, adopted by decision XII/3, is intended for use by Parties for providing baseline information and reporting on their contribution to reach the global financial targets, under Aichi Biodiversity Target 20, as adopted by the Conference of the Parties to the Convention at its twelfth meeting, in accordance with Article 20.</p>
          <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('/submit/online-reporting/resourceMobilisation')">Submit Report »</md-button></p>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
          <h3>CBD's Virtual Library</h3>
          <p  class="color-grey" style="height:130px;vertical-align:middle!important;">The Virtual Library hosts a wide variety of resources relevant to the implementation of the CBD and it's protocols, including books, documents, capacity-building materials, meeting or conference proceedings, videos, news services, websites and databases, and others.</p>
          <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('/submit/resource')">Contribute »</md-button></p>
        </div>
    </div>

     <div class="row">
        <!-- <div class="col-xs-12"><h1 class="color-litegrey"> What is the Clearing-House Mechanism of the CBD?</h1></div> -->
        <div class="clearfix"></div>
        <div class="col-md-4" style="padding-top:30px;">
            <div class="box">
              <h3>ABS Clearing-House</h3>
              <p class="color-grey" style="height:130px;vertical-align:middle!important;">In decision X/2, the Conference of the Parties adopted the Strategic Plan for Biodiversity (2011-2020) and urged Parties and other Governments to develop national and regional targets in the framework of the Aichi Biodiversity Targets.</p>
              <p ng-show="test_env"><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('https://training-absch.cbd.int')">Go to the ABS-CH »</md-button></p>
              <p ng-hide="test_env"><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('https://absch.cbd.int')">Go to the ABS-CH »</md-button></p>

            </div>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
          <h3>BCH Clearing-House</h3>
          <p class="color-grey"  style="height:130px;vertical-align:middle!important;">The financial reporting framework, adopted by decision XII/3, is intended for use by Parties for providing baseline information and reporting on their contribution to reach the global financial targets, under Aichi Biodiversity Target 20, as adopted by the Conference of the Parties to the Convention at its twelfth meeting, in accordance with Article 20.</p>
          <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('http://bch.cbd.int')">Go to the BCH <i class="fa fa-angle-double-right"></i></md-button></p>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
          <h3>Case Studies</h3>
          <p  class="color-grey" style="height:130px;vertical-align:middle!important;">Case Studies are an important source of information and knowledge for Parties and various stakeholders to the Convention on Biological Diversity. Feedback and additional submissions by interested partners are welcome.</p>
          <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('/submit/caseStudy')">Contribute <i class="fa fa-angle-double-right"></i></md-button></p>
        </div>
    </div>

</div>

<br><br><br>






    <!-- <div class="home-bottom" style="position:relative">
        <div class="row main" id="main" style="padding-top:6px">
            <div class="col-lg-3 hidden-md hidden-sm hidden-xs" style="padding-top:20px;padding-bottom:20px;">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/starfish.jpg');background-size:320px">
                    <h1 style="margin-bottom:0px;color:white">Marine</h1>
                    <h1 style="margin-top:-10px;color:white;font-size:72px">EBSAs.</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 hidden-xs" style="padding-top:20px;padding-bottom:20px">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/background-world.jpg');-webkit-filter: saturate(60%);background-size:320px">
                    <h1 style="color:black;margin-bottom:0">National Biodiversity Strategies and<br> Action Plans</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 hidden-sm hidden-xs" style="padding-top:20px;padding-bottom:20px">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/background-blue.jpg');background-size:320px;">
                    <h5 style="margin-top:4px;margin-bottom:0px;color:white;font-size:12px">INTEROPERABILITY</h5>
                    <h1 style="margin-top:0px;color:white">Introducing <span style="font-size:140%">REST API.</span></h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="padding-top:20px;padding-bottom:20px;padding-left:5px;">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/leaves.jpg');background-size:320px;border:1px solid #ccc">
                    <h1 style="margin-bottom:10px;line-height:38px"><b>Resource</b> <span style="font-size:110%">Mobilization</span><h1>
                    <div style="margin-top:-30px;font-size:72px">
                    <i class="fa fa-caret-right" style="margin-right:-14px"></i>
                    <i class="fa fa-caret-right" style="margin-right:-14px"></i>
                    <i class="fa fa-caret-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!--
<div class="container">
        <div class="row">
            <div class="col-xs-12"><h1 class="color-litegrey">Latest Information</h1></div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-xs-12">
                <h3>News</h3>
                <news theme="CHM" max-items="3" page-size="5" show-pager="true" sort-order="date_dt desc">
                    {{title}}
                </news>
            </div>

            <div class="col-md-6 col-xs-12">
                <h3>Meetings</h3>
                <meetings theme="CHM" max-items="5" page-size="5" show-pager="false" sort-order="dateStart_dt desc">
                    {{title}}
                </meetings>
            </div>

        </div>
    </div> -->
</div>
