<div class="row main" id="main">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div style="padding-top:25px">
            <h1 >
                Share knowledge to promote and facilitate technical and scientific cooperation
            </h1>
            <h2 >
                Clearing-House Mechanism of the Convention on Biological Diversity
            </h2>
        </div>
    </div>
    <div ng-hide="user.isAuthenticated">
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs" style="padding-top:30px;padding-bottom:30px;padding-left:10px">
        <div style="margin-top:20px;margin-bottom:20px;border-radius:4px;padding:24px 20px 10px 20px; background-color:#FAFAFA">

            <form ng-submit="signIn()">

                <div class="input-group" style="margin-bottom:8px">
                    <span class="input-group-addon"><i class="fa fa-envelope" style="margin-right:-3px"></i></span>
                    <input type="text" class="form-control" id="inputEmail" required ng-model="email" placeholder="registered email address">
                </div>

                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock" style="font-size:16px"></i></span>
                            <input type="password" required class="form-control" id="inputPassword" ng-model="password" placeholder="password">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 form-group">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </div>

                <div class="remember-forgot" style="font-size:12px">
                    <label class="remember">
                        <input type="checkbox" value="1" name="remember_me" checked="checked">&nbsp;
                        <span>Remember me</span>
                    </label>
                    <span class="separator">·</span>
                    <a class="forgot" href="https://accounts.cbd.int/password/reset">Forgot password?</a>
                </div>
                
            </form>
        </div>
    </div>
    </div>
</div>
<div class="home-bottom" style="position:relative">
    <div class="row main" id="main" style="padding-top:6px">
        <div class="col-lg-3 hidden-md hidden-sm hidden-xs" style="padding-top:20px;padding-bottom:20px;">
            <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/starfish.jpg');background-size:320px">
                <h1 style="margin-bottom:0px;color:white">Marine</h1>
                <h1 style="margin-top:-10px;color:white;font-size:72px">EBSAs.</h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 hidden-xs" style="padding-top:20px;padding-bottom:20px">
            <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/background-world.jpg');-webkit-filter: saturate(60%);background-size:320px">
                <h1 style="color:black;margin-bottom:0">National Strategies and<br> Action Plans</h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 hidden-sm hidden-xs" style="padding-top:20px;padding-bottom:20px">
            <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/background-blue.png');background-size:320px;">
                <h5 style="margin-top:4px;margin-bottom:0px;color:white;font-size:12px">INTEROPERABILITY</h5>
                <h1 style="margin-top:0px;color:white">Introducing <span style="font-size:140%">REST API.</span></h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="padding-top:20px;padding-bottom:20px;padding-left:5px;">
            <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/leaves.jpg');background-size:320px;border:1px solid #ccc">
                <h1 style="margin-bottom:10px;line-height:38px"><b>Resource</b> <span style="font-size:110%">Mobilization</span><h1>
                <div style="margin-top:-30px;font-size:72px">
                <i class="icon-caret-right" style="margin-right:-14px"></i>
                <i class="icon-caret-right" style="margin-right:-14px"></i>
                <i class="icon-caret-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-bottom" style="position:relative">
    <div class="main" id="secondary">
        <div class="col-lg-5 col-md-5 col-sm-5 body-content">
            <h3>News</h3>
            <div class="news" cms-params="{&quot;theme&quot;:&quot;CHM&quot;,&quot;maxItems&quot;:3,&quot;pageSize&quot;:5,&quot;showPager&quot;:true,&quot;fullListUrl&quot;:&quot;/database/news&quot;,&quot;sortOrder&quot;:&quot;date_dt desc&quot;}">
                {{title}}
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 body-content">
            <h3>Latest Meetings</h3>
            <div class="meetings" contentid="45877" cms-params="{&quot;theme&quot;:&quot;CHM&quot;,&quot;maxItems&quot;:5,&quot;pageSize&quot;:5,&quot;showPager&quot;:false,&quot;fullListUrl&quot;:&quot;/database/meetings&quot;,&quot;sortOrder&quot;:&quot;dateStart_dt desc&quot;,&quot;filterQuery&quot;:&quot;dateStart_dt:[NOW TO *]&quot;}">
                {{title}}
            </div>
            <ul></ul>
        </div>
    </div>
</div>
<script src="/app/chm/directives/module-news.js"></script>
<script src="/app/chm/directives/module-meetings.js"></script>
