<div class="container">
	<style>
		.ellipsis {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		
		.numberCircle {
			-webkit-border-radius: 999px;
			-moz-border-radius: 999px;
			border-radius: 999px;
			behavior: url(PIE.htc);
			width: 48px;
			height: 48px;
			padding: 4px;
			background: #6495ED;
			color: #fff;
			display: inline-block;
			font: 32px "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeueW01-45Ligh", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		}
		
		.name {
			color: #222;
			font-size: 10px;
			font-weight: bold;
			margin-top: 6px;
			text-transform: uppercase;
		}
		
		.panel-header,
		.section .section-header {
			border-bottom: 1px solid #ddd;
			padding-left: 10px;
			padding-right: 10px;
		}
		
		.help-block {
			text-align: justify;
		}
		
		.panelMain .panel-body {
			padding: 0px
		}
		
		.mainHeading,
		.section .section-body {
			padding: 15px!important;
		}
		
		.section .section-header {
			border-top: 1px solid #ddd;
			background-color: #ddd;
		}
		
		.search-results {
			padding-top: 10px!important;
			background-color: #eee;
		}
		
		.search-container .panel.panel-default {
			border-color: #f1f5fc;
		}
		
		.search-container .panel {
			position: relative;
			background: #fff;
		}
		
		.search-container .search-header {
			padding-bottom: 5px;
			border-bottom: 1px solid #f1f5fc;
		}
		
		.search-container .text-muted {
			color: #777;
		}
		
		.search-container .m-top-sm {
			margin-top: 10px;
		}
		.search-filter {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ddd;
			box-shadow: 0 1px 0 0 #fff;
		}
		.search-filter ul, .metadata ul {
			padding: 0;
			margin: 0;
		}
		.search-filter ul li, .metadata ul li {
			display: inline-block;
			margin-right: 10px;
		}
		.active-filter a {
			background: #337ab7;
			border: 1px solid #337ab7;
			border-radius: 4px;
			padding:10px 15px;
			color: #fff;
		}
	</style>
	<br/>
	<div class="panel panel-default bg-litegrey">
		<div class="panel-header bg-darkgrey">
			<h2 style="margin-top:0px;color:#fff">Country Profile</h2>
		</div>
		<div class="col-sm-offset-3 col-sm-9 text-right" style="position:absolute">
			<img src="/app/images/maps/{{country.code.toLowerCase()}}.svg" style="opacity:0.06">
		</div>
		<div class="panel-body">
			<div class="panel panel-default panelMain">
				<div class="panel-header">
					<h1><i class="flag-icon flag-icon-{{country.code.toLowerCase()}}"></i> 
						<strong class="ng-binding"> {{country.name.en}} </strong>
					</h1>
				</div>
				<div class="panel-body">
					<div class="row  mainHeading">
						<div class="col-xs-12">
							<div class=" bg-white cp-header" style="padding: 19px;">
								<div class="list-group col-xs-3" ng-repeat="treaty in country.treaties">
									<a href="#" class="list-group-item active">
										<h4 class="list-group-item-heading">{{treaty.name}}</h4>
									</a>
									<a href="#" class="list-group-item ">
										<label>Party Status:</label>
										<span class="color-party bold ng-scope">
											<span class="color-grey bold ng-binding" ng-if="treaty.deposit">Party</span>
										<span class="color-grey bold ng-binding" ng-if="!treaty.deposit">Non Party</span>
										</span>
									</a>
									<a href="#" class="list-group-item ">
										<label>Deposit:</label>
										<span class="color-grey bold ng-binding">{{treaty.deposit}}</span>
									</a>
									<!--<a href="#" class="list-group-item ">
										<label><span style="text-transform:capitalize;" class="ng-binding">approval</span> on:</label>
										<span class="color-grey bold ng-binding">16 May 2014</span>
									</a>-->
									<a href="#" class="list-group-item ">
										<label>Signatory:</label>
										<span class="color-grey bold ng-binding" ng-if="treaty.signature">{{treaty.signature}}</span>
										<span class="color-grey bold ng-binding" ng-if="!treaty.signature">Non signatory</span>
									</a>
								</div>

								<!--<div style="white-space:nowrap;overflow-x:hidden;margin-bottom:5px;">
									<label>CBD Country Profile:</label>
									<a translation-url="" href="https://www.cbd.int/countries/?country=eu" target="_new" class="ng-binding"> www.cbd.int/countries/?country=eu </a>
								</div>-->

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6" style="padding-left:0px;padding-right:5px">
				<div class="panel-body" style="padding:0px">
					<div class="panel panel-default panelMain">
						<div class="panel-header">
							<h3>Biodiversity Facts</h3>
						</div>
						<div class="panel-body">
							<div class="row  mainHeading">
								<div class="col-md-12">
									<div style="height:430px;overflow-y:scroll">
										<strong>Status and trends of biodiversity, including benefits from biodiversity and ecosystem services</strong>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6" style="padding-right:0px;padding-left:5px">
				<div class="panel-body" style="padding:0px">
					<div class="panel panel-default panelMain">
						<div class="panel-header">
							<h3>National Biodiversity Strategy Action Plan</h3>
						</div>
						<div class="panel-body">
							<div class="row  mainHeading">
								<div class="col-md-12">
									<div style="height:120px;overflow-y:scroll">
										<strong>Major features of National Biodiversity Strategy and Action Plan</strong>
										
									</div>
									<div class="row" style="margin-top:12px">
										<div class="col-lg-7 col-md-7 col-sm-12">
											<div class="row text-center">
												<!--<div class="col-sm-3">
													<div class="numberCircle">8</div>
													<div class="name">Targets</div>
												</div>
												<div class="col-sm-3">
													<div class="numberCircle">4</div>
													<div class="name">Indicators</div>
												</div>
												<div class="col-sm-3">
													<div class="numberCircle">2</div>
													<div class="name">Assessments</div>
												</div>
												<div class="col-sm-3">
													<div class="numberCircle">1</div>
													<div class="name">Activity</div>
												</div>-->
											</div>
										</div>
										<div class="col-lg-5 col-md-5 col-sm-12" style="padding-top:14px">
											<!--Jump to &nbsp;<a translation-url href="/management/register" class="getstarted">Reporting</a>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body" style="padding:0px">
					<div class="panel panel-default panelMain">
						<div class="panel-header">
							<h3>Implementation of the Convention</h3>
						</div>
						<div class="panel-body">
							<div class="row  mainHeading">
								<div class="col-md-12">
									<div style="height:120px;overflow-y:scroll">
										<strong>Measures Taken to Achieve the 2010 Target</strong>
										<p></p>
										<strong>Initiatives in Protected Areas</strong>
										<strong>Initiatives for Article 8(j)</strong>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="col-sm-12" style="padding-right:0px;padding-left:0px">
				<div class="panel panel-default panelMain">
					<div class="panel-header">
						<h1>National Focal Points
						</h1>
					</div>
					<div class="panel-body">
						<div class="row  mainHeading">
							<div class="col-xs-3" style="border: 1px solid #eee;margin: 5px;" ng-repeat="focalpoint in records|filter:{schema_s:'focalPoint'}">
								<div class="row">
									<div class="col-xlg-12" style="padding-left:5px">
										<div class="panel no-border  no-margin">
											<div>
												<strong>{{focalpoint.title|lstring:locale}}</strong>
												
											</div>
											<hr class="no-margin" />
											<div class="panel-body">
											<div>
												<span class="label label-primary " style="margin-right:2px" 
												ng-repeat="ctg in focalpoint.ctgList_ss">{{ctg}}</span>
											</div>
											<address>														
													<span style="white-space: pre-line;word-wrap: break-word" ng-bind-html="focalpoint.description_t"></span>
													<br>
													<span>{{focalpoint.addressCountry_s}}</span>
													
													<!--<abbr title="Phone">P:</abbr> +41 31 322 11 63<br>
													<abbr title="Fax">F:</abbr>+41 31 323 03 49<br>
													<a>andreas.obrecht@bafu.admin.ch</a>-->
													<br>
													<span>
														<a style="white-space: pre-line;word-wrap: break-word" href="{{url}}" ng-repeat="url in focalpoint.url_ss">{{url}}</a>
													</span>
												</address>
										</div></div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br>
			<div class="col-sm-12" style="padding-right:0px;padding-left:0px">
				<div class="panel panel-default panelMain">
					<div class="panel-header">
						<h1>Country Records
						</h1>
					</div>
					<div class="panel-body search-results">
						<div style="padding:10px;">							
							<div class="search-filter">
								<ul>
									<li class="active-filter"><a href="#">All</a></li>
									<li><a href="#">CHM</a></li>
									<li><a href="#">ABS</a></li>
									<li><a href="#">BCH</a></li>
								</ul>
							</div>
							<div class="input-group m-bottom-md">
								<input type="text" class="form-control" placeholder="Search here...">
								<span class="input-group-btn">
									<button class="btn btn-danger" type="button">Search</button>
								</span>
							</div>
						</div>
						<hr style="border-bottom: 1px solid #ddd;">
						<div style="padding:10px;" ng-repeat="record in records|filter:{schema_s:'!focalPoint'}">
							<div class="search-container">
								<div class="panel panel-default">
									<div class="panel-body" style="padding:5px;">
										<div class="search-header">
											<a href="#" class="h4 inline-block">{{record.title_t}}</a>
											<span class="pull-right label label-primary">{{record.schema_EN_t}}</span>
											<!--<div class="text-muted">www.someExample.com/search/blog</div>-->
										</div>
										<p class="m-top-sm">{{record.description}}</p>
										<div class="col-xs-10" style="padding-left: 0px;">
											<div style="padding-top:0;margin-top:0;" class="metadata">
												<ul>
													<li class="label label-info" ng-if="record.uniqueIdentifier_s" >
														<span>{{record.uniqueIdentifier_s|uppercase}}</span>
													</li>
													<li class="hidden-xs" ng-if="record.rec_meta1 && record.schema_s !=='database'"  id="meta1">
														<span ng-if="record.schema_s ==='absCheckpointCommunique'" style="color:#666!important;" >CHECKPOINT:</span>
														<span class="label label-info"  ng-repeat="meta in record.rec_meta1">{{meta}}{{$last ? '':', '}}</span>
													</li>
													<li class="hidden-xs" ng-if="record.rec_meta2 && record.schema_s !=='absPermit'" id="meta2" >
														<span ng-if="record.schema_s ==='absCheckpointCommunique'" style="color:#666!important;" >SOURCE:</span>
														<span class="label label-info" ng-repeat="meta in record.rec_meta2">{{meta}}{{$last ? '':', '}}</span>
													</li>
													<li class="hidden-xs" ng-if="record.rec_meta3" id="meta3">
														<span class="label label-info" ng-repeat="meta in record.rec_meta3" ng-class="{'color-red':meta==='Revoked'}">{{meta}}{{$last ? '':', '}}</span>
													</li>
													<li class="hidden-xs" ng-if="record.rec_meta5" id="meta5">
														<span class="label label-info" ng-repeat="meta in record.rec_meta5">{{meta}}</span>
													</li>
													<li class="hidden-xs" ng-if="record.rec_meta4" id="meta4">
														<span  class="label label-info" ng-repeat="meta in record.rec_meta4">{{meta}}</span>
													</li>
													<li>
														<span class="label label-info last-span">{{record.rec_date | formatDate}}</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-xs-2" style="padding-right: 0px;">
											<div class="text-right">
												<a class="btn btn-sm btn-danger" ng-href="{{record.url_ss[0]}}" target="_blank"><i class="fa fa-search fa-lg"></i> view</a>
											</div>
										</div>
									</div>
								</div>
								<!-- /panel -->
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>