<div class="home-bottom" style="position:relative">
    <div class="container main" id="main" style="padding-top:6px">
      	<div class="row top">
      		<div class="search"></div>
      	</div>
  	</div>
  	<script src="/app/chm/directives/search/search.js" type="text/javascript"></script>
    <script src="/app/chm/directives/search/search-filter-keywords.js" type="text/javascript"></script>
    <script src="/app/chm/directives/search/search-filter-schemas.js" type="text/javascript"></script>
  	<script src="/app/chm/directives/search/search-filter-countries.js" type="text/javascript"></script>
  	<script src="/app/chm/directives/search/search-filter-regions.js" type="text/javascript"></script>
    <script src="/app/chm/directives/search/search-filter-facets.js" type="text/javascript"></script>
    <script src="/app/chm/directives/search/search-filter-themes.js" type="text/javascript"></script>
</div>