<div class="home-bottom" style="position:relative">
    <div >
      	<div class="top">
          	<div class="cbd-View-Form-Loader" link-target="_self"></div>
      	</div>
  	</div>
  	<script src="/app/chm/directives/views/view-form-loader.js"></script>

    <script src="/app/chm/directives/views/view-aichi-target.js"></script>
    <script src="/app/chm/directives/views/view-case-study.js"></script>
    <script src="/app/chm/directives/views/view-contact.js"></script>
    <script src="/app/chm/directives/views/view-database.js"></script>
    <script src="/app/chm/directives/views/view-implementation-activity.js"></script>
    <script src="/app/chm/directives/views/view-library-resource.js"></script>
    <script src="/app/chm/directives/views/view-marine-ebsa.js"></script>
    <script src="/app/chm/directives/views/view-national-indicator.js"></script>
    <script src="/app/chm/directives/views/view-national-report.js"></script>
    <script src="/app/chm/directives/views/view-national-target.js"></script>
    <script src="/app/chm/directives/views/view-organization.js"></script>
    <script src="/app/chm/directives/views/view-progress-assessment.js"></script>
    <script src="/app/chm/directives/views/view-resource.js"></script>
    <script src="/app/chm/directives/views/view-resource-mobilisation.js"></script>
    <script src="/app/chm/directives/views/view-national-support-tool.js"></script>
    <script src="/app/chm/directives/views/view-strategic-plan-indicator.js"></script>
</div>
