<div class="home-bottom" style="position:relative">
    <div class="container main" id="main" style="padding-top:6px">
      	<div class="row top">
          	<div class="cbd-View-Form-Loader"></div>
      	</div>
  	</div>
  	<script src="/app/chm/directives/views/view-form-loader.js"></script>

    <script src="/app/chm/directives/views/view-aichiTarget.js"></script>
    <script src="/app/chm/directives/views/view-authority.js"></script>
    <script src="/app/chm/directives/views/view-contact.js"></script>
    <script src="/app/chm/directives/views/view-database.js"></script>
    <script src="/app/chm/directives/views/view-form-loader.js"></script>
    <script src="/app/chm/directives/views/view-implementation-activity.js"></script>
    <script src="/app/chm/directives/views/view-library-resource.js"></script>
    <script src="/app/chm/directives/views/view-marineEbsa.js"></script>
    <script src="/app/chm/directives/views/view-measure.js"></script>
    <script src="/app/chm/directives/views/view-national-indicator.js"></script>
    <script src="/app/chm/directives/views/view-national-report.js"></script>
    <script src="/app/chm/directives/views/view-national-target.js"></script>
    <script src="/app/chm/directives/views/view-organization.js"></script>
    <script src="/app/chm/directives/views/view-progress-assessment.js"></script>
    <script src="/app/chm/directives/views/view-resource.js"></script>
</div>


    