<div class="container">
	<div class="alert alert-danger" ng-cloak ng-show="error">
		<strong>Error as occured...</strong>
		<div>{{error}}</div>
	</div>

	<div ng-show="status=='loading'"><em>Loading...</em></div>
	
	<div ng-hide="status=='hidden'||status=='loading'">
		</br></br>
		<form name="editForm">
			<div class="row form-group">
				<div  class="row">
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<label>Password</label>
						<input type="password" id="password" class="form-control" name="password" ng-change="updateComplexity()" ng-model="document.password"/>
					</div>
					<div id="progressbar" class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<label>Strength</label>
						<div id="progress" class="progressbarValid" style="width: 0%;"></div>
					</div>
				</div>
				<div  class="row">
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<label>Confirmation</label>
						<input type="password" class="form-control" name="password" ng-model="document.confirmation" required />
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<button type="button" ng-click="onPostChangePassword()" class="btn btn-info">Change</button>
					</div>
				</div>

			</div>
		</form>
		<style type="text/css">
		    #progressbar {
		        width:88px;
		        height:28px;
		        display:block;
		        #border-left:1px solid #ccc;
		        #border-right:1px solid #ccc;
		        #border-top:1px solid #ccc;
		        #border-top-right-radius: 8px;
		        #border-top-left-radius: 8px;
		        overflow:hidden;
		        background-color: white;
		    }

		    #progress {
		        display:block;
		        height:100px;
		        width:0%;
		    }

		    .progressbarValid {
		        background-color:green;
		        background-image: -o-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: -moz-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: -webkit-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: -ms-linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		     	background-image: linear-gradient(-90deg, #8AD702 0%, #389100 100%);
		    }

		    .progressbarInvalid {
		        background-color:red;
		        background-image: -o-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: -moz-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: -webkit-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: -ms-linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		     	background-image: linear-gradient(-90deg, #F94046 0%, #92080B 100%);
		    }

		</style>
	</div>
</div>