<div class="row">

    <div class="col-xs-3">
        <register-facets></register-facets>
    </div>

    <div class="col-xs-9 my_well my_well-white">

        <h1>Requests</h1>

        <div class="row row-same-height bg-litegrey" style="margin-bottom:20px;padding-top:10px;padding-bottom:10px;">
            <div class="col-xs-12">
                Information about this page.
            </div>
        </div>

        <h2 style="margin-top:30px;border:0;">Items requiring your attention</h2>
        <my-tasks></my-tasks>

        <h2 style="margin-top:30px;border:0;">Pending requests</h2>
        <my-pending-tasks></my-pending-tasks>

        <h2 style="margin-top:30px;border:0;">Completed requests</h2>
        <my-completed-tasks></my-completed-tasks>

    </div>
</div>
